
@{
    ViewBag.Title = "AboutJammu";
    Layout = "~/Views/Shared/JammuLayout.cshtml";
}

<div class="col-md-12">
    <p>
        Jammu & Kashmir (J&K) Is The Northern Most State In India. It Is Surrounded On The North By Afghanistan And China, On The East By China, On The South By Himachal Pradesh And Punjab In India, And On The West By The North-West Frontier Province And The Punjab Province Of Pakistan. Jammu And Kashmir Covers An Area Of 222,236 Sq Kms. (85,805 Sq Mi).
    </p>
    <p>
        The State Comprises Three Regions The Foothill Plains Of Jammu The Lakes And Blue Valleys Of Kashmir Rising To Alpine Passes, The High Altitude Plains And Starkly Beautiful Mountains Of Ladakh Which Lie Beyond Those Passes. The Indus River Flows Through Kashmir And The Jhelum River Rises In The Northeastern Portion Of The Territory.
    </p>

    <p>
        Kashmir Possesses A More Equable Climate Than That Of Southern And Central India. The Beautiful Valley Is A Noted Resort Region. While Srinagar Is J&K's Summer Capital, Jammu Is The Winter Capital.
    </p>

</div>