
@{
    ViewBag.Title = "AboutArunachalPradesh";
    Layout = "~/Views/Shared/ArunachalPradeshLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">The State</b>
</div>
<div class="well hidden-xs" style="padding:6px;">
    <img src="~/Content/img/Arunachal_Pradesh/map.jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
    <p>
        Arunachal Pradesh Is Called The Land Of The Rising Sun And Is Situated In The Trans-Himalayan Region Of The Extreme Northeast Of The Indian Subcontinent. Most Of The Terra Firma Constitutes Of The Himalayan Ranges, Of Intense Forested Land. The Altitudinal Variation Is Quite Diverse And Can Reach Till Very High Snow Covered Peaks. The State Shares 1928 Km Of International Boundary With Four Different Countries Namely Bhutan, Tibet, China And Burma.
    </p>
    <p>
        In The Past, Arunachal Pradesh Was Known As North Eastern Frontier Agency (NEFA), Until 1971, When The Government Carved A Union Territory Out Of It And Named It Arunachal Pradesh, And In 1987, It Was Declared As The 24th State Of India.
    </p>
    <p>
        The State Is Blessed With The Most Breathtaking Of Natural Beauty, Where More Than Eighty Percent Of The Total 84,000 Sq. Km, Is Covered In Forests. The Panoramic View Of Splendorous Landscapes Is Sure To Heal And Enlighten Any Straying Soul, And The Virginity Of Evergreen Tropical Rainforests Is Another Thing That Should Not Be Missed. More Than 5000 Plant Species, 600 Orchid Species, 500 Species Of Medicinal Plants, 85 Species Of Land Animals, 800 Species Of Birds, 500 Species Of Butterflies, And Countless Species Of Insects And Reptiles; Makes Arunachal One Of The Most Important Bio-Diversity Hotspot Of The World. And Yet, There Are Numerous Species That Await Discovery, From This Hard, Impenetrable, And Unexplored Land.    </p>
    <p>
        The Humans Of Arunachal Are In Themselves A Blessing. The State Is A Hotbed Of Indigenous Tribes Who Have Come From Distant Lands Of Asia, Stretching From All Directions Such As Mongolia, China, Tibet, And Thailand Etc. More Than 10 Main Tribes And Numerous Sub-Tribes Live A Remote Existence Here. The Innocence Of These Tribal People, Their Warm Hospitality, Naïve Smiles, Elegant Traditional Folk Dances, The Amazing Cultures And Complex Customs, Colorful Birds, Exotic Butterflies, Rare Untamed Animals, Wild Orchids, Medicinal Plants, Mysterious Bugs And Many Other Eccentric Flora And Fauna Adds New Dimensions To This Land Of Dawn Lit Mountains, Which Words Fail To Describe.    </p>
    
</div>