@{

    Layout = "~/Views/Shared/SikkimLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">The State</b>
</div>
<div class="col-md-12">
    <div class="col-md-8 col-sm-7">
        <p>
            Snuggled Cozily In The Himalayas, Sikkim Is The Second Smallest And The Least Populated State Of India. This Thumb-Shaped State Is Landlocked By Nepal, Tibet, Bhutan, And The Indian State Of West Bengal From All The Four Sides. Also Called ‘Indrakil’ Or The Garden Of Indra, Sikkim Is An Ancient Land That Has Been Mentioned In The Religious Scriptures Of The Hindus. Its Glorious History Utters That This State Has Been Influenced By The Neighboring Countries And Their Cultures. The ‘Lepchas’ Who Were The Very First Inhabitants Of Sikkim Fashioned The Customs And Traditions Of This State, While Keeping Their Own Distinctiveness Alive.
        </p>
        <p>
            The Seeds Of Buddhism Were Sown By Guru Rimpoche, Who Happened To Pass Through This Lovely State In The 9th Century. Gone Is The History, But The Impact That This Beautiful Has Made On The Minds Of People Would Certainly Be Remembered For The Ages To Come. As The Economy Of Sikkim Is Growing At A Fast Pace, It Has Been Found, and Tourism Prospects Are Contributing To The Major Part Of State’s Revenue. Gangtok, The Picturesque Hill-Station In The North-East, Serves As The State’s Administrative Capital.
        </p>
        <p>
            <b>Location:</b> Between Nepal, Bhutan & the Tibetan Autonomous Region of the People's Republic of China.
        </p>
    </div>
    <div class="col-md-4 col-sm-5 hidden-xs">
        <img src="~/Content/img/SikkimImages/Sikkim.jpg" class="img-rounded" />
    </div>
    <div class="clearfix"></div>
</div>
<div class="col-md-12">
    <table class="table table-bordered">
        <tr>
            <th>Area</th>
            <th>Population</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Capital</th>
        </tr>
        <tr>
            <td>7,096 sq Kms.</td>
            <td>Approximately 540851</td>
            <td>27 ° - 28° North</td>
            <td>88° - 89° East.</td>
            <td>Gangtok</td>
        </tr>
    </table>
</div>

