
@{
    ViewBag.Title = "AboutManipur";
    Layout = "~/Views/Shared/ManipurLayout.cshtml";
}
<div class="well hidden-xs" style="padding:6px;">
    <img src="~/Content/img/Bhutan/mapbhutan.jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
    <p>
        Manipur, As One Might Say Without Hesitation, Is A Paradise Come True On Earth. It Literally Means "The Jeweled Land". Manipur Is Richly Endowed With Natural Beauty And Splendour. Home To Sangai, A Rare Species Of Deer And Siroy Lily, The Only Terrestrial Lily Grown On The Hill Tops Of Siroi Hill, St. Clair Grimwood Described It As "A Pretty Place, More Beautiful Than Many Show Places Of The World." Late Pandit Jawaharlal Nehru Paid A Fitting Tribute By Describing It As "Jewel Of India". Manipur Is Bounded By Nagaland To Its North, Mizoram To Its South, Upper Myanmar To Its East And Cachar District Of Assam To Its West.
    </p>
    <p>
        Manipur Is Comprised Of Nine Districts: Bishnupur, Chandel, Churachandpur, Imphal East, Imphal West, Senapati, Tamenglong, Thoubal And Ukhrul.
    </p>
</div>
