
@{
    ViewBag.Title = "ApEconomy";
    Layout = "~/Views/Shared/ArunachalPradeshLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Economy </b>
</div>

<div class="col-md-12">
    <p>
        Arunachal Pradesh Is Predominantly An Agrarian Economy With Forest Products Coming A Close Second. 95% Of Its Population Is Rural. It Has Rich Bio-Reserves And Hydel Power Resources. Among The Crops Grown Here Are Rice, Maize, Millet, Wheat, Pulses, Sugarcane And Oilseeds. Arunachal Is Also Ideal For Horticulture And Fruits Like Pineapple, Orange, Lemon, Plum, Pear, Cherries, And Peaches Are Grown In Orchards. Besides An Abundant Forest Cover, It Has Deposits Of Dolomite, Limestone, Graphite, Quartzite, Kainite, Mica, Iron And Copper. Its Major Industries Are Sawmills, Plywood, Rice Mills, Fruit Preservation Units, And Handloom Handicrafts. However, Most Of The State’s Natural Resources Are Lying Untapped.    </p>
    
</div>

