@{
    ViewBag.Title = "ApFacts";
    Layout = "~/Views/Shared/ArunachalPradeshLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Facts & Figures</b>
</div>

<div class="col-md-12">
    <p>
        <div class="well" style="padding:10px;">
            <div class="col-md-4 comp-img hidden-sm">
                <img src="~/Content/img/Arunachal_Pradesh/greathornbill.jpg" class="resp-img" />
                <div class="description text-center">
                    <h3 class="details">GREAT HORNBILL</h3>
                    (State Bird)
                </div>
            </div>
            <div class="col-md-4 comp-img hidden-sm">
                <img src="~/Content/img/Arunachal_Pradesh/mithun.jpg" class="resp-img" />
                <div class="description text-center">
                    <h3 class="details">MITHUN</h3>
                    (State Animal)
                </div>
            </div>
            <div class="col-md-4 comp-img hidden-sm">
                <img src="~/Content/img/Arunachal_Pradesh/ladyslipper.jpg" class="resp-img" />
                <div class="description text-center">
                    <h3 class="details">LADY SLIPPER ORCHID</h3>
                    (State Flower)
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <table class="table table-bordered">
            <tr>
                <td style="width:200px;">Capital</td>
                <td>Itanagar</td>
            </tr>
            <tr>
                <td>Area</td>
                <td>83,743 Sq Km</td>
            </tr>
            <tr>
                <td>Latitude</td>
                <td>26.42° N To 29.30° N</td>
            </tr>
            <tr>
                <td>Longitude</td>
                <td>90.36° E To 97.30° E</td>
            </tr>
            <tr>
                <td>Districts</td>
                <td>16</td>
            </tr>
            <tr>
                <td>Population</td>
                <td>1,091,117</td>
            </tr>
            <tr>
                <td>Major Religions</td>
                <td>Hinduism , Buddhism, Christianity</td>
            </tr>
            <tr>
                <td>Climate</td>
                <td>Summers (March To May): Warm<br />Monsoons (June To September): Humid<br />Winters (October To February): Chilly</td>
            </tr>
            <tr>
                <td>Spoken Languages</td>
                <td>Monpa, Aka, Sherdukpen, Apatani, Hill Miri, Nishi, Tagin, Adi, Idu, Digaru, Miji, Khamti, Singpho, Tangsa, Nocti, Wanchoo, Assamese, Hindi, English</td>
            </tr>
            <tr>
                <td>Clothing Required</td>
                <td>Heavy Woolens In Winters, Light Woolens Or Cottons In Summers</td>
            </tr>
            <tr>
                <td>Best Time To Visit</td>
                <td>October To March</td>
            <tr>
                <td>Major Festivals</td>
                <td>Solung, Mopin,Losar, Boori-Boot, Dree, Nechi Dau, Khan, Kshyat-Sowai, Etc.</td>
            </tr>
            <tr>
                <td>Tourist Attractions</td>
                <td>Ita Fort, Mallini Than, Parasuram Kund, Brahma Kund, Tawang Monastery, Etc.</td>
            </tr>
        </table>

</div>
