
@{
    ViewBag.Title = "ApJewelleries";
    Layout = "~/Views/Shared/ArunachalPradeshLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Jewelries </b>
</div>
<div class="well" style="padding:10px;">
    <div class="col-md-6" style="padding:0px;">
        <img src="~/Content/img/Arunachal_Pradesh/Jewelries.jpg" class="img-bordered resp-img" />
    </div>
    <div class="col-md-6" style="padding:0px;">
        <img src="~/Content/img/Arunachal_Pradesh/jeweleries.jpg" class="img-bordered resp-img" />
    </div>
    <div class="clearfix"></div>
</div>



<div class="col-md-12">
    <p>
        There Are Around Twenty Major Tribes And Many Sub Tribes In Arunachal Pradesh, India, And So It Is No Wonder That There Is A Big Variety Of Tribal Jewelries In This Region. Anyway, You Can Notice Some Similar Elements: Practically In All Tribes Women Wear Numerous Necklaces, Bangles And Belts. Headbands Too Are Rather Common.     </p>
    <p>
        Multicolored Strings Of Glass Or Stone Beads Are Most Favouvered But In Southeast Arunachal Pradesh Beads Of Agate Stone, Brass, And Silver Are Also Used. Such Necklaces Adorn The Necks Not Only Of Women But Sometimes Of Men As Well. Every Bead Has Its Own Value According To Its Colour And Luster. Usually They Are Worn In Numerous Quantities.    </p>

    
</div>
