
@{
    ViewBag.Title = "Apoutside";
    Layout = "~/Views/Shared/ArunachalPradeshLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Outside Itanagar</b>
</div>

<div class="col-md-12">
    <h4 class="text-info">Tawang</h4>
    <p>
        Tawang Is A District As Well As A Town In Western Arunachal Pradesh. The Town Is Located At An Altitude Of 11,500Ft. At The Extreme North West Corner Of Arunachal Pradesh Surrounded In Three Sides By Bhutan And China. This Makes Tawang Difficult To Reach. But The Visitors Are Well Rewarded With The Grand Views Of The Alpine Mountains Surrounding Tawang.
    </p>
  
    <h4 class="text-info">Places Of Interest Outside Itanagar </h4>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Arunachal_Pradesh/tawang-monastery.jpg" alt="tawang-monastery" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="tawang-monastery" />
                </div>
            </div>
            <h5>Tawang Monastery</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Arunachal_Pradesh/Bhalukpong.jpg" alt="Bhalukpong " class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Bhalukpong " />
                </div>
            </div>
            <h5>Bhalukpong </h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Arunachal_Pradesh/Bomdila.jpg" alt="Bomdila " class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Bomdila " />
                </div>
            </div>
            <h5>Bomdila</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Arunachal_Pradesh/BumlaPass.jpg" alt="BumlaPass" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="BumlaPass" />
                </div>
            </div>
            <h5>Bumla Pass</h5>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Arunachal_Pradesh/DirangValley.jpg" alt="DirangValley" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="DirangValley" />
                </div>
            </div>
            <h5>Dirang Valley</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Arunachal_Pradesh/selapass.jpg" alt="selapass" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="selapass" />
                </div>
            </div>
            <h5>sela pass </h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Arunachal_Pradesh/Jaswant-Garh.jpg" alt="Jaswant-Garh" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Jaswant-Garh" />
                </div>
            </div>
            <h5>Jaswant Garh </h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Arunachal_Pradesh/Daporijo.jpg" alt="Daporijo" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Daporijo" />
                </div>
            </div>
            <h5>Daporijo</h5>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Arunachal_Pradesh/Malinithan.jpg" alt="Malinithan" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Malinithan" />
                </div>
            </div>
            <h5>Malinithan</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Arunachal_Pradesh/Pasighat.jpg" alt="Pasighat" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Pasighat" />
                </div>
            </div>
            <h5>Pasighat</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Arunachal_Pradesh/talleyvalley.jpg" alt="talleyvalley" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="talleyvalley" />
                </div>
            </div>
            <h5>Talley Valley</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Arunachal_Pradesh/MadhuriLake.jpg" alt="Sangetsar" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Sangetsar" />
                </div>
            </div>
            <h5>Sangetsar Lake (Madhuri Lake)</h5>
        </div>

    </div>
      <div class="row">
          
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Arunachal_Pradesh/ziro.jpg" alt="Ziro" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Ziro" />
                </div>
            </div>
            <h5>Ziro</h5>
        </div>

    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myPicLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="col-md-4 col-sm-5" style="padding:8px;">
                    <img src="" id="pic-path" class="img-rounded resp-img" />
                </div>
                <div class="col-md-8 col-sm-7" id="pic-details">

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script>
    $('.view input').on('click', function (e) {
        e.preventDefault();
        var alt = $(this).attr('id');
        if (alt == "tawang-monastery") {
            $('#myPicLabel').text('Tawang Monastery')
            $('#pic-path').attr('src', '/Content/img/Arunachal_Pradesh/tawang-monastery.jpg');
            $('#pic-details').html("<p>The Monastery Can Be Identified From A Distance Due To The Unique Yellow Rooftop Of All The Buildings. The Tawang Monastery Is The Second Largest In Asia And Was Build During The 17th Century. The Monastery Is Located A Couple Of Kilometers Away From The Center Of The Town. The Monastery Is Perched On Top Of A Hill. There Is A Museum Inside The Gompa Which Showcases Large Number Of Articles Of Historical As Well As Religious Significance. The Monastery Follows The Gelugpa Sect Of Mahayana School Of Buddhism. At The Center Of The Monastery Complex Is The Location Of A Large Assembly Hall That Contains A 28 Ft High Golden Buddha. There Are 17 Smaller Monasteries In The Area Which Are Controlled From The Tawang Monastery.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Bhalukpong ") {
            $('#myPicLabel').text('Bhalukpong ')
            $('#pic-path').attr('src', '/Content/img/Arunachal_Pradesh/Bhalukpong.jpg');
            $('#pic-details').html("<p>Bhalukpong Is Widely Popular As Nature’s Paradise. Bhalukpong Is A Situated In West Kameng District In The State Of Arunachal Pradesh,India. The Place Is Quite Close To Assam-Arunachal Pradesh Border. It Is Located At 60 Km North Of Tezpur. Bhalukpong In A. P. Is A Compelling Place For Wildlife Enthusiasts, Nature Lovers, Adventurers, Hikers, Rafters And Anglers.<br/>Bhalukpong Is A Doorway To Admired Destinations Like Tawang Andbomdila. The Charm Of The Place Is Amazing That Compels People To Visit And Explore The Beauty Of The Place. Kameng And Other Rivers Of The Place Sets With The Almighty Brahmaputra As It Rage Down The Himalayas. Bhalukpong Is Gifted With Cross-Border That Is A Blend Of The Natural And The Cultural Significance.,br/>Apart From Natural Loveliness The Culture Of The Place Is Quite Interesting. The Diverse Culture Of The City Is Exists Due To The Existence Of Various Tribes. The Residents Of Bhalukpong Celebrate Their Ethnic Culture And Religion Of The Place. Tourists Should Read The Travel Guide To Bhalukpong To Know More About The Place.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Bomdila ") {
            $('#myPicLabel').text('Bomdila ')
            $('#pic-path').attr('src', '/Content/img/Arunachal_Pradesh/Bomdila.jpg');
            $('#pic-details').html("<p>Bomdila Is Located In The West Of Kameng District Of Arunachal Pradesh. It Is Situated On The Ranges Of The Eastern Himalayas. The Scenic Beauty Of Bomdila Attracts Tourists To Spend Their Holidays In The Lap Of Nature. This Town Is Also Famous For Its Buddhist Monasteries And Apple Orchards. Nature And Adventure Lovers Visit This Place To Explore The Trekking Trails. Bomdila Offers Its Visitors The Mesmerizing View Of Kameng Valley And The Buddhist Monasteries Called As Gompas. Nechipu Pass, Kangto And Gorichan Peaks Are Frequently Visited By The Tourists.<br/>The Brief History Of The City States That It Was A Part Of The Kingdom Of Tibet. In 1873, The British Officials Brought This Area Under The State Of Arunachal Pradesh. After Independence, China Invaded The Area Around Bomdila. The City Reflects The Heritage Of Buddhist And Tibetan Culture. Orchid Research And Development Center, Craft Center, Ethnographic Museums Are Some More Attractions Of The City. April To October Is An Ideal Time To Visit Bomdila. Markets Of The City Are Filled With Various Items Such As Tibetan Carpets, Paintings And Tibetan Silk Paintings Known As ‘Thangkas’.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "DirangValley") {
            $('#myPicLabel').text('Dirang Valley')
            $('#pic-path').attr('src', '/Content/img/Arunachal_Pradesh/DirangValley.jpg');
            $('#pic-details').html("<p>Dirang Is A Small Town In The West Kameng District Of Arunachal Pradesh. It Is Located About 43 Km From Bomdila On The Way To Tawang. The Town Is Mostly Used By Tourists For Overnight Halt On The Way To Tawang.<br/>The Distance Between Jorhat In Assam And Tawang In Arunachal Pradesh Is More Than 320Kms. And Given The Road Condition In The Area, The Total Travel Time Can Be Anywhere Between 12 To 18 Hrs. Dirang Is Ideally Located Almost Halfway In Between. As A Result It Has Come Up As A Overnight Destination For Tourists Visiting Tawang. Dirang And Bomdila Are Both Overnight Destinations. Most Tourists Stay In One Of These Two Places While Going And In The Other Place While Returning.<br/>Dirang Is A Small Town On The Bank Of River Kameng (Known As Jia Bharali In Assam). Since It Is At The River Valley The Altitude Is Relatively Low (4900Ft). The Weather Here Is Also Not Very Cold And Pleasant During Most Of The Year.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "selapass") {
            $('#myPicLabel').text('sela pass')
            $('#pic-path').attr('src', '/Content/img/Arunachal_Pradesh/selapass.jpg');
            $('#pic-details').html("<p>At An Altitude Of About 13,700Ft. This Is One Of The Highest Pass In The Area (La In Tibetan Language Means Pass). Sela Can Be Reached After A Steep Ascent And The Last Mile To The Pass Is Quite Treacherous. There Is A Very Long Ridge That Separates Tawang Area From The Rest Of Arunachal. Sela Is The Only Pass Through Which A Tourist Can Reach Tawang.<br/>There Is A Lake On The Pass Offering Beautiful View. You May Stop Over At The Tea Stall Near The Lake And Take A Break Provided You Are Ready To Brave The Chilly Wind Blowing Through The Pass Almost Through All Hours.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Jaswant-Garh") {
            $('#myPicLabel').text('Jaswant Garh')
            $('#pic-path').attr('src', '/Content/img/Arunachal_Pradesh/Jaswant-Garh.jpg');
            $('#pic-details').html("<p>On Your Way To Tawang, About 14 Km Before Sela Pass And About Couple Of Hours Journey Still Left To Reach Tawang, You Will Reach Jaswantgarh War Memorial. The Place Is A Memorial For The Soldiers Who Fought The 1962 Indo Chinese War. There Are A Number Of Crematories Of The Soldiers And You Can See A Large Number Of Bunkers As Remnants Of The War. This Is A Good Place To Stop Over On Your Way To Tawang And Have A Cup Of 'Chai'.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "nuranang-falls") {
            $('#myPicLabel').text('Nurang Water Falls (Jang)')
            $('#pic-path').attr('src', '/Content/img/Arunachal_Pradesh/nuranang-falls.jpg');
            $('#pic-details').html("<p>As You Move On From Sela Pass You Will Soon Get To See Tawang On The Mountain In Front. But To Reach Tawang You Have To Go Down To The Valley Below, Cross A Small Stream And Climb The Hill On The Other Side, Spending More Than 2 Hours In The Process. As You Reach The Bottom Of The Hill, You Will Pass By A Small Village Called Jang. From Jang You Take A Right Turn And Drive A Couple Of Kms To Reach The Nuranang Water Fall. It Is A Large Water Fall Amongst Beautiful Surrounding. The Site Has Been Used For Some Hindi Movies As Well. There Is A 6 Megawatt Hydro Electric Plant Adjacent To The Water Fall.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "BumlaPass") {
            $('#myPicLabel').text('Bumla Pass')
            $('#pic-path').attr('src', '/Content/img/Arunachal_Pradesh/BumlaPass.jpg');
            $('#pic-details').html("<p>The Bumla Pass Is Located About 37Kms. Away From Tawang In Arunachal Pradesh, At The Indo-China Border Above 16,500Ft. <br/>A Special Permit Is Required To Visit Bumla Pass. The Permits Can Be Requested At The Office Of The Deputy Commissioner In Tawang District, And The Same Has To Be Stamped In The Indian Army Cantonment Of Tawang. It Is Also To Be Noted That Without The Army Stamp, You Will Not Be Allowed Through The Numerous Check Posts On The Way. </p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Sangetsar") {
            $('#myPicLabel').text('Sangetsar Lake (Madhuri Lake)')
            $('#pic-path').attr('src', '/Content/img/Arunachal_Pradesh/MadhuriLake.jpg');
            $('#pic-details').html("<p>Nestled Amidst The Pristine Mountains And Picturesque Surrounding, Is The Beautiful Madhuri Lake. The Original Name Of This Lake Is Sangetsar Lake. However, Since This Site Was Filmed In Famous Hindi Bollywood Movie Koyla, It Came To Be Renamed After The Beautiful Indian Actress, Madhuri Dixit. This Was The Place That Had Been Chosen For Shooting The Famous And Melodious Song “Tanhai Tanhai Tanhai, Dono Ko Paas Le Aayi”. This Lake Is Learnt To Have Been Formed As An Outcome Of A Major Earthquack In Year 1950. Its Original Name I.E. Sangetsar Has Been Derived From “Jang Nga Tseir”. While “Jang Nga” Stands For Valley, “Tseir” Implies “The Grazing Ground”. Prior To The Earthquake, This Piece Of Land Used To Be Employed As The Grazing Ground For The Cattle. The Evidence Of It Can Be Seen In The Protruding Trunks Of The Dead Trees From The Middle Of The Lake. The Lake Has Been Under Supervision Of Army Men, Who Have Also Arranged For A Cafeteria Nearby. Tourists Can Relish On The Delicious Momos, Maggis Topped With A Cup Of Tasty Coffee Or Tea. Tourists Can Also Take To Trekking Around The Lake While Enjoying The Gentle Lashes Of The Pleasant Breeze Around.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Ziro") {
            $('#myPicLabel').text('Ziro')
            $('#pic-path').attr('src', '/Content/img/Arunachal_Pradesh/ziro.jpg');
            $('#pic-details').html("<p>Ziro (167 Km From Itanagar) Is A Beautiful Plateau And The Headquarters Of Lower Subansiri District. It Is One Of The Oldest Towns In Arunachal Pradesh.<br/>This Beautiful Hill Station Is Located 1500 Metres Above Sea Level. The Place Has An Imposing Landscape Of Beautiful Lush Green Forest, Rivulets And Elevated Patches. It Is Famous For Paddy-Cum-Pisciculture Cultivation. The Area Is Renowned For The Terrace Paddy Fields Where The Unique System Of Poly-Culture And Water Management Is Practiced By The Local People.<br/> Mainly Inhabited By The Apatani Tribe, The Town Wears A Festive Look During Festivals Celebrated By The Apatani People.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "talleyvalley") {
            $('#myPicLabel').text('Bumla Pass')
            $('#pic-path').attr('src', '/Content/img/Arunachal_Pradesh/talleyvalley.jpg');
            $('#pic-details').html("<p>Talley Valley Is A Wildlife Sanctuary As Well As A Bio-Diversity Hotspot Located At A Distance Of 32 Kms From Ziro Towards The North East. Comprising Sub-Tropical And Alpine Forests It Has A Variety Of Flora And Fauna, Many Of Which Are Endangered. The Place Offers Great Trekking Opportunities.<br/>Talley Valley Reserved Forest And Talle Wildlife Sanctuary Is Situated At An Elevated Level With Rivers Like Pange, Sipu, Karing And Subansiri Flowing Through The Reserved Forest And Sanctuary. It Is Home To Highly Endangered Species Like Clouded Leopard. Pleioblastus Simone Is A Bamboo Variety Only Found In Talley Valley.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Daporijo") {
            $('#myPicLabel').text('Daporijo')
            $('#pic-path').attr('src', '/Content/img/Arunachal_Pradesh/Daporijo.jpg');
            $('#pic-details').html("<p>It Is 327 Km From Itanagar And 160 Km From Ziro And Is The Headquarters Of Upper Subansiri District Situated By The Side Of The Subansiri River. Daporijo Is A Small Scenic Town Where One Can See Suspension Bridges Over Subansiri River Made From Bamboo And Cane - A Testimony Of Rich Tribal Craftsmanship.<br/> The Sigem-Daporijo Reserve Forest And Kamala Reserve Forest With Its Rich Avi-Fauna Diversity Are Worth Seeing. Subansiri River Is Also Ideal For River Rafting, Angling And Picnic. Museum And Craft Centre Are Other Places Which Could Hold Your Interest.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Malinithan") {
            $('#myPicLabel').text('Malinithan')
            $('#pic-path').attr('src', '/Content/img/Arunachal_Pradesh/Malinithan.jpg');
            $('#pic-details').html("<p>A Place Of Relics On Stones With Ruins Of Temples And Valuable Sculptures Is Associated With The Mythological Legend Of Lord Krishna. The Site Has A Temple Ruin Dating Back To 10th & 14th Century AD Of Rich Sculptural And Architectural Value. Beautifully Designed And Decorated Basement Of Temple, Divine Images, Icons And Deities – Animal Motifs And Floral Designs, Carved Columns And Panels Have Been Unearthed. It Is Believed That On The Way To Dwarka From Bhismaknagar, Krishna & Rukmini Rested Here And They Were Offered Choicest Flowers By Goddess Parvati. Malinithan Was A Cultural Centre Of North-East India In The Remote Past.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Pasighat") {
            $('#myPicLabel').text('Pasighat')
            $('#pic-path').attr('src', '/Content/img/Arunachal_Pradesh/Pasighat.jpg');
            $('#pic-details').html("<p>Pasighat Is The Headquarters Of East Siang District In The Indian State Of Arunachal Pradesh. Situated At 155m, Pasighat Is The Land Of The Mighty Siang And Indigenous Hanging Bridges. Round Cane Rings, Swinging Strings, Shattered Wooden Pavements Dangling Above The Mighty Siang Makes It A Picture Perfect Moment Of Thrill And Adventure. </p>");
            $('#myModal').modal('show');
        }
     
    });

</script>
