@{
    ViewBag.Title = "ApShopping";
    Layout = "~/Views/Shared/ArunachalPradeshLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Shopping </b>
</div>
<div class="well" style="padding:10px;">
    <div class="col-md-6" style="padding:0px;">
        <img src="~/Content/img/Arunachal_Pradesh/shopping.jpg" class="img-bordered resp-img" />
    </div>
    <div class="col-md-6" style="padding:0px;">
        <img src="~/Content/img/Arunachal_Pradesh/shopping1.jpg" class="img-bordered resp-img" />
    </div>
    <div class="clearfix"></div>
</div>



<div class="col-md-12">
    <p>
        While You Are On Your Tour, Shopping Is One Attraction, Which Always Attracts You. You Look For Things, Which Is Famous In Those Particular Places, Which You Are Touring. When You Are On Your Tour To Arunachal Pradesh, And You Go For Shopping, You Will Find Handicrafts Items Dominating The Shopping Areas. Arunachal Pradesh Is Famous For Art & Craft Items. The Handicraft Of Aruncahal Is Unique And Exquisite, Rare To Find Elsewhere. A Wide Spectrum Of Elegant Crafts Such As Weaving, Painting, Pottery, Smithy Work, Basketry, Woodcarving, Cane & Bamboo Work, Carpet Making Etc. Are Found Among The People Of Arunachal Pradesh.

    </p>
    <h4 class="text-info">Things You Can Buy</h4>
    <b>Ornaments</b><br />
    <p>
        Ornaments Making Is A Craft Widely Practised In Arunachal Pradesh. The Work Of A Silver Smith Is More Intricate And Artistic. Besides Beads Of Various Colours And Sizes Blue Feathered Wings Of Birds And Green Wings Of Beetles Are Also Used In Decoration. The Akas Make Bamboo Bangles And Ear Ornament Which Are Sometimes Decorated With Pocker Work Designs. Most Of The Ornaments Are Made Of Beads As The Tribes Are Very Fond Of It.
    </p>
    <p>
        <b>Wood Carvings</b><br />
        Wood Carving Is A Tradition With Some Of The Tribes Of Arunachal Pradesh. The Monpas, Khamtis, Wanchos, Phom, Konyak Tribes Occupy Significant Place In This Art.
    </p>
    <p>
        The Monpa Wood Carver Make Beautiful Cups, Dishes, Fruit Bowls And Carve Magnificant Masks For Ceremonial Dance And Pantomimes. The Sherdukpen The Khampa And The Monpa Make Masks Which Appear Almost Like Real Faces, While Other Represent Birds And Animals And Some Represent Apes And Men Twisted Mouths, Women With Goire To Drive Away The Evil Spirit. The Masks Are Made Of A Single Block Of Wood Hollowed Inside; Holes Are Usually But Not Always, Made For Eyes And Mouths; Most Masks Are Painted, But The Older Ones Are Generally Found Dark And Discoloured.
    </p>

    <p>
        <b>Weaved Items</b><br />
        Weaving Is The Occupation Of The Womenfolk Throughout The Territory. They Have An Excellent Sense Of Colour. Crafting Ornaments Is Another Art Widely Practised By The Arunachalis. The Rich Heritage Of Art And Crafts Of Arunachal Pradesh Is Sure To Add Colour To The Cultural Heritage Of The Country.
    </p>
    <p>
        A Few Of The Woven Products That Deserves Mention Are Sherdukpen Shawls, Apatani Jackets And Scarves, Adi Skirts, Jackets And Bags, Mishmi Shawls, Blouses And Jackets And Wancho Bags And Loin Cloths.
    </p>
    <p>
        <b>Cane And Bamboo Works</b><br />
        Cane And Bamboo Industry Of Arunachal Pradesh Is Of Very High Standard. Most Of The Domestic Requirements Are Made Of Cane And Bamboo. Hats Of Different Sizes And Shapes, Various Kinds Of Baskets, Cane Vessels, A Wide Variety Of Cane Belts, Woven And Plains, Elaborately Woven Brassier Of Cane And Fibre, Bamboo Mugs With Carvings, A Variety Of Ornaments And Necklace Are Some Of The Products That Deserve Special Mention.
    </p>
    <p>
        <b>Carpets</b><br />
        Carpet Making Is The Speciality Of The Monpas. They Weave Lovely Colourful Carpets With Dragon, Geometric And Floral Designs. The Choice Of Colour And The Colour Combination Is Unique. Though Originally They Weave Carpet For Domestic Use, It Has Now Become An Item Of Trade And A Major Occupation For Some Ladies.
    </p>
    <p>
        <b>Other Craft Items</b><br />
        Paper Makings, Smithy Work, Carpentry, Pottery And Ivory Work Are Other Crafts Practiced By The People.
    </p>
</div>
