
@{
    ViewBag.Title = "APWhiteWaterRafting";
    Layout = "~/Views/Shared/ArunachalPradeshLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">White Water Rafting</b>
</div>

<div class="col-md-12">
    <p>
        Go Rafting On The Mighty Brahmaputra River And Its Tributaries- Lohit And Subansari. You Can Enjoy The Thrilling Rapids While Rafting On The Siang Lake Which Is Even Called The Upper Brahmaputra Region. Rafters Can Also Traverse Through The Narrow Valleys Of Ninnguin And Marmong And Enjoy Splendid Views Of Abundant Greens Surrounding Them. For The Travelers Experiencing Rafting For The First Time, It Is Best Advised Not To Step In Waters Without A Trained Guide. The Rafting Camps By The River Will Provide You With The Necessary Equipments And Skilled Guides For Your Rafting Expedition. The Best Time To Go Rafting In Arunachal Pradesh Is In Months Between November And March. However, Monsoons Should Be Best Avoided Because Of The Strong Currents Prevailing In The Rivers. Make Sure You Carry Your Swimsuits, Towel, Extra Pair Of Clothing And Sun Tan Lotion.

    </p>
</div>
