
@{
    ViewBag.Title = "AssamReligiousPlace";
    Layout = "~/Views/Shared/AssamLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Religious Place</b>
</div>

<div class="col-md-12">
    <p>

        <b>Auniati Satra</b><br />
        <b>Location: Majuli, Jorhat (Assam)</b><br />
        Auniati Satra Was Established In The Month Of October 1653. After Accepting The Hindu Religion, The Ahom King Jayadhwaja Singha Established This Satra And Shri Shri Niranjan Deb Goswami Became The Founder Satradhikar. At The Time Of Establishment Of This Satra, The Surrounding Land Was Full Of Aunipan (A Kind Of Betel Creeper) And Atimeans Elevated Land. That Is Why It Is Called Auniati Satra. Auniati Satra Belongs To Brahma Sanghati Order.
    </p>
    <p>

        <b>Dakhinpat Satra</b><br />
        <b>Location: Majuli, Jorhat (Assam)</b><br />
        Under Ahom Partronage Of Swargadeo Jayadhwaja Singha, Banamalidev Established Dakhinpat Satra In 1584. It Is Located In The South Bank Of The River Brahmaputra. The Name Of "Dakhinpat" Is Derived From Two 
    </p>
    <p>
                Words"Dakhin" Means South And "Pat" Means Port. Its Original Established Place Was Gosaibari, Majuli. Mainly Two Festivals Are Observed In Dakhinpat Satra - Raslila Andfalgutsav (Holi).
    </p>
    <p>
        <b>Chamoguri Satra</b><br />
        <b>Location: Majuli, Jorhat (Assam)</b><br />
        Ahom Swargadeu Cacradhwaj Singha Established This Satra At Johakhat, Majuli In 1663. Afterwards This Satra Was Divided Into Another Branch Namely Natunchamoguri Satra Which Is Located Near The Market Place Of Rawanapar. The Present Satradhikar Of This Satra Is Shri Shri Koshakantadev Goswami Who Is The Recipient Ofsanget Ntak Academy Award Of 2003 For The Art Of Traditional Mask Making. This Satra Is Belongs To Purusha Sanhoti.
    </p>
    <p>
        <b>Bhugpur Satra</b><br />
        <b>Location: Majuli, Jorhat (Assam)</b><br />
        The Bhugpur Satra Is Situated About Five Kilometers Eastwards From Kamalabari. It Was Established In The Year 1528. Shri Shri Duttadev Goswami Is The Present Satradhikar Of This Satra. Religious Festivals In Bhugpursatra Are Birth And Death Anniversaries Of Sankardev And Madhabdev.
    </p>
    <p>
        <b>Basistha Ashram</b><br />
        <b>Location: Guwahati, (Assam)</b><br />
        Basistha Temple, Located In The South-East Corner Of Guwahati City Is A Shiva Mandir Constructed By Ahom King Rajeswar Singha Along With Gift Of Land 835 Bighas For Theashram. The History Of The Basistha Ashram Where The Temple Is Located Dates Back To The Vedic Age. According To Legend The Ashram Was Founded By The Great Saint Basistha. Temple In The Ashram Stands On The Bank Of The Mountain Streams Originating From The Hills Of Meghalaya, Which Becomes The Rivers Basistha And Bahini/Bharalu Flowing Through The City.

    </p>
    <p>
        <b>Borpeta Satra</b><br />
       <b> Location: Borpeta, (Assam)</b><br />
        Sri Sri Madhavdev Established The Borpeta Satra 500 Years Back. He Stayed There For Eight Long Years And Spent Most Of His Time By Preaching The Religion Ofvaishnavism And Doing Ankia Nat Bhawna. The Satra Has Several Buildings. The Front Gate Is Called "Batsora" Which The Local People Called It "Dalan". The Main "Kirtanghar" Is Where Prayers Or "Naam-Kirtan" Are Performed.


    </p>
    
</div>