
@{
    ViewBag.Title = "AssamaMountainBiking";
    Layout = "~/Views/Shared/AssamLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Mountain Biking</b>
</div>
<div class="well" style="padding:18px;">
    <img src="~/Content/img/Assam/Mountain-Biking-Assam.jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
    <p>
      
        The Hilly Terrain Offers Very Good Challenge To Mountain Bikers. The Tourism Department In Collaboration With The Assam Tourism Development Corporation And Other Adventure Organisations Has Organised Several Bicycle And Motorbike Rallies In And Outside The State. Several Foreign Groups Including Individual Tourists Have Visited The State By Mountain Bike.

    </p>


</div>