
@{
    ViewBag.Title = "AssamArtCraft";
    Layout = "~/Views/Shared/AssamLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Arts & Crafts </b>
</div>
<div class="well" style="padding:18px;">
    <img src="~/Content/img/Assam/Arts-&-Crafts-Of-Assam.jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
    <p>
        From Time Immemorial, The People Of Assam Have Traditionally Been Craftsmen. The Magic Of Art Of Assamese Craftsmen Is A Common Passion Inspiring The Deep Senses With Its’ Age Old Simplicity And Sophistication. Though, Assam Is Renown For Its Exquisite Silks, Bamboo And Cane Products, Several Other Crafts Are Also Made Here. The Colourful Handicraft Items Of Assamese Japi (Headgear), Terracotta Of Gauripur And Various Decorative Items Bear Witness To The Craftsmanship Of This Land. Assam Handloom Is Indeed Noteworthy Offering A Mosaic Of Colours And Contours With Pleasing Motifs And Designs. The Eri, Muga (Assamese Silk Dresses) And Typical Tribal Attires Are A Treat To The Eyes Of The Beholder.     </p>
    <p>
        
        Dance, Music, Woodwork, Pottery, Sitalpati Or The Art Of Mat Making Have Survived Through Centuries With Fewer Changes Since It Remained An Integral Part Of The Locals. The Advent Of Modernity, Indeed, Has Brought A Change In The Everyday Lifestyle Of The Tribals, Yet The Basic Arts And Crafts, And Their Technique Of Production Has Not Changed Much.     </p>
    <p>
        
        The Land Of Ahoms, Assam Has A Rich Cultural Tradition, Which Finds Detail In Several Arts And Crafts Form And Many Handicraft Products Of Assam. The Natural Beauty Of Assam, Is Said To Be Reflected, In Them.
    </p>


</div>