
@{
    ViewBag.Title = "AssamReligion";
    Layout = "~/Views/Shared/AssamLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Religion  </b>
</div>

<div class="col-md-12">
    <p>

        The Major Religions Of Assam Are Christianity, Hinduism, Sikhism, Islam And Buddhism. Apart From These, There Are People Who Follow Animism, Brahmanism, Vaishnavism And Tantricism.    </p>

    <p>
        More Than Fifty Percent Of The People Of Assam Follow Hinduism. There Are Several Temples Of Hindu Gods And Goddesses. Kamakhya Temple Is A Significant Temple In Assam. After Hinduism, Islam Is The Second Predominant Religion That Is Followed By Almost 30 Percent Of The People Of The State. Almost 3.75 Percent Of The People Follow Christianity. 
    </p>
    <p>
        A Large Section Of The People Is Part Of The Brahmo Samaj, A Monotheistic Sect Of Hinduism, Which Is Propagated By Gurudev Kalicharan Brahmachari. 
    </p>
</div>