
@{
    ViewBag.Title = "AssamFestivals";
    Layout = "~/Views/Shared/AssamLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Festivals   </b>
</div>
<div class="well" style="padding:18px;">
    <img src="~/Content/img/Assam/1.jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
    <p>

        The Bihus Are The National Festivals Of Assam. There Are Three Bihus, In The Months Of January, April And October, And Have Been Celebrated In Assam From Ancient Times. 
    </p>
    <p>

        Each Bihu Coincides With A Distinctive Phase In The Farming Calendar. The Bohaag Bihu Marks The New Year At The Advent Of Seeding Time, The Kaati Bihu Marks The Completion Of Sowing And Transplanting Of Paddies, And The Maagh Bihu Marks The End Of The Harvesting Period.     </p>

    <p>

        In This Agrarian State, Joie De Vivre Typifies The Celebration Of Bihu With The Rich And The Poor Dancing Together To The Sound Of The Bihu Drums – Mother Nature Been Bountiful Again! Even If She Hasn’t, There’s Next Year.    </p>

</div>