
@{
    ViewBag.Title = "AssamMuseum";
    Layout = "~/Views/Shared/AssamLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading"> Museum </b>
</div>
<div class="well" style="padding:18px;">
    <img src="~/Content/img/Assam/Assam-State-Museum.jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
    <p>
       

        <b>Assam State Museum</b><br/>
        The Assam State Museum Is Located In The Southern End Of Dighali Pukhuri Tank Which Is In The Heart Of Guwahati City, Assam. The Museum Was Established By The Kamarupa Anusandhan Samiti (Assam Research Society) In 1940. Late Kanklal Baruah Was Founder President. In The Year 1953, It Was Taken Over By The State Govt.

    </p>
    <p>
        <b>Collection</b><br />
        Assam State Museum Surpasses All The Other Museums In India, As One Of The Biggest Multipurpose Museum. The Exhibits Of The Museum Are Displayed Under Different Sections, Viz., Epigraphy, Sculptures-The Sculptures From The Assam Region Fall Into Four Principal Categories - Stone, Wood, Metal And Terracotta, Miscellaneous, Natural History, Crafts, Anthropology & Folk Art & Arms Section. The Collections Which Are On Display Here, Are Very Rare.
    </p>
    <p>
        The Library In Assam State Museum Was Established In 1985, Is Rich In Its Stenographic Collections. There Are Various Periodicals, Journals And Books Relating To Art, Culture, Mythology, Biography, Encyclopedic Works And Even The Asiatic Society Journals Of The Country.
    </p>
    <p>
        <b> Visiting Hours</b><br />
       
        The Museum Remains Open 06 Days From 10:00am – 5:00pm During Summers And From 1000 Hrs. To 1630Hrs. During Winters Except On Mondays; 2nd And 4th Saturdays And Government Holidays.



    </p>


</div>