
@{
    ViewBag.Title = "AssamaGolf";
    Layout = "~/Views/Shared/AssamLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Golf</b>
</div>
<div class="well" style="padding:18px;">
    <img src="~/Content/img/Assam/Golf.jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
    <p>
        Most Of The Tea Gardens Of Assam Have Golf Courses Attached To Them. All Of Them Are 9 Hole Golf Courses Except For Digboi Which Is An Eighteen Hole Course. A Stay In The Tea Garden, Playing Golf And Driving Through Tea Country Is An Unforgettable Experience.

    </p>


</div>