
@{
    ViewBag.Title = "AssamaBoatRacing";
    Layout = "~/Views/Shared/AssamLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Boat Racing</b>
</div>

<div class="col-md-12">
    <p>
        Boat Racing

        Boat Racing Is A Very Popular Sport Of The State. People Very Often Organise Boat Racing During Festive Occasions At Places Like Hajo, Saulkuchi, Barpeta, Guwahati Etc. The Involvement Of The Masses In This Sport Can Be Compared With The Snake-Boat Racing In Kerala.

    </p>


</div>