
@{
    Layout = "~/Views/Shared/BhutanLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Do’s & Don’ts</b>
</div>
<div class="col-md-12">
    <ul class="customizedbullet">
        <li>
            Taking Pictures Inside The Alters Of The Dzongs (Fortress), Temples And Monasteries Is Strictly Prohibited.
        </li>
        <li>
            Take Off Your Hats In Front Of The Dzongs, Temples And National Flags.
        </li>
        <li>
            Visitors Should Be Properly Dressed With Long Sleeves Shirts And Pants To Visit Dzongs, Temples, Monasteries, Schools And Any Government Institutions.
        </li>
        <li>
            Always Walk Clockwise While Crossing The Dzongs, Temples, Monasteries, Prayer Flags Or Religious Artifacts.
        </li>
        <li>
            Get Permission Before You Take The Pictures Of The People And Religious Items.
        </li>
        <li>
            Do Not Give Sweets, Money, Pencils, Pens Etc, To The Children.
        </li>
        <li>
            Although Bhutan Is Safe, We Advise You To Keep Your Valuable Items Like Wallets, Cameras, Passport Etc In Safe Place.
        </li>
        <li>
            Be Careful With Street Dogs And Domestic Dogs, Do Not Tease Or Play With Them As They Are Not Friendly In Bhutan. Sometime Dogs Are Nuisance At Night Too.
        </li>
        <li>
            Please Do Not Forget To Check Your Arrival/Departure Dates, Time, Sector And Email One Day Prior To Your Arrival In Bhutan.
        </li>
        <li>
            Public Displays Of Affection Between Men And Women, Men And Men And Women And Women Are Not Common. Please Refrain From Doing This In Public Places.
        </li>
        <li>
            Smoking In Public Places Is Not Allowed In Bhutan.
        </li>
        <li>
            Buying Of Antiques From Bhutan Is Strictly Monitored By The Custom At The Check Points. Please Always Buy Goods With Cash Memo Or Original Bills/Invoices.
        </li>
    </ul>
</div>
