
@{
    Layout = "~/Views/Shared/BhutanLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Fishing </b>
</div>
<div class="well hidden-xs" style="padding:10px;">
    <div class="col-md-6 col-sm-6" style="padding:0px;">
        <img src="~/Content/img/Bhutan/fishing.jpg" class="img-bordered resp-img" />
    </div>
    <div class="col-md-6 col-sm-6" style="padding:0px;">
        <img src="~/Content/img/Bhutan/fishing1.jpg" class="img-bordered resp-img" />
    </div>
    <div class="clearfix"></div>
</div>
<div class="col-md-12">
    <p>
        Bhutan Has Many Snow Fed River System And Lakes With Little Or No Fishing Pressure. Since Fishing In Bhutan Remains Largely Unexploited, Most Of The Rivers Are Teeming With Masheer, Snow Trout And Brown Trout. Fishing Is Permitted Only In Some Identified Locations At Certain Time Of Year For Tourist/ Visitors With Valid Fishing Permits. The Fishing Spots Are Large And Small Rivers, Spring-Fed Streams And Lakes Mainly At The Altitude Ranging From 1200m To 3000m.
    </p>
    <p>
        You Can Also Proceed On Trekking And Fishing Adventure In The Picturesque Lakes That Dot High Altitude Region And Valleys Or Fishing During The Day And Sightseeing Along The Way And Camping On The Rivers Banks. We Can Offer You Rejuvenating Experience To Take Back Home.
    </p>
    <b>Fishing Is Permitted In Following Locations</b>
    <ol class="lipadding">
        <li>Thimphu Valley- Western Bhutan</li>
        <li>Lhuentse Valley- North-East Bhutan</li>
        <li>Paro Valley – Western Region</li>
        <li>Trongsa Valley- Central Bhutan</li>
        <li>Bumthang Valley- Central Bhutan</li>
    </ol>
    <p>
        Fishing Is Permitted From 1st January To 28th February And 1st June To 30th September.<br />
        You Can Bring Your Own Equipments Or It Is Available To Hire.<br />
        Fishing Permit Fee Is Around US $ 10 Per Day.<br />
        Passport Scan Copy And Passport Size Photo Required For The Permit.
    </p>
</div>
