
@{
    Layout = "~/Views/Shared/BhutanLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Trekking Permits</b>
</div>
<div class="col-md-12">
    <p>
        Trekking In Bhutan Is Only Allowed Along Permitted Routes. You Must Organize Your Tour Through A Travel Agent In Bhutan And They Will Organize Your Visa And Permits. The Government Charges A Daily Fee Per Tourist – US$65 In High Season And US$55 In Low Season.
    </p>
</div>