@{
    Layout = "~/Views/Shared/BhutanLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Festivals</b>
</div>
<div class="well hidden-xs" style="padding:10px;">
    <div class="col-md-6 col-sm-6" style="padding:0px;">
        <img src="~/Content/img/Bhutan/bhufest.jpg" class="img-bordered resp-img" />
    </div>
    <div class="col-md-6 col-sm-6" style="padding:0px;">
        <img src="~/Content/img/Bhutan/bhufest1.jpg" class="img-bordered resp-img" />
    </div>
    <div class="clearfix"></div>
</div>
<div class="col-md-12">
    <p>
        The Tsechu Is A Festival In Honor Of Guru Padmasambava - "One Who Was Born From A Lotus Flower", Popularly Known As "Guru Rinpoche",
        The Precious Teacher. This Saint Contributed Enormously To The Diffusion Of Tantric Buddhism In The Himalayan Regions Of Tibet , Nepal , Bhutan Etc.
        The Tsechu Is A Religious Festival And By Attending It, It Is Believed One Gains Merits. It Is Also A Yearly Social Gathering Where The People Gather To Rejoice, Dressed In Finery.In Order That Bhutan Can Rejoice In Continued Happiness, Many Learned Lamas Established The Tradition Of These Dances. The Deities Of The Tantric Teaching Are Invoked During These Dances. Through Their Power And Benediction, All Misfortunes Are Annihilated, And Peace And Happiness Reign.
    </p>
    <p>
        The Most Popular Events In The Cultural Itinerary Are The Thimphu , Paro, Punakha, Wangdue And Bumthang Tshechus / Festival. 
    </p>
    <b>Tentative Festival Dates For 2015 & 2016 - (Updated) </b>
    <table class="table table-bordered text-left">
        <tr>
            <th>Sl</th>
            <th>Festival</th>
            <th>Place</th>
            <th>2015 (Exact Date)</th>
            <th>2016 (Tentative Dates)</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Takin Festival</td>
            <td>Damji, Gasa</td>
            <td>21st February</td>
            <td>-</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Nomad Festival</td>
            <td>Nagsephel, Bumthang</td>
            <td>22nd February</td>
            <td>-</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Bhutan International Marathon</td>
            <td>(Annual Event Organized By Boc)</td>
            <td>23rd February</td>
            <td>-</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Punakha Drubchen</td>
            <td>Punakha Dzong, Punakha</td>
            <td>23rd – 27th February</td>
            <td>13th -16th February</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Punakha Tshechu</td>
            <td>Punakha Dzong, Punakha</td>
            <td>28th Feb – 2nd March</td>
            <td>17th – 19th February</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Tharpaling Thongdrol</td>
            <td>Tharpaling Lhakhang, Chummi, Bumthang</td>
            <td>5th March</td>
            <td>22nd February</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Chhorten Kora</td>
            <td>Chorten Kora, Trashiyangtshe</td>
            <td>5th March & 20th March</td>
            <td>22nd February & 9th March</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Gomphukora</td>
            <td>Gom Kora Lhakhang,Trashigang</td>
            <td>27th – 29th March</td>
            <td>16th -18th March</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Talo Tshechu</td>
            <td>Talo Gonpa,Punakha</td>
            <td>27th – 29th March</td>
            <td>16th -18th March</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Gasa Tshechu</td>
            <td>Gasa Dzong, Gasa</td>
            <td>27th – 30th March</td>
            <td>14th -18th March</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Zhemgang Tshechu</td>
            <td>Zhemgang Dzong, Zhemgang</td>
            <td>27th – 30th March</td>
            <td>15th -19th March</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Paro Tshechu</td>
            <td>Rinpung Dzong, Paro</td>
            <td>31st March – 4th April</td>
            <td>19th March -23rd March</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Rhododendron Festival</td>
            <td>Lamperi Botanical Garden, Dochula, Thimphu</td>
            <td>18th – 20th April</td>
            <td>18th – 20th April</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Domkhar Tshechu</td>
            <td>Domkhar, Chummi, Bumthang</td>
            <td>28th – 30th April</td>
            <td>16th -18th April</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Ura Yakchoe</td>
            <td>Ura Lhakhang, Bumthang</td>
            <td>30th April – 4th May</td>
            <td>18th -20th April</td>
        </tr>
        <tr>
            <td>16</td>
            <td>Nimalung Tshechu</td>
            <td>Nimalung Dratshang, Chummi, Bumthang</td>
            <td>24th June – 26th June</td>
            <td>13th – 15th June</td>
        </tr>
        <tr>
            <td>17</td>
            <td>Kurjey Tshechu</td>
            <td>Kurjey Lhakhang, Choekhor, Bumthang</td>
            <td>26th June</td>
            <td>15th June</td>
        </tr>
        <tr>
            <td>18</td>
            <td>Haa Summer Festival</td>
            <td>Town Festival Ground, Haa</td>
            <td>4th – 5th July</td>
            <td>-</td>
        </tr>
        <tr>
            <td>19</td>
            <td>Matsutake Mushroom Festival</td>
            <td>Ura, Bumthang</td>
            <td>22nd– 23rd August</td>
            <td>22nd –23rd August</td>
        </tr>
        <tr>
            <td>20</td>
            <td>Tour Of The Dragon (Bicycle Race)</td>
            <td>Bumthang To Thimphu</td>
            <td>5th September</td>
            <td>3rd September</td>
        </tr>
        <tr>
            <td>21</td>
            <td>Thimphu Drubchen</td>
            <td>Tashi Chhodzong, Thimphu</td>
            <td>18th - 22nd September</td>
            <td>6th -10th October</td>
        </tr>
        <tr>
            <td>22</td>
            <td>Wangdue Tshechu</td>
            <td>Tencholing Army Ground, Wangduephodrang</td>
            <td>21st - 23rd September</td>
            <td>9th – 11th September</td>
        </tr>
        <tr>
            <td>23</td>
            <td>Gangtey Tshechu</td>
            <td>Gangtey Gonpa, Phobjikha, Wangduephodrang</td>
            <td>21st – 23rd September</td>
            <td>9th -11th October</td>
        </tr>
        <tr>
            <td>24</td>
            <td>Tamshing Phala Chhoepa</td>
            <td>Tamshing Lhakhang, Choekhor, Bumthang</td>
            <td>22nd - 24th September</td>
            <td>11th -13th October</td>
        </tr>
        <tr>
            <td>25</td>
            <td>Thimphu Tshechu</td>
            <td>Tashi Chhodzong, Thimphu</td>
            <td>23rd – 25th September</td>
            <td>11th – 13th September</td>
        </tr>
        <tr>
            <td>26</td>
            <td>Jhomolhari Mountain Festival</td>
            <td>Jhomolhari</td>
            <td>7th To 8th October</td>
            <td>-</td>
        </tr>
        <tr>
            <td>27</td>
            <td>Thangbi Mani</td>
            <td>Tangbi Lhakhang, Choekor, Bumthang</td>
            <td>27th - 29th October</td>
            <td>15th -17th October</td>
        </tr>
        <tr>
            <td>28</td>
            <td>Chhukha Tshechu </td>
            <td>Chhukha Dzong,Chhukha</td>
            <td>20th – 22nd October</td>
            <td>7th -9th November</td>
        </tr>
        <tr>
            <td>29</td>
            <td>Jakar Tshechu</td>
            <td>Jakar Dzong, Choekhor, Bumthang</td>
            <td>20th– 23rd October</td>
            <td>7th -9th November</td>
        </tr>
        <tr>
            <td>30</td>
            <td>Pemagatshel Tshechu</td>
            <td>Pemagatshel Dzong, Pemagatshel</td>
            <td>20th– 23rd October</td>
            <td>12th -14th November</td>
        </tr>
        <tr>
            <td>31</td>
            <td>Jambay Lhakhang Drup</td>
            <td>Jambay Lhakhang, Choekhor, Bumthang</td>
            <td>27th - 30th October</td>
            <td>14th – 17th November</td>
        </tr>
        <tr>
            <td>32</td>
            <td>Prakhar Duchhoed</td>
            <td>Prakar Lhakhang, Chummi, Bumthang</td>
            <td>28th - 30th October</td>
            <td>15th –17th November</td>
        </tr>
        <tr>
            <td>33</td>
            <td>Black Necked Crane Festival</td>
            <td>Gangtey Gonpa, Phobjikha, Wangduephodrang</td>
            <td>11th November</td>
            <td>11th November</td>
        </tr>
        <tr>
            <td>34</td>
            <td>Mongar Tshechu</td>
            <td>Mongar Dzong, Mongar</td>
            <td>18th - 21st November</td>
            <td>5th -9th December</td>
        </tr>
        <tr>
            <td>35</td>
            <td>Trashigang Tshechu</td>
            <td>Trashigang Dzong, Trashigang</td>
            <td>19th - 22nd November</td>
            <td>8th – 10th November</td>
        </tr>
        <tr>
            <td>36</td>
            <td>Jambay Lakhang Singye Cham</td>
            <td>Jambay Lhakhang, Choekhor, Bumthang</td>
            <td>25th November</td>
            <td>13th December</td>
        </tr>
        <tr>
            <td>37</td>
            <td>Nalakhar Tshechu</td>
            <td>Ngaa Lhakhang, Choekhor, Bumthang</td>
            <td>25th - 27th November</td>
            <td>13th -15th December</td>
        </tr>
        <tr>
            <td>38</td>
            <td>Druk Wangyel Tshechu</td>
            <td>Dochula, Thimphu</td>
            <td>13th December</td>
            <td>13th December</td>
        </tr>
        <tr>
            <td>39</td>
            <td>Trongsa Tshechu</td>
            <td>Trongsa Dzong, Trongsa</td>
            <td>20th - 22nd December</td>
            <td>7th -9th January 2017</td>
        </tr>
        <tr>
            <td>40</td>
            <td>Lhuentse Tshechu</td>
            <td>Lhuentse Dzong, Lhuentse</td>
            <td>20th - 22nd December</td>
            <td>7th -9th January 2017</td>
        </tr>
        <tr>
            <td>41</td>
            <td>Nabji Lhakhang Drup</td>
            <td>Nabji Lhakhang, Nabji, Trongsa</td>
            <td>25th – 27th December</td>
            <td>12th -14th January 2017</td>
        </tr>
    </table>
</div>
