
@{
    Layout = "~/Views/Shared/BhutanLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Mountaineering / Trekking</b>
</div>
<div class="well" style="padding:10px;">
    <img src="~/Content/img/Bhutan/trek.jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
    <h4 class="text-info">Bhutan The Himalayan Adventure Odyssey</h4>
    <p>
        A Trek In Bhutan Is A Truly Amazing Experience. From The Warmth And Lush Vegetation Of The River Valleys To The Icy Slopes Of The Eastern End Of The Himalayas, You Will Encounter Some Of The Most Stunning Scenery And Friendly People Imaginable. 
    </p>
    <p>
        All Our Treks Offered Here Are Combination Of Natural Discovery And Insight Into The Unique Culture And Lifestyle Of The People. The Trail On Each Trek Passes Through The Traditional Ancient Villages Where The Lifestyle Of The Villagers Has Seen A Little Change In Over A Century, You Will Get The Chance To Mingle With The Locals, Observe Their Custom And Tradition, Unique Architectural Houses, And The Ancient Monasteries.
    </p>
</div>
