
@{
    Layout = "~/Views/Shared/BhutanLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Why Trek In Bhutan </b>
</div>
<div class="well" style="padding:10px;">
    <div class="col-md-6" style="padding:0px;">
        <img src="~/Content/img/Bhutan/whytrek.jpg" class="img-bordered resp-img" />
    </div>
    <div class="col-md-6" style="padding:0px;">
        <img src="~/Content/img/Bhutan/whytrek1.jpg" class="img-bordered resp-img" />
    </div>
    <div class="clearfix"></div>
</div>
<div class="col-md-12">
    <p>
        Whether You Are Looking For A Day Hike Or A Gruelling 31 Day Adventure, Bhutan Has It All.  Pristine Mountain Lakes, Imposing Glaciers And Some Of The World’s Most Endangered Species Await You In The Mountainous Amphitheatre Of The Himalayas.  
    </p>
</div>
