
@{
    Layout = "~/Views/Shared/BhutanLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Prior To Entry, All Nationals, Entry Formalities & Documentation</b>
</div>
<div class="col-md-12">
    <p>
        All The Tourists Traveling To Bhutan Require A Bhutan Visa <b>Except The Travelers From India, Maldives And Bangladesh</b>.
        It Is Processed Through A Local Tour Operator In Bhutan Or Its International Travel Agent.
    </p>
    <p>
        Bhutan Tourist Visa Is Issued Only When A Confirmed Booking Through A Local Tour Operator Has Been Made. No Foreign Embassies/ Organizations Issue Bhutan Tourist Visa.
        A Valid Passport Copy And The Bhutan Visa Application Form Duly Filled Must Be Sent To Us At least A Month Before The Tour.
    </p>
    <p>
        A Visa Approval Letter Is Issued By The Government Of Bhutan Which Will Be Sent To The Travelers Through Email Or Fax.
        The Travelers Have To Show The Visa Approval Letter While Boarding The Druk Air Flight. The Actual Visa Will Be Stamped On Arrival In Bhutan.
    </p>
    <b>For Travelers Entering Bhutan By Land,</b>
    <p>
        Two Passport Size Photographs Are Required On Arrival In The Border.<br />
        A Visa Fee Of US $ 40 Is Payable. The Visa Fee Can Be Sent With The Tour Payment.<br />
        Visa Application Form duly filled.
    </p>
</div>

