
@{
    Layout = "~/Views/Shared/BhutanLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Samdrup Jongkhar</b>
</div>
<div class="well hidden-xs" style="padding:10px;">
    <img src="~/Content/img/Bhutan/Samdrup-Jongkhar.jpg" class="img-rounded resp-img" />
</div>
<div class="col-md-12">
    <h4 class="text-info">Samdrup Jongkhar (Alt. 920ft) </h4>
    <p>
        The Road From Trashigang To Samdrup Jongkhar,Completed In 1960s, Enables The Eastern Half Of The Country To Access And Benefit From Trade With The South As Well As Across The Indian Border. There Is Little To See In This Area, Other Than The Busy Market Which Straddles The Border.
        Samdrup Jongkhar Is A Convenient Exit Town For Tourists Who Have Arranged To Visit The Neighboring Indian State Of Assam.
    </p>
</div>

