@{
    Layout = "~/Views/Shared/WestBengalLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Economy Of Darjeeling</b>
</div>
@Html.Partial("~/Views/Shared/_pvDarjeeling.cshtml")
<div class="well hidden-xs" style="padding:10px;">
    <div class="col-md-6 col-sm-6" style="padding:0px;">
        <img src="~/Content/img/WestBengal/darjeco.jpg" class="img-bordered resp-img" />
    </div>
    <div class="col-md-6 col-sm-6" style="padding:0px;">
        <img src="~/Content/img/WestBengal/darjeco1.jpg" class="img-bordered resp-img" />
    </div>
    <div class="clearfix"></div>
</div>
<div class="col-md-12">
    <p>
        The Two Most Significant Contributors To Darjeeling's Economy Are Tourism And The Tea Industry. Darjeeling Tea Is Regarded As One Of The Best Of Black Teas And Is Widely Popular, Especially In The UK And The Countries Making Up The Former British Empire. The Tea Industry Has Faced Competition In Recent Years From Tea Produced In Other Parts Of India As Well As Other Countries Like Nepal. Widespread Concerns About Labour Disputes, Worker Layoffs And Closing Of Estates Have Affected Investment And Production. Several Tea Estates Are Being Run On A Workers' Cooperative Model, While Others Are Being Planned For Conversion Into Tourist Resorts.
    </p>
    <p>
        More Than 60% Of Workers In The Tea Gardens Are Women. The Remuneration Of Workers Are Often Half In Cash And Half In Other Benefits Like Accommodation, Subsidized Rations, Free Medical Benefits Etc.
    </p>
    <p>
        The District's Forests And Other Natural Wealth Have Been Adversely Affected By An Ever-Growing Population. The Years Since Independence Have Seen Substantial Advances In The Area's Education, Communication And Agriculture – The Latter Including The Production Of Diverse Cash Crops Like Potato, Cardamom, Ginger, And Oranges. Farming On Terraced Slopes Is A Major Source Of Livelihood For The Rural Populace Around The Town And It Supplies The Town With Fruits And Vegetables.
    </p>
    <p>
        Summer And Spring Seasons Are Most Popular With Tourists, Keeping Many Of Darjeeling's Residents Employed Directly And Indirectly, With Many Residents Owning And Working In Hotels And Restaurants. Many People Earn A Living Working For Tourism Companies And As Guides. Darjeeling Is A Popular Filming Destination For Bollywood And Bengali Cinema; Films Such As Aradhana, Main Hoon Na, and Kanchenjungha Have Been Filmed Here. As The District Headquarters, Darjeeling Employs Many In Government Offices. Small Contributions To The Economy Come From The Sale Of Traditional Arts And Crafts Of Bengal, Sikkim And Tibet.
    </p>
</div>
