
@{
    ViewBag.Title = "DelhiTemples";
    Layout = "~/Views/Shared/GoldenTriangleLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Temples</b>
</div>
<div class="col-md-12">
    <p>
        Delhi Temples Count Amongst The Finest In The Country. Be It In The Terms Of Reverence Or In The Terms Of Architecture, The Temples In Delhi Can Match With The Best. The Temples In Delhi Consist Of Hindu Temples, Jain Temples, Bahai Temple, Sai Baba Temple, Etc. Some Of The Famous Temples Of New Delhi And Other Areas Of The City Are.
    </p>
</div>
<div class="row">
    <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
        <div class="view view-first">
            <img src="~/Content/img/GoldenTriangle/Delhi/Temples/akshardham.jpg" alt="akshardham" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
            <div class="mask">
                <input type="button" class="info" value="Know More" id="akshardham" />
            </div>
        </div>
        <h5>Akshardham Temple</h5>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
        <div class="view view-first">
            <img src="~/Content/img/GoldenTriangle/Delhi/Temples/Birla-Mandir.jpg" alt="Birla-Mandir" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
            <div class="mask">
                <input type="button" class="info" value="Know More" id="BirlaMandir" />
            </div>
        </div>
        <h5>Birla Mandir </h5>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
        <div class="view view-first">
            <img src="~/Content/img/GoldenTriangle/Delhi/Temples/chhatarpur-temple.jpg" alt="chhatarpur-temple" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
            <div class="mask">
                <input type="button" class="info" value="Know More" id="chhatarpurtemple" />
            </div>
        </div>
        <h5>Chattarpur Mandir </h5>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
        <div class="view view-first">
            <img src="~/Content/img/GoldenTriangle/Delhi/Temples/Gauri-Shankar.jpg" alt="Gauri-Shankar" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
            <div class="mask">
                <input type="button" class="info" value="Know More" id="GauriShankar" />
            </div>
        </div>
        <h5>Gauri Shankar Temple </h5>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
        <div class="view view-first">
            <img src="~/Content/img/GoldenTriangle/Delhi/Temples/Hanuman%20Mandir.jpg" alt="Hanuman Mandir" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
            <div class="mask">
                <input type="button" class="info" value="Know More" id="HanumanMandir" />
            </div>
        </div>
        <h5>Hanuman Mandir </h5>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
        <div class="view view-first">
            <img src="~/Content/img/GoldenTriangle/Delhi/Temples/isckon-temple.jpg" alt="isckon-temple" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
            <div class="mask">
                <input type="button" class="info" value="Know More" id="isckontemple" />
            </div>
        </div>
        <h5>Iskcon Temple </h5>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
        <div class="view view-first">
            <img src="~/Content/img/GoldenTriangle/Delhi/Temples/Kali-Birla.jpg" alt="Kali-Birla" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
            <div class="mask">
                <input type="button" class="info" value="Know More" id="KaliBirla" />
            </div>
        </div>
        <h5>Kali Bari Mandir </h5>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
        <div class="view view-first">
            <img src="~/Content/img/GoldenTriangle/Delhi/Temples/Kalkaji-Mandir.jpg" alt="Kalkaji-Mandir" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
            <div class="mask">
                <input type="button" class="info" value="Know More" id="KalkajiMandir" />
            </div>
        </div>
        <h5>Kalkaji Temple </h5>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
        <div class="view view-first">
            <img src="~/Content/img/GoldenTriangle/Delhi/Temples/Lotus-Temple-8.jpg" alt="Lotus-Temple" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
            <div class="mask">
                <input type="button" class="info" value="Know More" id="LotusTemple" />
            </div>
        </div>
        <h5>Lotus Temple </h5>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
        <div class="view view-first">
            <img src="~/Content/img/GoldenTriangle/Delhi/Temples/Sheetla-Devi-Temple.jpg" alt="Sheetla-Devi-Temple" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
            <div class="mask">
                <input type="button" class="info" value="Know More" id="SheetlaDevi" />
            </div>
        </div>
        <h5>Sheetla Devi Temple </h5>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
        <div class="view view-first">
            <img src="~/Content/img/GoldenTriangle/Delhi/Temples/Sri-Digambar-Jain-Mandir.jpg" alt="Sri-Digambar-Jain-Mandir" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
            <div class="mask">
                <input type="button" class="info" value="Know More" id="SriDigambar" />
            </div>
        </div>
        <h5>Sri Digambar Jain Mandir </h5>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myPicLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="col-md-4 col-sm-5" style="padding:8px;">
                    <img src="" id="pic-path" class="img-rounded resp-img" />
                </div>
                <div class="col-md-8 col-sm-7" id="pic-details">

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script>
    $('.view input').on('click', function (e) {
        e.preventDefault();
        var alt = $(this).attr('id');
        if (alt == "akshardham") {
            $('#myPicLabel').text('Akshardham Temple ')
            $('#pic-path').attr('src', '/Content/img/GoldenTriangle/Delhi/Temples/akshardham.jpg');
            $('#pic-details').html("<p>The Akshardham Temple Is One Of The Most Recently Built Temples In Delhi. Constructed By The Bochasanvasi Aksharpurushottam Swaminarayan Sanstha (BAPS), It Is Situated On The Banks Of The River Yamuna. Delhi Akshar Dham Mandir Was Inaugurated In Novenmber'05 In The Presence Of President APJ Abdul Kalam. It Is Spread Over An Area Of 100 Acres And Took About Two Years To Complete.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "BirlaMandir") {
            $('#myPicLabel').text('Birla Mandir ')
            $('#pic-path').attr('src', '/Content/img/GoldenTriangle/Delhi/Temples/Birla-Mandir.jpg');
            $('#pic-details').html("<p>Lakshmi Narayan Mandir Is Situated To The West Of Connaught Place In Delhi. Constructed By Raja Baldev Das In The Year 1938, It Is Dedicated To Lord Vishnu And Goddess Lakshmi. Also Known By The Name Of Birla Mandir Of New Delhi, This Temple Has Quite An Interesting History Attached To It. </p>");
            $('#myModal').modal('show');
        }
        else if (alt == "chhatarpurtemple") {
            $('#myPicLabel').text('Chattarpur Mandir ')
            $('#pic-path').attr('src', '/Content/img/GoldenTriangle/Delhi/Temples/chhatarpur-temple.jpg');
            $('#pic-details').html("<p>Chattarpur Mandir Is Sited At A Distance Of Approximately 04Kms. From The Famous Qutab Minar In The Mehrauli Area Of Delhi. A Beautiful Monument, The Chatarpur Temple Of Delhi Is Built In Both The South Indian As Well As North Indian Style Of Architecture. It Is Made Up Of Immaculate White Marble And Sprawls Over A Large Area With Beautifully Manicured Lawns And Gardens. </p>");
            $('#myModal').modal('show');
        }
        else if (alt == "GauriShankar") {
            $('#myPicLabel').text('Gauri Shankar Temple ')
            $('#pic-path').attr('src', '/Content/img/GoldenTriangle/Delhi/Temples/Gauri-Shankar.jpg');
            $('#pic-details').html('<p>Gauri Shankar Temple Is A Hindu Temple Situated In The Old Delhi. The Temple Is Dedicated To Lord Shiva And Houses An Approximately 800-Year Old Brown Lingam, Made Up Of Phallus Stone. The Lingam Is Encircled By Snakes And Represents A "Cosmic Pillar, The Center Of Universe, The Life Itself". </p>');
            $('#myModal').modal('show');
        }
        else if (alt == "HanumanMandir") {
            $('#myPicLabel').text('Hanuman Mandir')
            $('#pic-path').attr('src', '/Content/img/GoldenTriangle/Delhi/Temples/Hanuman%20Mandir.jpg');
            $('#pic-details').html("<p>Hanuman Mandir Is Situated At The Baba Kharak Singh Marg (Road) Near Connaught Place. One Of The Oldest Hanuman Temples In The Country, It Was Built By Maharaja Jai Singh In The Year 1724. However, Since The Time Of Its Construction, The Lord Hanuman Temple Of New Delhi Has Undergone Many Restorations. </p>");
            $('#myModal').modal('show');
        }
        else if (alt == "isckontemple") {
            $('#myPicLabel').text('Iskcon Temple ')
            $('#pic-path').attr('src', '/Content/img/GoldenTriangle/Delhi/Temples/isckon-temple.jpg');
            $('#pic-details').html("<p> Iskcon Temple Is Situated At Hari Krishna Hill, Near East Of Kailash. Built By The Hare-Rama Hare-Krishna Cult, The Temple Dates Back To The Year 1998. New Delhi Iskon Temple Is One Of The 40 Temples In India Built By The International Society For Krishna Consciousness (Iskcon). Dedicated To Lord Krishna, The Temple Is One Of The Biggest Temple Complexes In India.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "KaliBirla") {
            $('#myPicLabel').text('Kali Bari Mandir ')
            $('#pic-path').attr('src', '/Content/img/GoldenTriangle/Delhi/Temples/Kali-Birla.jpg');
            $('#pic-details').html("<p>Kali Bari Mandir Is Dedicated To Goddess Kali Mata. It Is A Small Temple And Quite Unpretentious In Its Design. The Kalibari Temple Of New Delhi Holds Special Significance For The Bengalis In The City, Especially At The Time Of Durga Puja, Held Every October. At That Time, The Temple Becomes The Center For Celebrations And Is Flooded By Devotees In Huge Numbers.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "KalkajiMandir") {
            $('#myPicLabel').text('Kalkaji Temple')
            $('#pic-path').attr('src', '/Content/img/GoldenTriangle/Delhi/Temples/Kalkaji-Mandir.jpg');
            $('#pic-details').html("<p>Kalkaji Temple Is Situated Beyond The Commercial Complex Of Nehru Place In Delhi. This Domed Twelve-Sided Temple Is Devoted To Goddess Kalka Devi. The Oldest Section Of The Kalka Ji Mandir Of New Delhi Dates Back To The Year 1764-1771, When The Marathas Were In Power. However, Some Renovation And Additions Were Carried Out In The Mid-19th Century. </p>");
            $('#myModal').modal('show');
        }
        else if (alt == "LotusTemple") {
            $('#myPicLabel').text('Lotus Temple')
            $('#pic-path').attr('src', '/Content/img/GoldenTriangle/Delhi/Temples/Lotus-Temple-8.jpg');
            $('#pic-details').html("<p>Lotus Temple Is Situated 12 Km To The Southeast Of Connaught Place. Architecturally One Of The Most Splendid Temples Of India, Delhi Lotus Temple Is Called So Because It Is Built In The Shape Of A Lotus Flower. The Temple Got Completed In The Year 1986 And Rises To A Height Of More Than 40 M.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "SheetlaDevi") {
            $('#myPicLabel').text('Sheetla Devi Temple')
            $('#pic-path').attr('src', '/Content/img/GoldenTriangle/Delhi/Temples/Sheetla-Devi-Temple.jpg');
            $('#pic-details').html('<p>Sheetla Devi Temple Is Situated At Gurgaon Village, A Suburb Of Gurgaon, In The State Of Haryana. The Temple, Standing Near A Pond, Is Dedicated To Mata Sheetla Devi. Sheetala Mata Mandir Of Delhi Is At Times Referred To As A "Shakti Peeth" And Is Considered As One Of The Most Sacred Hindu Pilgrimages.</p>');
            $('#myModal').modal('show');
        }
        else if (alt == "SriDigambar") {
            $('#myPicLabel').text('Sri Digambar Jain Mandir ')
            $('#pic-path').attr('src', '/Content/img/GoldenTriangle/Delhi/Temples/Sri-Digambar-Jain-Mandir.jpg');
            $('#pic-details').html("<p>Sri Digambar Jain Lal Mandir Is Situated Opposite The Red Fort In Delhi. Dating Back To The Rule Of The Mughal Emperor Aurangzeb, It Is Considered As The Oldest Temple Of The City. Originally, Delhi Shri Digambar Jain Lal Mandir Was Built In 1658 AD.</p>");
            $('#myModal').modal('show');
        }
    });

</script>

