@{
    ViewBag.Title = "GoaClimate";
    Layout = "~/Views/Shared/GoaLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Climate</b>
</div>

<div class="col-md-12">
    <p>
        Usually The Climatic Conditions Of Goa Are Temperate, Except During The Monsoon, Which Lasts From June To September. Thanks To The Coastal Konkan Region And The Backdrop Of Western Ghats, Weather Of Goa Is Pleasant And Sunny. There Are No Extremes In Temperature And No Clear Demarcations From One Season To The Other Except For The Monsoon.
    </p>
    <p>
        The Average Rainfall Is Approximately 325cms, The Average Daily Hours Of Sunshine Is Nine To Ten Hours In Summer And Three To Five Hours During The Monsoon.
    </p>

    <p>
        The Journey To The Extreme North Eastern Part Of India Is Arduous And Extremely Adventurous In Its Nature. Trekking Through The Challenging Terrains Of Arunachal Pradesh With Outstanding Stock Of Varied Botanical Species Is Purely Unique And Breath-Holding. The Route To Each Trek Is A Quite Unique Experience.
    </p>

    <p>
        <b>Monsoon</b><br />
    </p>
    <p>
        The Main Feature Of The Goan Climate Is The Monsoon, Which Occurs Between June And The End Of September. Goa Is In The Path Of The Southwest Monsoon, Thereby Experiencing A Dry Period Lasting Six To Eight Months Of The Year, Followed By The Annual Rainfall, Which Occurs Over The Remaining Four Months. During The Two Months Preceding The Onset Of The Monsoon The Humidity Increases Dramatically, And The Normally Clear Skies Become Hazy And Then Cloudy. During The Monsoon, 250cm To 300cm Of Rain Is Normal, Although In The Western Ghats The Downpour Is Considerably High Than On The Coast.             </li>
    </p>
    <p>

        Once The Monsoon Has Run Its Course The Skies Clear And The Weather Becomes Pleasant. For Four To Five Months From October Through February The Climate Is Near Perfect-Cloudless Blue Skies, Warm But Not Oppressively Hot Days, And Calm Seas. By Mid-March The Humidity Starts To Rise As The Monsoon Begins To Approach Again            </li>

    </p>
</div>
