@{
    ViewBag.Title = "GoaEntering";
    Layout = "~/Views/Shared/GoaLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Entering & Leaving</b>
</div>

<div class="col-md-12">
    <p><b>By Air:</b></p>
    <p>
        Goa Is Well Connected By Airline Services To Most Major Cities In India. All Flights, National And International, To And From Goa, Operate From The Goa Airport At Dabolim Near The Port Town Of Vasco-Da-Gama.
        The Airport Is About 30 Kms From The Capital City Of Panaji And Is Owned By The Indian Navy. Major Airline Operators Such As

    </p>
    <p>
        Air India,  Jet Airways, Spice Jet,  Kingfisher Airlines, Go Air, Jet Lite & Indigo Have Flights Carrying Passengers And Cargo In And Out Of Goa. Besides These, A Number Of Chartered Flights Land In Goa From UK And Other European Countries. The National Airline Air India Also Lands A Few International Flights, Especially From The Gulf Countries.  Besides  Air India,  Air Arabia And Qatar Airways Also Operate International Flights To Goa.
    </p>
    <p>
        Most Of The Local Airlines Have A Contact Phone Number In The City As Well As At The Airport Where The Latest Information About Flight Status Is Always Available. The List Of Phone Numbers Is Available In The Travel Services Section Of The Website.
    </p>
    <p>
        It Is Advisable To Book Your Tickets Well In Advance, Especially During The High Peak Tourist Season Of October To January When Most Flights Run Full. It Is Also Essential To Re-Confirm Your Flight Timings At Least 24 Hours Before Departure.
    </p>
    <p>
        Most Major International Airlines Usually Have Agreements With One Or More Of Their Domestic Counterparts In India, So If You Are Arriving From Abroad It Is Possible To Book Your Onward Domestic Flight At The Same Time As You Pay For Your International Ticket.
    </p>
    <p><b>By Road:</b></p>
    <p>
        Goa Is Connected With All The Major Towns In India Via The National Highways NH4A, NH17 And NH17A. In Most Places Along The Way, The Highway Roads Are In Excellent Condition And Motorable At Fairly Good Speeds.
    </p>
    <p>
        There Are Bus Services Operating From Goa To Most Towns And Cities In Neighbouring States, Such As Mumbai, Pune, Belgaum, Hubli, Bangalore, Mangalore Etc. At Fairly Regular Intervals Throughout The Day.
    </p>
    <p>
        These Services Are Operated By The State Owned Kadamba Transport Corporation (White And Blue Buses) As Well As The Respective Transport Corporations Of The Neighbouring States. Besides There Are Numerous Private Bus Operators Who Provide All Kinds Of Bus Services From Special To Deluxe AC To Sleeper Coaches Along These Routes.
    </p>
    <p>
        The Bus Services Operate From The Huge Kadamba Bus Stand At Panaji And From Similar But Much Smaller Bus Stands In Other Goan Towns
    </p>
    <p>
        Most Buses Tend To Arrive In Goa In The Early Hours Of The Morning. The Departures Are In The Early Afternoon As Well As Early Evening
    </p>
    <p>
        The Buses Usually Stop Along The Way For Dinner And Breakfast At Roadside Restaurants.
    </p>
    <p>
        Ticket Charges Vary From Rs 250 To Rs 650, Depending Upon The Distance, The Season, The Demand And The Quality Of Bus Service. A Journey To Mumbai, Takes Around 12-16 Hours.
    </p>
    <p>
        The Tickets Can Be Obtained Through Recognised Travel Agents Or The Offices Of The State Transport Corporations. The Private Buses Usually Depart From The Fort Area And Make Stops At A Number Of Places Around Mumbai Before Leaving The City.
    </p>

    <p>
        Ensure That You Have Your Seat And The Bus Registration Number, And Confirm The Exact Time And Place Of Departure With The Travel Agent, As These Frequently Vary Between Companies.
    </p>

    <p>
        The Drive Down From Mumbai, If You Are Coming By Car, Is Along The Beautiful Highway Which Hugs The Konkan Coastline, With Excellent Scenic Beauty And Typical Small Towns And Villages Along The Entire Route. There Are A Few Winding And Steep Routes (Called 'Ghats') Across The Mountain Ranges Which Add To The Charm Of The Journey.
    </p>
    <p><b>By Train:</b></p>
    <p>
        There Was A Time When The Train Journey From Mumbai Took Nearly Twenty-Four Hours, On The Winding Route Via Miraj And Pune, Involving A Change Of Trains Too.
    </p>
    <p>
        Today, The High-Speed Konkan Railway Has A Daily Train Which Hardly Takes Around 8-9 Hours For The Same Journey. Other Trains Between Mumbai And Panaji Take Typically Around 10-12 Hours.
    </p>
    <p>
        The Rail Route Also Has Trains Which Travel Past Mumbai To Other Northern Areas Of India Right Upto Delhi As Well As Down South To Thiruvananthapuram In Kerala.

    </p>
    <p>
        The Konkan Railway Has Special Reservation Facility Via The Internet For Foreigners Which Allows Payment To Be Made By Credit Cards. There Are Also Computerized Reservation Systems In Most Metros.
    </p>
    <p>
        As The Demand For The Rail Journey Is Quite High And Most Trains Run Filled To Capacity, It Is Highly Advisable To Reserve The Tickets Well In Advance Of Your Actual Journey To Goa.
    </p>
    <p>
        Goa Has Two Major Railway Stations — Margao And Vasco-Da-Gama, Both Located In The Southern Area Of The State. The South Central Railway Terminus Is At Vasco-Da-Gama And The Konkan Railway Terminus Is At Margao. Besides The Two Main Stations, The Trains Usually Halt For A Few Minutes At A Number Of Other Smaller Stations In Goa.
    </p>
    <p>
        The Konkan Railway Has Trains Which Ply Between Mumbai And Goa And Other Destinations. The Latest Updated Schedules For These Are Available On The Official Konkan Railway Website. The South Central Railway Has One Train, The Nizamuddin Goa Express Coming In Daily In The Early Morning. This Train Departs From Delhi And Comes To Goa Via Pune.
        </p>
    <p>
        The Konkan Railway Undoubtedly Offers The Quickest And Cheapest Route To Goa From Mumbai. In Mumbai There Are Two Booking Offices: One Is On The Upper Floor Of The Western Railways Booking Office In Churchgate Station And The Second Is At The Central Railway Booking Office, At The Rear Of Chatrapati Shivaji Terminus (Victoria Terminus Or VT).
    </p>
    <p><b>By Sea:</b></p>
    <p>
        In The Sixties And Seventies, There Was Actually A Pair Of Steamers Which Used To Ply Between Panaji And Mumbai, Carrying Loads Of Passengers On A Charming Journey Along The Konkan Coastline.
        </p>
    <p>
        A Catamaran Service Was Started By Damania Shipping In 1994, Between Mumbai And Goa, Using A Beautiful Scandinavian-Built Vessel, With Aeroplane-Style Reclining Seats. The Trip From Mumbai Used To Take Seven Hours To Reach Panaji. The Catamaran Too, Travelled Around 40 Km Offshore, Giving Travellers A Glimpse Of The Palm-Fringed Konkan Coast
        </p>
 



   
</div>
