@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/_pvGoa.cshtml")
<h3 class="customheader">Fairs &amp; Festivals</h3>
<div>
    <h3>January/February</h3>
    <h4>Mahashivratri</h4>
    <p>
        A celebration in the honour of Lord Shiva held at all the principal Shiva templeIs, it is celebrated in Harvalem, Ramnathi, Kavlem, Mangueshi, Nagueshi, Shiroda, Brahmapuri. Shirgao, Kasarpal, Fatorpa and Panaji.
    </p>
    <h4>Rantha Saptami</h4>
    <p>
        Festival takes place in February at the Mallikarujuna Temple.Maruti-Zatraat Shri Mahalakshmi Temple is presiding deity of Panaji, Goa's capital city.
    </p>
    <h4>Mahalasa Jatra or Vijayarathotsav</h4>
    <p>
        (Chariot Festival) It is celebrated at Mahalasa Temple of Mohini in Ponda.
    </p>
    <hr />
    <h3>February/March</h3>
    <h4>Shigmotsav</h4>
    <p>
        It is celebrated in all over Goa. Special celebrations at Panaji, Mapusa, Vasco-da-Gama and Margao. A spring festival celebrated on the full moon day of the month of Phalgun in March.
        It is a grand five day festival of colour, celebrated distinctively in the villages, corresponding with Holi or Spring Festivals. Shigmo is universally celebrated in Goa, but specially in Panaji, Mapusa, Vasco Da Gama and Margoa.
    </p>
    <h4>Rombat</h4>
    <p>
        Takes place on the second and third day of Shigmo. It is a Procession of men in traditional dress carrying banners and umbrellas dancing to the music of drums. Young boys wave green twigs, signifying the arrival of spring.
    </p>
    <h4>Drama Festivals</h4>
    <p>
        Form an important part of Shigmo with most villages staging plays during the week.
    </p>
    <h4>Rangapanchami (Gulal)</h4>
    <p>
        It is celebrated in Kasarpal and Zambaulim.
    </p>
    <h4>Festival of Gade</h4>
    <p>
        The three day at Mahadev Bhumika Temple attracts huge crowds.
    </p>
    <h4>Kalas Utsav</h4>
    <p>
        It is celebrated on a major scale every alternate year at Sri Morjaee Temple in Pernem. Visitors from Maharashtra and Karnataka attend the seven day festivities which are socio religious occasions.
    </p>
    <hr />
    <h3>March/April</h3>
    <h4>Ramnavami</h4>
    <p>
        It is celebrated in Partagal - Canacona.
    </p>
    <h4>Chaitra - Pumirna</h4>
    <p>
        It is celebrated in Borim, Sanquelim, Nagueshi, Chandranath, Cudnem and Mashem - Canacona. Gokiulashtami: Narve - Bichblim. Ganesh
    </p>
    <hr />
    <h3>April/May</h3>
    <p>
        This is home coming season for many Goan settled away from Goa. It is also the fruit season and Feni making season. A distinctive Goan aperitif, Feni comes from cashew apples. In addition it is toddy- tapping season.
    </p>
    <hr />
    <h3>May/June</h3>
    <h4>Mirg</h4>
    <p>
        Mirg is on 6th June. It is the start of the Monsoon season. The Christian Mirg is one day earlier. If the rains fail, prayers are offered to the Catholic saints born this month-- St. Anthony, St. John the Baptist and St. Peter and St. Paul. In Goa there is happy mingling of festivals and feast days for the common good of all.
    </p>
    <hr />
    <h3>July/August</h3>
    <h4>Gokul Ashtami</h4>
    <p>
        Or Janamashtami is the Birthday of Lord Krishna. This marks the beginning of Goa's harvest festival. At Narve village in Bicholim, people gather for pilgrimage from far and wide.
    </p>
    <hr />
    <h3>August/September</h3>
    <h4>Ganesh Chaturthi</h4>
    <p>
        Birthday of Lord Ganesh, the most important deity in the Konkan, and is celebrated all over Goa. Thousand return to Goa for this festival, which is associated with good Harvest.
    </p>
    <h4>Novidade</h4>
    <p>
        In each village, the first offering is is made to the church and the paddy specially blessed. No farmer, will harvest his rice crop before it is offered in a ceremony called 'Novidade' in which the parish priest himself harvests sheaf of rice and returns with it to the Church, Local people accompany him with music, fire works and Jubilation .
        It is a true feast day for all. Women folk of Goa's earliest tribal settlers perform a dance called Bhandup in half second half of the month.
    </p>
    <h4>The Kiran Mahotsav</h4>
    <p>
        Or religious music festival takes place at Quepem in September and is an all night celebration.
    </p>
    <hr />
    <h3>October/November</h3>
    <h4>Navaratri Utsav</h4>
    <p>
        Or the nine nights festivals associated with Lord Rama's Defeat of Ravana, demon King of Lanka culminates in the grand festival of Dusshera. Dusshera is celebrated by devotees of the Mother Goddess as her festival. The Sri Bhagavati Temple is Pernem has a fortnight's festivities on the occasion. Special celebrations for Navaratra Utsav are held at Shantadurga, Nagueshi, Mahalakshmi and Ramnath Temples at Ponda and at Kalika Devi Temples in Kasarpal. The Dhangar Dance is dance of worship performed during this festival.
    </p>
    <h4>Deepawali</h4>
    <p>
        It is the great festivals of lights . It is universally celebrated in Goa, in homes, on the streets, in shops and of course, in religious places.
    </p>
    <hr />
    <h3>November/December</h3>
    <h4>Kejagiri Purnima</h4>
    <p>
        It can fall early in lights. It is the full moon following Dusshera. At Mardol in Ponda there are special celebrations to mark this auspicious day.
    </p>
    <h4>Malni Purnima</h4>
    <p>
        It is the festivals at Sri Devaki Krishna Temple at Marcel.
    </p>
    <h4>Zatra</h4>
    <p>
        The deity is taken out of the temple in a colourful procession for the day. The annual Zatra of Shri Shantadurga at Kunkoliemkarin at Fatorpa in Quepem also falls in this month. Thousands flock to attend the festival from afar. Zatra in all Temples, of special importance being at Mangueshi, Nagueshi, Ramnathi, Kavlem, Madki, Kundai, Shiroda, Khandepar, Borim, Kapileshwari, Mulgaon, Fatorpa, Amona, Mashel, Mala-Panaji, Mapusam, Velinga, Karmali, and Calangute.
    </p>
    <h4>Datta Jayanti</h4>
    <p>
        It is celebrated as the annual festival at Shri Datta Temple at Dattawadi,Sanquelim.
    </p>
</div>
<hr />
<div class="row">
    <h3 class="col-md-12">Carnival</h3>
    <div class="col-md-8">
        <p>
            Among the various colourful feasts and festivals feasts and festivals that Goa celebrates -Carnaval and Shigmo are the most rumbustious, awaited by the population with intense enthusiasm.
        </p>
        <p>
            If down the centuries Carnaval was enjoyed only by the local population, today its fame has crossed the frontiers attracting thousands of people from all over India to whom this type of extravaganza is at once riotous and different.
        </p>
        <p>
            It was in the fitness of things that the Goa Government, through its Department of Tourism, should have given a boost to the celebration of the three-day Carnival festival as a major tourist attraction. Distinctly Latin in character, a legacy of Portuguese cultural tradition, the Carnival is not celebrated elsewhere in hidhi,
            and it was in decline even in Goa in the last years of Portuguese rule. Its revival and celebration with an added zest was, therefore, on the cards as, after Goa's Liberation, tourism was being developed as a regular industry. This festival of three days of gay abandon, riotous revelry and merry-making now attracts to Goa thousands of tourists from all over India.
        </p>
    </div>
    <div class="col-md-4 hidden-sm hidden-xs">
        <img src="~/Content/img/Goa/carnivalgoa.jpg" class="resp-img img-bordered" />
    </div>
</div>
<div>
    <p>
        Celebrated particularly in the Latin Catholic countries of Southern Europe, it appears to have originated in Italy as a substitute for the Roman pagan festival known as Saturnalia in honour of Saturn, the god of Agriculture, observed in the month of December as a period of unrestrained merry-making, as it signaled the rebirth of Mother-Nature and the beginning of a New Year. From Italy,
        in which country it was celebrated with éclat mainly in Rome, Venice, Florence, Naples and Turin, it spread out to other Latin countries such as France, Spain and Portugal and also to Germany and Austria. The Portuguese brought it to Goa as they also took it to Brazil. Where it is celebrated with undiminished gusto even to this day, as it is in Argentina and other Latin-American countries, where it was imported by the Spaniards, while it almost died away in Europe, except for a few places, like Nice, among others.
    </p>
    <p>
        Brutal and city in days gone by, in Goa as in Portugal, with real street battles fought by groups of masked people armed with baskets of rotten eggs and saw-dust or wheat flour packets known as cartuchos and cocotex and syringes filled with coloured water.
    </p>
    <p>
        Just as in Europe Carnival played a significant role in the development of popular theatre and folk songs and dances, so also in Goa it gave birth to the khell or fell, the typically Goan
        ambulatory the arterial performance, satirical in nature, very much in vogue even some twenty or thirty years ago in our villages, holding to ridicule the vices, the foibles or the follies of the local grandees, the Pad Vigar or parish priest, the regedor or village patel or the batkar or landlord to the amusement of the people.
    </p>
    <hr />
    <h3>Christian Fairs & Festivals</h3>
    <h4>January 6</h4>
    <p>
        Feast of the Three Kings at Reis Magos, Cuelim (Cansaulim) and Chandor.
    </p>
    <h4>February 2</h4>
    <p>
        Feast of Our Lady of Candelaria at Pomburpa.
    </p>
    <h4>5th Monday in Lent</h4>
    <p>
        Procession of All Saints of the Franciscan Third Order (only other besides Rome) at Goa Velha.
    </p>
    <h4>1st Sunday after Easter</h4>
    <p>Feast of Jesus Nazareth at Siridao. </p>
    <h4>16 days after Easter</h4>
    <p>Feast of Our Lady of Miracles at Mapusa. </p>
    <h4>21st August</h4>
    <p>Festival of Novidades-offering of first sheaves of rice crop to the Head of State.</p>
    <h4>Monday of 12th to 18th October</h4>
    <p>Fama de Menino Jesus at Colva. </p>
    <h4>3rd Wednesday of November</h4>
    <p>Feast of Our Lady of Rosary at Navelim. This occasion draws thousands of faithful to Goa to participate in the religious event.</p>
    <h4>3rd December</h4>
    <p>Feast of St. Fiancis Xavier, Patron saint of Goans at Old Goa. </p>
    <h4>8th December</h4>
    <p>Feast of Our Lady of Immaculate Conception at Panaji and Margtio. </p>
    <h4>25th December</h4>
    <p>
        Christmas, all over Goa with the customary Midnight Mass on gatherings and special Christmas Eve and with prayers gathering and special Christmas festivals. A Goan will leave his front door open during the festival as a gestures of generosity toward all who may visit his home.
    </p>
</div>
