@{
    ViewBag.Title = "GoaTrek";
    Layout = "~/Views/Shared/GoaLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Trekking & Hiking</b>
</div>
<div class="well" style="padding:18px;">

    <img src="~/Content/img/goaimg/trekking.jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
    <p>
        Goa Is A Beautiful State With Nearly Seven Wildlife Sanctuaries And The Advantage Of Having Nearly 38% Of It Under Forest Cover, Offering Refreshing Break For Trekking Enthusiasts, Who Can Participate In Trekking / Hiking Expeditions Organized By The Agencies Like Goa Hiking Association And Youth Hostels Authority Of India. Goa’s Ability To Maintain This Fragile Balance Gives It A Break From The Monotony Of Beach Tourism To This Adventurous Sports.
    </p>
    <p>
        Trekking Is Not To Be Mistaken With Just Climbing, But It Is About Discovering The Beauties Of Nature Along The Way Till The Summit. Every Trek Has A Starting Point And A Pre Decided Destination Point. A Trekker Learns A Lot As He Pushes His Body Each Step Forward Towards The Destination Point Or While Climbing To The Top, All Along The Way Is Your Chance To Enjoy Nature’s Creation. Numerous Chirping Birds, Butterfly And Peacocks. Jumping Monkeys And Wild Cats May Be Spotted With Your Skills. Bow Down Your Head In Reverence To The Pristine And Untouched Nature Around You, Stretch And Relax.
    </p>

    <p>
        Ideally The Relatively Cooler Months Of October To January Are Great For Trekking / Hiking. If You Come To Goa Only For The Beach, Then You Are Missing Out On The Other Half Of What This Paradise Have To Offer. Venture Out And Explore Trekking, Walkout Fit As Ever With Your Trekking Shoes On, For A Track Along Goa’s Most Picturesque Woods. Start Along Green Fields And Push Yourself Up A Dirt Track Over Rocks And Boulders All The Way Up 600 Meters Above Sea Level. One Can Enjoy Hiking And Trekking Adventures That Involve A Wide Range Of Skillful And Physically Demanding Actions. Go For The Extreme Adventure Of Rock-Climbing On The Adamant Rock-Faces Of Goan Hills.
    </p>
    <p>
        Goa Hiking Association, Panaji Organizes A Major Trekking / Hiking Program In October Each Year. Goa Branch Of The Youth Hostel Association Of India Also Runs Trekking Expedition Trip In Goa Every December. The State Forest Department Also Organizes Treks Annually Through The Forest Reserves In Goa, Which Are Known For Bisons, Leopards, Tigers And Various Other Fauna.
    </p>

</div>
