
@{
    Layout = "~/Views/Shared/SikkimLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">For Nepalese & Bhutan Nationals </b>
</div>
<div class="col-md-12">
    <p>
        Nepalese & Bhutanese Nationals Require Special Permit To Enter Into Sikkim Called ILP Inner Line Permit.
        It Could Be Avail Easily At The Entry Point At Sikkim Check Post.
        One Need To Go To The Tourist Officer And Declare His Identity And The ILP Is Easily Provided In No Time At No Cost On The Basis Of Any Valid Photo Identity Proof Issued By The Government Authority.
        In Case Of Failure To Do So The Person Needs To Apply At The FRO Foreign Registration Office At Gangtok.
    </p>
    <table class="table table-bordered">
        <tr>
            <th>ILP Facility</th>
            <th>Duration</th>
            <th>Documents Required	</th>
            <th>Issued From</th>
        </tr>
        <tr>
            <td>Single Entry</td>
            <td>30 Days Maximum</td>
            <td>Photo Identity Card Issued By Government Agency, Photocopies Of Valid Passport Driving License, Ration Card, Voter Id, Identity Card Issued By Embassy Of India In Respective Country, Or Sub Divisional Magistrate For Child Birth Certificate Or School Identity Card Along With 04 Nos. Coloured Passport Photos. </td>
            <td>On Arrival At The Sikkim Entry Check Post At Melli & Rangpo</td>
        </tr>
        <tr>
            <td>R.A.P.</td>
            <td>As Per Itinerary</td>
            <td>Photo Identity Card Issued By Government Agency, Photocopies Of Valid Passport Driving License, Ration Card, Voter Id, Identity Card Issued By Embassy Of India In Respective Country, Or Sub Divisional Magistrate For Child Birth Certificate Or School Identity Card Along With 04 Nos. Coloured Passport Photos. </td>
            <td>Gangtok Through A Registered Travel Agency In Sikkim Only</td>
        </tr>
        <tr>
            <td>Extension Of Permit</td>
            <td>30 Days</td>
            <td>Photo Identity Card Issued By Government Agency, Photocopies Of Valid Passport Driving License, Ration Card, Voter Id, Identity Card Issued By Embassy Of India In Respective Country, Or Sub Divisional Magistrate For Child Birth Certificate Or School Identity Card Along With 04 Nos. Coloured Passport Photos. </td>
            <td>FRO At Gangtok And Office Of Superintendent Of Police Of The North West And South Districts.</td>
        </tr>
    </table>
    <p class="text-danger">
        <b>All NEPALESE & BHUTANESE NATIONALS ARE NOT PERMISSIBLE TO VISIT AREAS BEYONDG TSOMGO LAKE IN EAST SIKKIM (BABAMANDIR, INDO CHINA BORDER, OLD SILK ROUTE) & AREAS BEYOND CHOPTA THANGU AREAS IN NORTH SIKMKIM ( KATAU & GURUDONGMAR LAKE) </b>
    </p>
</div>
