@{
    Layout = "~/Views/Shared/SikkimLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Inside Gangtok</b>
</div>
<div class="col-md-12">
    <h4 class="text-info">Gangtok, The Heart Of Sikkim</h4>
    <p>
        Gangtok, The Capital And Heart Of The State Essentially Symbolizes All That Is Sikkim. Having Seen The Governance From Decades The Culture And Society Of Gangtok Has Evolved Through Time To Give It A Most Unique Characteristic.
    </p>
    <p>
        Gangtok, Today Is An Urban City That Has Its History Rooted Myths Yet Stands Testimonial To The Greatness Of The People Who Have Lived Here For Centuries, A Melting Pot Of All That Is Sikkim, A Mystical Magical Where Time Passes By In A Mist. Gangtok, Sikkim’s Capital Sprawls Over A Forested Hill That Overlooks Mt. Khangchendzonga, Guardian Deity Of The Land To The Sikkimese Buddhists. It Served As The Royal And Administrative Headquarters To The Former Kingdom, And Even Today It Still Bears A Regal Character. In The Sikkimese Bhutia Language ‘Gang’ Means Fly At And ‘Tok’ Means Hill.
    </p>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/SikkimImages/InsideGangtok/CHORTEN%20STUPA.jpg" alt="chorten" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="chorten" />
                </div>
            </div>
            <h5>CHORTEN STUPA</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/SikkimImages/InsideGangtok/ROPEWAY.jpg" alt="ropeway" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="ropeway" />
                </div>
            </div>
            <h5>ROPEWAY</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/SikkimImages/InsideGangtok/Nit.jpg" alt="nit" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="nit" />
                </div>
            </div>
            <h5>NAMGYAL INSTITUTE OF TIBETOLOGY</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/SikkimImages/InsideGangtok/ct.jpg" alt="ct" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="ct" />
                </div>
            </div>
            <h5>COTTAGE INDUSTRY</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/SikkimImages/InsideGangtok/ENCHEY%20MONASTERY.jpg" alt="enchey" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="enchey" />
                </div>
            </div>
            <h5>ENCHEY MONASTERY</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/SikkimImages/InsideGangtok/RIDGE%20PARK.jpg" alt="ridge" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="ridge" />
                </div>
            </div>
            <h5>RIDGE</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/SikkimImages/InsideGangtok/WHITE%20HALL.jpg" alt="whitehall" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="whitehall" />
                </div>
            </div>
            <h5>WHITE HALL</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/SikkimImages/InsideGangtok/FLOWER%20SHOW%20COMPLEX.jpg" alt="flower" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="flower" />
                </div>
            </div>
            <h5>FLOWER SHOW COMPLEX</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/SikkimImages/InsideGangtok/Tsuklakhang.jpg" alt="tsuklakhang" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="tsuklakhang" />
                </div>
            </div>
            <h5>TSUKLAKHANG</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/SikkimImages/InsideGangtok/namnamvp.jpg" alt="namnam" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="namnam" />
                </div>
            </div>
            <h5>NAM NAM VIEW POINT</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/SikkimImages/InsideGangtok/mgmarg.jpg" alt="mg-marg" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="mg-marg" />
                </div>
            </div>
            <h5>M. G. MARG</h5>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myPicLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="col-md-4 col-sm-5" style="padding:8px;">
                    <img src="" id="pic-path" class="img-rounded resp-img" />
                </div>
                <div class="col-md-8 col-sm-7" id="pic-details">

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    $('.view input').on('click', function (e) {
        e.preventDefault();
        var alt = $(this).attr('id');
        if (alt == "chorten") {
            $('#myPicLabel').text('Chorten Stupa')
            $('#pic-path').attr('src', '/Content/img/SikkimImages/InsideGangtok/CHORTEN%20STUPA.jpg');
            $('#pic-details').html('<p>The Do-Drul Chorten Or Stupa Was Built By The Venerable Truslshi Rimpoche, Head Of The Nyingma Order Of Tibetan Buddhism. Inside This Stupa, There Are Complete Mandala Sets Of Dorjee Phurba Around This Chorten, Which Is One Of The Most Important Stupas In Sikkim. These Prayer Wheels Are Turned By The Devout Buddhist While Chanting "Hail To The Jewel In The Lotus ", To Invoke Bodhisattva.</p>');
        }
        else if (alt == "ropeway") {
            $('#myPicLabel').text('ROPEWAY')
            $('#pic-path').attr('src', '/Content/img/SikkimImages/InsideGangtok/ROPEWAY.jpg');
            $('#pic-details').html('<p>The Zigback Cable Car Ferries The Tourists From Deorali Via Hur Huray Dara Near Sikkim Legislative To Tashiling Sectariat. Besides The Thrill Of The Ride One Can Also Enjoy Breathtaking Views Of The Gangtok Hills.</p>');
        }
        else if (alt == "nit") {
            $('#myPicLabel').text('NAMGYAL INSTITUTE OF TIBETOLOGY')
            $('#pic-path').attr('src', '/Content/img/SikkimImages/InsideGangtok/Nit.jpg');
            $('#pic-details').html('<p>The Most Prestigious Of Its Kind In India - This Buddhist Institute Is A Treasure Trove Of Vast Collection Of Rare Lepcha, Tibetan And Sanskrit Manuscripts, Statues And Rare Thankas And Has Over 200 Buddhist Icons. Today, It Is The Renowned Worldwide Center For Study Of Buddhist Philosophy And Religion.</p>');
        }
        else if (alt == "ct") {
            $('#myPicLabel').text('COTTAGE INDUSTRY')
            $('#pic-path').attr('src', '/Content/img/SikkimImages/InsideGangtok/ct.jpg');
            $('#pic-details').html("<p>Directorate Of Handicraft & Handloom Instituted With The Aim Of Promoting And Keeping Alive The State's Traditional Arts And Craft, The Directorate Of Handicrafts & Handloom Lies A Storehouse Of Hand Woven Woolen Carpets With Traditional Motifs, Blankets, Shawls In Lepcha Weaves And Exquisitely Carved 'Choktse' Or Table And Many Other Gift Items.</p>");
        }
        else if (alt == "enchey") {
            $('#myPicLabel').text('ENCHEY MONASTERY')
            $('#pic-path').attr('src', '/Content/img/SikkimImages/InsideGangtok/ENCHEY%20MONASTERY.jpg');
            $('#pic-details').html("<p>This Oldest Monastery Is An Important Seat Of The Nyingmapa Order, And Is Built On The Site Blessed By Lama Druptob Karpo, A Tantric Master Known For His Flying Prowess. Its Annual Chham (Masked Dance) Is Performed With Great Fanfare Once Every Year Around January. </p>");
        }
        else if (alt == "ridge") {
            $('#myPicLabel').text('RIDGE')
            $('#pic-path').attr('src', '/Content/img/SikkimImages/InsideGangtok/RIDGE%20PARK.jpg');
            $('#pic-details').html("<p>The Ridge Is A Small Stretch Of Plain And Flat Road Above The Town Of Gangtok. It Is Just About Fifteen Minutes Walk From The Main Market. A Statue Of Nehru, The Late Prime Minister Of India, Adorns The Roundabout Above White Hall. Situated On The Ridge Is Also A Resting Shed Using Tibetan Architecture. The Ridge Is Lined With Plants And Trees Which When Bloom Are A Riot Of Colours. Flower Shows Which Attract Tourists From All Over The World Are Held Just Below The Ridge.</p>");
        }
        else if (alt == "whitehall") {
            $('#myPicLabel').text('WHITE HALL')
            $('#pic-path').attr('src', '/Content/img/SikkimImages/InsideGangtok/WHITE%20HALL.jpg');
            $('#pic-details').html("<p>The White Hall Only Has Historical Value And Is Situated On The Ridge. It Is A Two Storied Structure And Has Typical British Architecture And Was Built In 1932. It Is So Called Not Because It Is Painted White But Because It Was Built In Memory Of The First Political Officer Of Sikkim, Claude White. There Is An Officers' Club And A Badminton Court In The White Hall. </p>");
        }
        else if (alt == "flower") {
            $('#myPicLabel').text('FLOWER SHOW COMPLEX')
            $('#pic-path').attr('src', '/Content/img/SikkimImages/InsideGangtok/FLOWER%20SHOW%20COMPLEX.jpg');
            $('#pic-details').html("<p>The Complex Is A Pride And Joy Of Sikkim Where The World – Famous Orchids Of Sikkim Are On Exhibition Along With Seasonal Flowers And Bonsai. Various Competitions Are Organized Here Periodically To Adjudge The Best Orchid Which Are Then Placed For Display. Those Shows Generally Concede With The Tourist Seasons.</p>");
        }
        else if (alt == "tsuklakhang") {
            $('#myPicLabel').text('TSUKLAKHANG')
            $('#pic-path').attr('src', '/Content/img/SikkimImages/InsideGangtok/Tsuklakhang.jpg');
            $('#pic-details').html("<p>The Royal Chapel, Tsuklakhang, Is Within The Palace Grounds. Popularly Called Tsuklakhang Royal. It Is The Principal Place Of Worship And Assembly And The Repository Of A Vast Collection Of Buddhist Scriptures. A Magnificent Portal Breaks The Starkness Of Its Great Façade, At Each Corner Of The Building, Is A Wood Sculpture In Relief, The Formidable Head Of A Snow Lion.Resplendent Buddhist Murals Span The Stoutly Ornate Wood Of The Wall, While The Eternal Butter Lamp Burns Before The Floor Ceiling Altar; The Fragrant Juniper Incense That Pervades The Chapel Air Heightens The Air Of Peace And Calm.</p>");
        }
        else if (alt == "namnam") {
            $('#myPicLabel').text('NAM NAM VIEW POINT')
            $('#pic-path').attr('src', '/Content/img/SikkimImages/InsideGangtok/namnamvp.jpg');
            $('#pic-details').html("<p>Situated In The Vicinity Of The Sikkim Legislative Assembly, One Can Have Very Good Walk From Nam -Nang View Point To Sikkim Press. The Visitors Can Also Experience The Breath Taking View Of The Dense Forest And Lush Green Valley. A Serene Area To Relish, An Ideal Nature Walk.</p>");
        }
        else if (alt == "mg-marg") {
            $('#myPicLabel').text('M. G. MARG')
            $('#pic-path').attr('src', '/Content/img/SikkimImages/InsideGangtok/mgmarg.jpg');
            $('#pic-details').html("<p>The Main Thoroughfare Of Gangtok Town. Slightly Less Than A Kilometer In Length And Lined With Shops, Hotels, Restaurants, Bars, Bakeries, Studios, Cyber Cafes, Pool Rooms, And Curio Shops, This Stretch Of Road Constitutes The Commercial Hub Of Gangtok.</p>");
        }
        $('#myModal').modal('show');
    });

</script>