@{
    ViewBag.Title = "JammuTrek";
    Layout = "~/Views/Shared/JammuLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Trekking</b>
</div>
<div class="well" style="padding:18px;">
    
    <img src="~/Content/img/jammu/Trekkings.jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
    <p>
        Jammu And Kashmir Has Well Defined Trekking Tracks Set Amidst The Youngest And Highest Mountain Range In The World. One Can Enjoy The Exquisite Sceneries And Have An Insight To Real Life In Villages That Adorn These Routes. You Need Not Be Experienced Trekker To Enjoy This Adventurous Trekking Tour In Jammu And Kashmir. Amarnath Yatra Is One Of The Most Famous Trekking Routes In Jammu And Kashmir. Chandanwadi, Sheshnag And Mahagunas Pass Are The Areas Which One Passes Through While Trekking To Holy Hindu Shrine , The Amarnath Cave. This Trek Is Not Only Pilgrimage Tour But Also Turns Out To Be Perfect To Explore Serene Environment Of Valley. Ladakh Is Major Trekking Centre With Numerous Trekking Routes. Zansskar Valley Trek Is Most Famous Which Takes You To Drang- Drung Glacier And Panzila Top At An Altituide Of 4400 M. Tour To Pir Panjal Range, Ferozpur Nala, Tejjan And Danwas Are Other Major Trekking Routes.
    </p>

</div>
