
@{
    ViewBag.Title = "JammuAngling";
    Layout = "~/Views/Shared/JammuLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Angling & Fishing</b>
</div>
<div class="well" style="padding:18px;">
    
    <img src="~/Content/img/jammu/Angling.jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
    <p>
        In Jammu And Kashmir Angling And Fishing Is Another Fast Catching Up Sport. The Hilly Brooks And Rivulets Have Abundant Wealth Of Fishes Of Different Varieties. Relaxing Experience Of Fishing In Hilly Areas In The Soothing Sun Itself Is A Unique Experience. Government Has Made It Compulsory For Tourists To Take Permission From The Directorate Of Fisheries, Tourist Reception Center, Srinagar For Fishing And Angling. Tourists Can Also Witness Traditional Fishing From Houseboats And Shikaras In Dal Lake.
        </p>
    
</div>
