@{
    ViewBag.Title = "JammuTosee";
    Layout = "~/Views/Shared/JammuLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Jammu & Kashmir</b>
</div>
<div class="col-md-12">
    <p>
        The State Of Jammu And Kashmir Has Been A Symbol Of Eternal Natural Beauty Since Time Immemorial. The Once Mountain Retreat Of Mughals, Abode Of Buddhist Lamas And Alps Of India For The British Rulers, Was Rightly Termed As Jahangir's Valley Of Paradise. It Has Been One Of The Most Beautiful, Attractive, Serene, And Most Talked About Yet Most Controversial Tourist Destination In India.
    </p>
    <p>
        Thankfully, The Things Are Getting Better In The Valley Of Lakes And Houseboats After A Disturbing Era Of Insurgency Of 20 Years.
    </p>
    <p>
        Kashmir Is Home To Some Of The Highest And Most Beautiful Parts Of The Himalayas. It Is Necessary To Dispel A Doubt Here That The Entire Kashmir Is Not Violent Or Affected By The Insurgency. The State Of Jammu And Kashmir Is Comprised Of Three Major Parts; The Largely Hindu Jammu, A Buddhist Dominated Laddakh And The Muslim Majority Kashmir Valley.
    </p>
    <p>
        Laddakh Is Almost Unaffected By The Violent Disturbances Of Kashmir Valley. Jammu Is Comparatively Safer And Kashmir Valley Is Getting Better Day By Day; So You Can Travel To Any Part Of The State Including The Kashmir Valley Without Any Worries, If The Security Situation Is Normal Over There.
    <p>
        The Most Beautiful City In The Entire Kashmir Valley Is Srinagar. The Scenic Views Of The Valley Vary According To The Location You Are At. The Mountain Peaks Look Heavenly From A Distance, The Sunlight And The Clouds Appear To Be Out Of This World And Deep Blue Sky Makes Us Feel At Peace And Rejuvenated. Srinagar Is Also Called The City Of Lakes. It Is Famous For Enchanting Dal Lake, Hazratbal Shrine (Dargah) And The Mughal Gardens Referred To As Shalimar Bagh And Nishat Bagh. Pahelgam Is Another Beautiful Valley With A Wildlife Sanctuary, Ropeways And Wonderful Tracking Routes. Gulmarg Is Known For Its Exemplary Scenic Beauty, Ski Resorts And The Highest Golf Course In The World.
    </p>
  


    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/jammu/Srinagar.jpg" alt="Srinagar" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Srinagar" />
                </div>
            </div>
            <h5>Srinagar</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/jammu/Leh.jpg" alt="Leh" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Leh" />
                </div>
            </div>
            <h5>Leh</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/jammu/Jammu-City.jpg" alt="Jammu-City" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Jammu-City" />
                </div>
            </div>
            <h5>Jammu City</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/jammu/rajauri.jpg" alt="rajauri" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="rajauri" />
                </div>
            </div>
            <h5>Rajauri</h5>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/jammu/Gulmarg.jpg" alt="Gulmarg" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Gulmarg" />
                </div>
            </div>
            <h5>Gulmarg</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/jammu/Udhampur.jpg" alt="Udhampur" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Udhampur" />
                </div>
            </div>
            <h5>Udhampur </h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/jammu/Kathua.jpg" alt="Kathua" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Kathua" />
                </div>
            </div>
            <h5>Kathua</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/jammu/Kupwara.jpg" alt="Kupwara" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Kupwara" />
                </div>
            </div>
            <h5>Kupwara</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/jammu/Budgam.jpg" alt="Budgam" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Budgam" />
                </div>
            </div>
            <h5>Badgam</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/jammu/Kargil.jpg" alt="Kargil" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Kargil" />
                </div>
            </div>
            <h5>Kargil </h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/jammu/sonmarg.jpg" alt="sonmarg" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="sonmarg" />
                </div>
            </div>
            <h5>Sonmarg</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/jammu/Pulwama.jpg" alt="Pulwama" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Pulwama" />
                </div>
            </div>
            <h5>Pulwama</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/jammu/Doda.jpg" alt="Doda" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Doda" />
                </div>
            </div>
            <h5>Doda</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/jammu/Poonch.jpg" alt="Poonch" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Poonch" />
                </div>
            </div>
            <h5>Poonch </h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/jammu/Anantnag.jpg" alt="Anantnag" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Anantnag" />
                </div>
            </div>
            <h5>Anantnag</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/jammu/Baramulla.jpg" alt="Baramullah" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Baramullah" />
                </div>
            </div>
            <h5>Baramullah</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/jammu/Katra.jpg" alt="Katra" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Katra" />
                </div>
            </div>
            <h5>Katra</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/jammu/Patnitop.jpg" alt="Patnitop" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Patnitop" />
                </div>
            </div>
            <h5>Patnitop </h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/jammu/Hemis.jpg" alt="Hemis" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Hemis" />
                </div>
            </div>
            <h5>Hemis</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/jammu/Kishtwar.jpg" alt="Kishtwar" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Kishtwar" />
                </div>
            </div>
            <h5>Kishtwar</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/jammu/Nubra-valley.jpg" alt="Nubra-valley" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Nubra-valley" />
                </div>
            </div>
            <h5>Nubra Valley</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/jammu/Drass.jpg" alt="Drass" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Drass" />
                </div>
            </div>
            <h5>Drass </h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/jammu/Zanskar-Valley.jpg" alt="Zanskar-Valley" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Zanskar-Valley" />
                </div>
            </div>
            <h5>Zanskar</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/jammu/Pangong-Lake.jpg" alt="Pangong-Lake" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Pangong-Lake" />
                </div>
            </div>
            <h5>Pangong Lake</h5>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myPicLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="col-md-4 col-sm-5" style="padding:8px;">
                    <img src="" id="pic-path" class="img-rounded resp-img" />
                </div>
                <div class="col-md-8 col-sm-7" id="pic-details">

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script>
    $('.view input').on('click', function (e) {
        e.preventDefault();
        var alt = $(this).attr('id');
        if (alt == "Srinagar") {
            $('#myPicLabel').text('Srinagar')
            $('#pic-path').attr('src', '/Content/img/jammu/Srinagar.jpg');
            $('#pic-details').html("<p>The Capital City Srinagar Is The Prized Possession Of The Vale Of Kashmir. Imbibing Many Colors Of The State, It Reflects The Authentic Jammu & Kashmir. The City Sits Quietly On The Bank Of Jhelum And Contemplates The Vivaciousness. The Canopied Shikara Boats, Plush Houseboats, Snow-Capped Mountains And The Sparkling Water Of Dal And Nageen Lake Come Together To Bring The Picture Of Authentic Srinagar Come Alive. </p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Leh") {
            $('#myPicLabel').text('Leh')
            $('#pic-path').attr('src', '/Content/img/jammu/Leh.jpg');
            $('#pic-details').html("<p>Complimenting The Northern Periphery, Leh Is A Land Of Queer Beauty And Sheer Adventure. The Lofty Mountains, The Alpine Lakes, Divine Gompas And The Quaint Settings Make Leh One Of The Best Places To Visit In Jammu & Kashmir. Located 434Kms. From Srinagar, It Majorly Intrigues Adventure Enthusiasts And People With Artistic Bent Of Mind. The Architectural Grandeur Of Spiritual Places Like Alchi Monastery, Hemis Monastery, Matho Monastery, Spituk Monastery And Thiksey Monastery Dazzles Visitors, Whereas General Zorawar Fort, Stok Palace And Jama Masjid Has The Potential To Surprise Spectators.  At Leh, One Would Get A Perfect Blend Of Adventure And Spirituality, Which Is Of Course Accompanied By Natural Scenic Beauty. Trekking And Mountain Biking Couldn’t Excite Adventure Seekers More There Are Several Beautiful Trails That Instigate Opportunity For Brilliant Adventure Experience. Clad With Beauty Of Nature, Leh Also Provide Opportunity To Witness The Himalayan Panaroma.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Jammu-City") {
            $('#myPicLabel').text('Jammu City')
            $('#pic-path').attr('src', '/Content/img/jammu/Jammu-City.jpg');
            $('#pic-details').html("<p>Protected And Blessed By Mata Vaishno Devi, Who Seems To Have Found Her Earthly Abode On The Trikuta Hills, Jammu City Is Indeed Amongst The Top Places To Visit In Jammu & Kashmir. Dubbed As The City Of Temples, Jammu Invites Those Seeking Peace And Tranquility. The Unmatched Divinity At Raghunath Temple, Ranbireshwar Temple, Mahamaya Temple, Peer Baba And Peer Khoh Touches Every Corner Of Jammu Invigorates Visitors.  One Must Visit The Bahu Temple, Which Is Situated Inside The Majestic Bahu Fort. The Temple Is Dedicated To Presiding Deity Of Jammu, Goddess Kali Or Bawe Wali Mata As She Is Popularly Called In The Region. Besides The Temple, A Travel Enthusiast Can Witness Architectural Grandeur Of Bahu Fort And Mubarak Mandi Palace. The Aquarium At Bagh-E-Bahu (Bahu Fort) Also Catches The Eyes Of The Tourists As It Is The Largest Underground Aquarium In The Country. A Trip To Jammu Is No Less Than An Expedition To A Holy Land.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "rajauri") {
            $('#myPicLabel').text('Rajauri')
            $('#pic-path').attr('src', '/Content/img/jammu/rajauri.jpg');
            $('#pic-details').html("<p>The Refuge Of Several Gujjars And Bakerwalas, Rajauri Is Situated Around 154kms. Away From Jammu. The District Shares Border With Pakistan And Thus Remain An Intriguing Travel Destination. Rajauri Is Blessed With Many Charming Places To Visit; Dehra Ki Gali, Thanna Mandi And Kotranka Budhal Are Few Places That Are Apt For Sightseeing. One Can Retire To These Remote Places In Summers As The Weather Remains Pleasant Here All Year Round. The Magnificent Rajauri Fort, Balidan Bhavan, Dhanidar Fort And Rama Temple Are Few Places That Can Be Visited In The Vicinity Of Rajauri.  An Absolute Delight For Travel And Adventure Enthusiasts, Rajauri Is Amongst One Of The Top Places Of Interest In Jammu Kashmir.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Gulmarg") {
            $('#myPicLabel').text('Gulmarg')
            $('#pic-path').attr('src', '/Content/img/jammu/Gulmarg.jpg');
            $('#pic-details').html("<p>Dubbed As Skiers’ Paradise, Gulmarg Is Indeed Amongst The Best Places To Visit In Jammu & Kashmir. Located Approximately 52kms Away From Capital City Srinagar, Meadow Of Flowers As It Is Popularly Called Gulmarg Is A Haven For Adventure Enthusiasts. Along With Prominent Skiing Option, Trekking, Snowboarding, Golfing, Mount Biking And Fishing Are The Prime Options That Gulmarg Overwhelms You With. Visit Kongdori, Shark Fin And Apparwath Peak Not Only For Skiing But Also To Witness The Splendid Natural Landscape Of Gulmarg. Other Places To See The Blessings Of Majestic Nature Near Gulmarg Are Nagin Valley (For Which You Have Trek), Khilanmarg, Frozen Lake And Bota Pathri. Baba Reshi And Gulmarg Gondola (Cable Car) Also Makes For A Must Visit In Gulmarg.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Udhampur") {
            $('#myPicLabel').text('Udhampur')
            $('#pic-path').attr('src', '/Content/img/jammu/Udhampur.jpg');
            $('#pic-details').html("<p>This Plot Of Land Was Allotted To Nepali Speaking People By The British Authority To Build Temple In The Year 1926. The Gorkha Community Then Constructed A Radha Krishna Temple There In The Year 1932.The Radha Krishna Nepali Mandir Was Renovated In The Year 1996 Under The Leadership Of Then President Of Nepali Mandir Prabandhak Samity, Sri Ram Prasad Sarmah.<br/>The New Structure Has Ground Floor And 1st Floor, A Hall Is There, Where Different Religious And Social Activities Takes Place. The Main Temple Premises Situated In The 1st Floor Has Three Different Mandirs. The Main Temple Has Radha Krishna Idol. In Its Left Shiv Mandir With Shiv Lingain It.<br/>On The Right Side Of Radha Krishna Mandir Is Hanuman Mandir With Lord Hanuman`S Idol In It.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Kathua") {
            $('#myPicLabel').text('Kathua')
            $('#pic-path').attr('src', '/Content/img/jammu/Kathua.jpg');
            $('#pic-details').html("<p>Owing To The Existence Of A Large Number Of Sufi Shrines, Kathua Is Dubbed As The City Of Sufis. The City Is Beautifully Situated On The Bank Of River And Offers Itself As One Of The Best Places To Visit In Jammu & Kashmir. True To Its Title, Kathua Houses Several Religious Places Including Jasrota Temple (Inside Jasrota Fort), Mata Sundrikote, Mata Bala Sundri, Sapt Sarober And Airwan Temple. It Is Ideal To Pay Homage To One Of These Sacred Places As In To Understand The Spirituality Prevailing In Kathua. A Recreation Park Called Dream Has Also Been Set Up In Kathua Promising An Enthralling Rafting Experience. The Ujh Barrage Located 20kms Away From Kathua Is An Idyllic Picnic Spot. Kathua Also Invites The History Lovers To Jasrota Fort To Witness The Grandeur Built Tastefully By Maharaja Ranbir Singh. Also The Temple Of Maha Kali In The Jasrota Village Has Emerged As A Popular Pilgrimage Centre In The Region. Kathua Is A Perfect Blend Of Culture And Tradition And Offers An Authentic Picture Of Jammu And Kashmir.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Kupwara") {
            $('#myPicLabel').text('Kupwara')
            $('#pic-path').attr('src', '/Content/img/jammu/Kupwara.jpg');
            $('#pic-details').html("<p>Noted For Natural Beauty And Charm, Kupwara Is Indeed A Vital Part Of Jammu & Kashmir Tourism. The Lush Meadows, Alpine Mountains And The Gushing Clear Water Make Kupwara An Important Tourist Attraction In The State. Boasting Of Lofty Mountain Peaks Like Shamsbari (12000ft Above Sea Level), Nastachun (10273ft Above Sea Level) And Dajalonjun (16000ft Above Sea Level), This District Exemplifies The Beauty Of Kashmir. The Ainch Mountain Offers The Opportunity To Get A Panoramic View Of The Vale Of Kashmir From Its Top. There Are Also Many Historical Villages That Allow The History Lovers To Contemplate Including Gushi (Built By Kashi Shah), Karnah (Mentioned In Raj Tarangini Written By Kalhana) And Keran. However, The Lolab Valley Steals The Limelight And Kheer Bhawani Asthapan, Hazrat Mehmood Shah Shrine, Shaloora Shrine And Many Other Make For Other Brilliant Option For Sightseeing In Kupwara.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Budgam") {
            $('#myPicLabel').text('Badgam')
            $('#pic-path').attr('src', '/Content/img/jammu/Budgam.jpg');
            $('#pic-details').html("<p>Blessed With Exotic Locales That Invigorate Visitors And Locals Alike, Badgam Is The Reflection Of Authentic Kashmir. One Can Be Spoilt For Choices When It Comes To Tourist Attractions In Jammu & Kashmir, Especially In The Budgam District. It Boasts Immensely Of Picturesque Places Like Yusmarg, Sang-E-Safed, Pehjan And Khag. One Can Visit The Beautiful Nilnag Lake Located 4kms Down The Hill From Yusmarg. Doodhpather Is Another Great Haunt For The Nature Lovers In Badgam District. There Are Number Of Natural Trails In The Region That Offers Good Opportunity For Trekking. Adventure Enthusiasts Can Trek To Sang-E-Safed (Base For Mount Tatakutti) Doodhpather And Mount Tatakutti.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Kargil") {
            $('#myPicLabel').text('Kargil')
            $('#pic-path').attr('src', '/Content/img/jammu/Kargil.jpg');
            $('#pic-details').html("<p>Brave Heart Kargil Is Situated At India-Pakistan Border At An Altitude Of Approximately 2800m Above Sea Level. Connected To The Zojila Pass, Kargil Holds Important Place In The History Of India. Set Up In The Ladakh Region Of The State, Kargil Is One Of The Most Interesting Places To See In Jammu & Kashmir. It Offers Great Opportunity To Trekkers, Campers, Rafters And Mountaineers. The Nun Mountain Allows Mountaineering Expeditions Whereas, Kargil Offers Brilliant Option For Trekking To Pensi – La Lake And Suru Valley. Excursion Can Be Made To Drass And See Features Like Tolo-Ling, Mushkoo Valley And Tiger Hill. A Short Walk To Goma Kargil Provides Breathtaking Views. Mulbek Gompa, Shergol, Urgyan Dzong And Wakha Rgyal Are Prime Attractions Of Kargil.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "sonmarg") {
            $('#myPicLabel').text('Sonmarg')
            $('#pic-path').attr('src', '/Content/img/jammu/sonmarg.jpg');
            $('#pic-details').html("<p>Needless To Say That Without A Visit To Sonmarg, A Trip To Jammu & Kashmir Would Be Incomplete.  Blessed With Unmatched Landscape, Sonmarg Make For An Extravagant Visual Treat. Famed For Many Excursion Options, There Is A Large Number Of Trek And Short Routes That Lead To Places Like Gangabal Lake, Kishansar Lake, Vishansar Lake, Naranag, Haramukh Mountain And The Famous Baltal And Thajiwas Glacier. Baltal, Which Is Located 15kms Away From Sonmarg, Is Used As The Base Camp For Pious Amarnath Yatra. Sonmarg. Do Not Miss Out On The Opportunity To Visit Zojila Pass, Which Is Situated Near Sonmarg And Connects Kashmir And Ladhak.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Pulwama") {
            $('#myPicLabel').text('Pulwama')
            $('#pic-path').attr('src', '/Content/img/jammu/Pulwama.jpg');
            $('#pic-details').html("<p>Congenial Climate, Fragrant Saffron Fields And Affable People Welcome You To Pulwama District. Lose Yourself In The Beauty Of Sprawling Saffron Fields And The Rich Culture That Dwells Here.  Pulwama Gives You Quite A Large Number Of Places For Sightseeing Including Nagberan, Tarsar Lake, Marsar Lake, Shikargarh And Aripal Nag. Where, Nagberan Is A Small Scenic Town That Draws Lot Of Nature Lovers To It, There Shikargarh Is Known For Attracting Wildlife Lovers. On The Other Side, Tarsar And Marsar Are Two Legendary Lakes That Must Be Visited For Its Unmatched Beauty. Another Allure Of Pulwama Is Aripal Nag, Which Is Situated 11Kms. From Tral Town And Is Famed For Natural Water Springs. If You Cherish Visiting Historical Places And Shrines Then The Avantishwar Temple Is A Must Visit For You.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Pahalgam") {
            $('#myPicLabel').text('Pahalgam')
            $('#pic-path').attr('src', '/Content/img/jammu/Pahalgam.jpg');
            $('#pic-details').html("<p>The Green Meadows And The Lofty Mountains Are Followed With Tranquility And Serenity In Pahalgam. The Beauty Of This Small Exceptional Town Does By No Means Can Be A Disappointment For An Ardent Nature Lover. Blessed With Good Accommodation Option, Pahalgam Is Indeed One Of The Best Places To visit Jammu & Kashmir. Expect A Lot Of Greenery, Hotels And Resorts And Lot Of Beauty Surrounding You. Aru Valley, Betaab Valley, Baisaran, Sheshnag And The Tulian Lake Excursion Can Invigorate Your Senses And Activities Like Horse Riding; Trekking And Golf Make Sure That You Remain Engaged All Through Your Journey. Chandanwari, Which Is Located 16Kms. Away From Pahalgam Is The Base Camp For Amarnath Yatra, A Trekking Route Of Approximately 30Kms. Lead Up To The Holy Shrine Of Amarnath From Here. Pahalgam Is The Most Developed Region Of Valley Of Kashmir And Thus Don’t Expect It To Be Quite Like Other Destinations In Kashmir.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Doda") {
            $('#myPicLabel').text('Doda')
            $('#pic-path').attr('src', '/Content/img/jammu/Doda.jpg');
            $('#pic-details').html("<p>Brahmaputra River Side Has A Spectacular View. In The Month Of April A Vibrant Beach Festival Takes Place Here. On Other Days You Can Just Choose To Spend Hours Enjoying The Cool Breeze On The River Banks Or Take A Serene Boat/Ferry Ride In The Vast River And Catch A Sight Of The River Dolphins Playing In The Water.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Poonch") {
            $('#myPicLabel').text('Poonch')
            $('#pic-path').attr('src', '/Content/img/jammu/Poonch.jpg');
            $('#pic-details').html("<p>If You Are A Travel Enthusiast In Real Sense, Then Poonch Is One Place That You Must Visit. Situated On India-Pakistan Border, Poonch Certainly Has Something That Draws Travel Aficionados From All Over The World. Fringed By Pir Panjal Range, It Is One Of The Most Scenic Places That We Encounter In Jammu & Kashmir. Verdant Green Meadows, Alpine Mountains, Stunning Natural Lakes… To Cut It Short, Poonch Is Just Enchanting! The Waterfall At Behram Galla Named As Noori Chhamb, The Seven Lakes (Sukhsar, Neelsar, Bhagsar, Katorasar, Kaldachnisar And Nandansar) At Girgan Dhok, The 18th Century Poonch Fort And Small Villages Like Mandi And Surankote Are The Highlights Of The Valley. There Are Many Shrines And Temples Like Budha Amarnath In Mandi, Gurudwara Nangali Sahib, Gurudwara Deri Sahib, Ziarat Sain Illahi Bakhsh Sahib, Battalkote That Are Quite Popular And Should Be Visited In Poonch.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Anantnag") {
            $('#myPicLabel').text('Anantnag')
            $('#pic-path').attr('src', '/Content/img/jammu/Anantnag.jpg');
            $('#pic-details').html("<p>Anantnag Is Rightly The Paradise In Paradise! Strategically Positioned And Organized, Anantnag Has Some Of The Most Picturesque Towns Of The Valley Of Kashmir. Kokernag, Pahalgam, Verinag And Daksum Are Few Places That Adds Feather To The Cap Of Jammu & Kashmir Tourism.  Visit Kokernag For The Most Interesting ‘Claw-Like’ Formation Of The Streams That Divide From Here, Rest The Place Has Lush Gardens And Largest Fresh Water Springs In Kashmir. Standing At 2438m, Daksum Is Apt For Those Seeking Perfect Peaceful Ambiance. The Prominent Feature Of The Anantnag City Is The Martand Temple, Which Is A Must See. A Few Kilometers Away From The City Are Daksum, Which Is The Heaven For Nature Lovers. Here Is At Solitude Finds Its Real Meaning.  A Tour To Verinag Can Leave You Stunned; The Variety Of Flowers And The Sparkling Verinag Springs Is Truly Worth Seeing Here. It Is Needless To Mention That Holidays In Jammu & Kashmir Are Incomplete Without A Visit To Anantnag District, Where Lays A True Heaven!</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Baramullah") {
            $('#myPicLabel').text('Baramullah')
            $('#pic-path').attr('src', '/Content/img/jammu/Baramulla.jpg');
            $('#pic-details').html("<p>Reckoned To Be The Gateway Of Kashmir, Baramullah Is Another Bright Gem From The Kashmir’s Treasure Trove.  Both The City And The District Of Baramullah Are Generously Blessed With Natural Endowments. Gulmarg, Khilanmarg And Tangmarg Are Also Places Of Interest In Jammu & Kashmir Tourism Along With Being Important Tourist Attractions In The District. Where Gulmarg Is An Idyllic Skiing Resort, There Khilanmarg Is A Flower-Spangled Wide Valley, You Will Get Ample Of Opportunities To Click Beautiful Pictures Here. If In Baramullah, You Must Also Visit Wular Lake, Which Is Considered Asia’s Largest Fresh Water Lake And If You Enjoy Bird Watching, You Can Also Visit Manasbal Lake. Vijimarg, Mahalishamarg And Uri Are Some Ideal Picnic Spots. However, It Can Rightly Be Said That A Journey To Uri Is More Interesting Rather Than The Destination.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Katra") {
            $('#myPicLabel').text('Katra')
            $('#pic-path').attr('src', '/Content/img/jammu/Katra.jpg');
            $('#pic-details').html("<p>Brahmaputra River Side Has A Spectacular View. In The Month Of April A Vibrant Beach Festival Takes Place Here. On Other Days You Can Just Choose To Spend Hours Enjoying The Cool Breeze On The River Banks Or Take A Serene Boat/Ferry Ride In The Vast River And Catch A Sight Of The River Dolphins Playing In The Water.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Patnitop") {
            $('#myPicLabel').text('Patnitop')
            $('#pic-path').attr('src', '/Content/img/jammu/Patnitop.jpg');
            $('#pic-details').html("<p>Perched On A Hilltop At An Altitude Of 2024m, Patnitop Offers Overwhelming View Of The Shivalik Range. It Is One Destination In Jammu Region That Is Widely Acclaimed For Its Immense Beauty And The Abundant Fun Activities. For People Who Want To Some Quality Time Contemplating The Marvels Of Nature, Patnitop Is Just Right For Them. Visit Gourikund, Which Holds Great Spiritual Value, One Can Also See The Holy Kailash Parvat. A Leisure Walk To The Pine Forest Is Ideal For The Nature Lovers. Enjoy Trekking At Shivgarh And Paragliding, Abseiling (Rappelling), Rock Climbing And Camping At Sanasar. At A Little Distance From Patnitop, There Is A Village Called Kud That Is Famed For Vivid Varieties Of Sweets, Make Sure That You Try Some Of It And Take It Back Home As A Memoir Of Patnitop.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Hemis") {
            $('#myPicLabel').text('Hemis')
            $('#pic-path').attr('src', '/Content/img/jammu/Hemis.jpg');
            $('#pic-details').html("<p>Located About 45kms Away From Leh, Hemis Is Amongst The Best Places To Visit In Jammu & Kashmir. Situated On The Western Bank Of River Indus, This Small Village Is Famed For Its Prestigious Monastery And A National Park. Better Known As Hemis National Park, It Extends In A 600 Sq Km Of Area And Provides Shelter To Many Rare Species Like The Snow Leopards And Bharals. An Apt Place For Nature Lovers And Naturalists, This Sprawling National Park Is An Asset To Hemis Village. Travel Enthusiasts Have The Opportunity To Visit The Spectacular Hemis Monastery, Which Is The Largest Monastery In Ladakh. The Best Time To Visit Hemis Is During The Month Of June Or July, When The Entire Region Is Imbued In The Color Of Hemis Festival.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Kishtwar") {
            $('#myPicLabel').text('Kishtwar')
            $('#pic-path').attr('src', '/Content/img/jammu/Kishtwar.jpg');
            $('#pic-details').html("<p>Kishtwar Is Another Gem From The Crown Of Jammu & Kashmir. Situated Approximately 255kms Away From Jammu City, Kishtwar Is Surrounded With Lofty Mountains And Dense Deodar And Pine Forests. A Perfect Place For Those Who Enjoy Taking Short Or Long Walks Or Contemplating The Natural Beauty, Kishtwar Is A Paradise In Its Own Right. Chowgan, Paddar, Chingam, Sinthan Top, Warwan And Marwah Are The Places That You Must Visit. Also A 400 Sq Km Land Is Under National Park In Kishtwar. There Are Also Two Sacred Voyages Namely, Machail Yatra And Sarthal Yatra That Begins From Kishtwar.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Nubra-valley") {
            $('#myPicLabel').text('Nubra valley')
            $('#pic-path').attr('src', '/Content/img/jammu/Nubra-valley.jpg');
            $('#pic-details').html("<p>Exotic Is What Comes In Mind, Whenever Nubra Valley Is Mentioned. It Is Situated Where River Shyok And River Siachen Meet, So You Can Expect An Impressive View. The Most Fascinating Feature Of Nubra Is Its Diversity; It’s An Absolute Surprise To Spot A Desert In Ladakh! Hunder, Which Is Situated In Nubra Valley, Is A Long Stretch Of Desert Area, Where One Can Enjoy Ride On The Bactrian Camels.  Another Brilliant Experience Is Passing Through Khardung La, Which Is One Of The Highest Motorable Roads In The World. Do Not Miss Out On Panamik, Which Is The Last Village That Is Accessible To Tourist. Ensa, Samstemling, Diskit And Hunder Monasteries Are Also Worth Visiting Here.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Drass") {
            $('#myPicLabel').text('Drass')
            $('#pic-path').attr('src', '/Content/img/jammu/Drass.jpg');
            $('#pic-details').html("<p>Reckoned To Be India’s Coldest And World’s Second Coldest Place, Drass Is Situated 60kms Away From Kargil. Located At The Base Of Zojila Pass, Which Connect Kashmir And Ladakh, Drass Is Also Dubbed As The Gateway To Ladakh. The Best Time To Visit Here Is During Spring And Summers, When The Snow Melts And The Greenery Returns. Visit The Drass War Memorial, Which Is Also Known As Kargil War Memorial. Drass Is Also A Base For A Trek To Beautiful Suru Valley.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Zanskar-Valley") {
            $('#myPicLabel').text('Zanskar Valley')
            $('#pic-path').attr('src', '/Content/img/jammu/Zanskar-Valley.jpg');
            $('#pic-details').html("<p>Blessed With Nature’s Best, Zanskar Defines Ladakh, It Has In Fact One Of The Most Beauty Locales That Attract Lot Of Adventure And Nature Lovers. Zongkhul, Zangla, Stongdey, Karsha And Panikhar Are The Highlights Of The Zanskar Region, Where Zongkhul And Stongdey Are Old Monasteries; There Zangla Is An Old Castle. Another Spectacular Place To Visit In Zanskar Is Pensi La Which Is A High Pass That Divides Zanskar From Suru Valley. Panikhar, Which Is The Border Of Sur Valley, Is Also An Excellent Place To Visit In The Vicinity Of The Valley Of Zanskar. You Can Also Enjoy Mountaineering, Trekking And Rafting Activities Here As Well.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Pangong-Lake") {
            $('#myPicLabel').text('Pangong Lake')
            $('#pic-path').attr('src', '/Content/img/jammu/Pangong-Lake.jpg');
            $('#pic-details').html("<p>The Beautiful Pangong Lake Has Become A Popular Place To Visit In Jammu & Kashmir After It Was Featured In The Bollywood Blockbuster 3 Idiot. The Lake Is Situated About 214Kms. Away From Leh And Is Famed For Its Azure Water And Its Picture Perfect Surroundings. The Marshy Area In The Vicinity Of The Lake Is A Shelter For Many Indigenous And Migratory Birds, Thus A Nature Lover Can Also Enjoy Bird Watching.</p>");
            $('#myModal').modal('show');
        }
    });

</script>
