@{
    ViewBag.Title = "JammuEntering";
    Layout = "~/Views/Shared/JammuLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Entering & Leaving</b>
</div>

<div class="col-md-12">
    <p>
        The State Of Jammu And Kashmir Is Located In The Extreme North Of India. It Makes For One Of The Most Visited States In The Country And About Four Million Indian Tourists Visit The State Every Year. Presence Of The Sacred Vishnu Devi Temple In The State Is The Factor Driving Most Of The People To The State. The Political Turmoil In The State Doesn't Prevent The Tourists From Making Their Way To One Of The Most Beautiful States In The Country.
    </p>

    <p>
        <b>
            By Air:<br />
            The State Has Four Airports, Namely:
        </b>
    </p>
    <ul class="customizedbullet">
        <li>
            Jammu Airport (Domestic)
        </li>
        <li>
            Kargil Airport (Defense)
        </li>
        <li>
            You Could Also Check With The Sela Pass Trek Expedition, Which Runs For A Week And A Half As Well. Rated As A Moderate, The Trekking Expedition Is Best Taken From October To April As Well.
        </li>
        <li>
            Kushok Bakula Rimpochee Airport, Leh (Domestic)
        </li>
        <li>
            Srinagar Airport (International).

</ul>
    <P>Major Airlines Like Indian Airlines, Jet Airways Operate Regular Flights To These Airports.</P>
    <p>
    <p><b>By Train:</b><br /></p>
        
            <p>
                The Most Important Railway Station In The State Of Jammu And Kashmir Is The Jammu Tawi Station Which Receives Trains From All The Major Indian Cities. Following Are Some Of The Trains That One Can Take To Jammu And Kashmir From Major Cities In India.             </li>
            </p>
    <p><b>By Road:</b><br /></p>

    <p>
        The State Has A Good Road Network Connecting Important Neighbourhood States And Cities Like Delhi, Amritsar, Ambala, Chandigarh, Ludhiana, Jalandhar, Pathankot, Shimla And Manali. National Highway 1A Is The National Highway Connecting Various Cities Of Jammu To Each Other And To The Rest Of India. One Can Also Take JKSRTC (Jammu Kashmir State Road Transport Corporation) Buses To Travel Within The State And The Nearby States. 
        </p>

    <p>Travel Within Jammu And Kashmir The Buses Operated By JKSRTC Connects Most Points Around The State. Some Terrains Of The State Are Not That Easily Accessible, For Such Areas 4wd Jeeps Are Quicker, But A Little More Expensive Option. Private Jeeps Are Also Available To Travel Within The State.</p>
</div>
