
@{
    ViewBag.Title = "ManipurWhyTrek";
    Layout = "~/Views/Shared/ManipurLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Why Trek In Mizoram</b>
</div>
<div class="well" style="padding:18px;">
    <img src="~/Content/img/WestBengal/Sandakphu.jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
    <p>
        Trekking Is One Tourism Activity Which Is Gaining Popularity In Mizoram.  The Hilly Terrain  And Rugged Mountains  Of Mizoram  Are A Trekking Paradise But Mostly Left Unexplored. There Are Hardly Any Beaten Trail. You Will Be Trekking Through Virgin Forests And Breathtaking Natural Landscapes, Observe And Enjoy Its Rich Flora And Fauna And Bask In The Glory Of Raw Nature. You Can Also Taste The Purest And Natural Spring Water While Trekking In Mizoram.    <p>
        The Caves, Rivers And Mountains Are The Ideal Destination For The Trekking Trails. Mizoram Offers Varieties Of Trekking Trails For The More Adventurous Spirit.    </p>
    <p>
        The Caves, Rivers And Mountains Are The Ideal Destination For The Trekking Trails. Mizoram Offers Varieties Of Trekking Trails For The More Adventurous Spirit.
    </p>

    
</div>