
@{
    ViewBag.Title = "MeghalayaOutside";
    Layout = "~/Views/Shared/MeghalayaLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Shillong</b>
</div>
    <h4 class="text-info">Places Of Interest Outside Shillong </h4>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/Mawsynram.jpg" alt="Mawsynram" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Mawsynram" />
                </div>
            </div>
            <h5>Mawsynram</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/jakrem-hot-springs.jpg" alt="jakrem-hot-springs" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="jakrem-hot-springs" />
                </div>
            </div>
            <h5>Jakrem</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/Dawki-River-Meghalaya-India.jpg" alt="Dawki-River-Meghalaya-India" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Dawki-River-Meghalaya-India" />
                </div>
            </div>
            <h5>Dawki</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/nartiang.jpg" alt="nartiang" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="nartiang" />
                </div>
            </div>
            <h5>Nartiang </h5>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/Syntu-Ksiar1.jpg" alt="Syntu-Ksiar1" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Syntu-Ksiar1" />
                </div>
            </div>
            <h5>Syntu Ksiar </h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/syandai.jpg" alt="syandai" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="syandai" />
                </div>
            </div>
            <h5>Syndai Excursion Tours </h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/Tura.jpg" alt="Tura" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Tura" />
                </div>
            </div>
            <h5>Tura Peak</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/balpakram-national-park-30.jpg" alt="balpakram-national-park-30" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="balpakram-national-park-30" />
                </div>
            </div>
            <h5>Balpakram </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/naphak.jpg" alt="naphak" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="naphak" />
                </div>
            </div>
            <h5>Naphak Lake</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/Siju-Caves.jpg" alt="Siju-Caves" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Siju-Caves" />
                </div>
            </div>
            <h5>Siju Caves </h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/norkek.jpg" alt="norkek" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="norkek" />
                </div>
            </div>
            <h5>Nokrek</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/siju-bird-sanctuary-8.jpg" alt="siju-bird-sanctuary-8" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="siju-bird-sanctuary-8" />
                </div>
            </div>
            <h5>Siju Bird Sanctuary</h5>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/imilchang-dare-meghalaya_40.jpg" alt="imilchang-dare-meghalaya_40" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="imilchang-dare-meghalaya_40" />
                </div>
            </div>
            <h5>Imilchang Dare</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/sisobibra.jpg" alt="sisobibra" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="sisobibra" />
                </div>
            </div>
            <h5>Sisobibra</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/Bhaitbari.jpg" alt="Bhaitbari" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Bhaitbari" />
                </div>
            </div>
            <h5>Bhaitbari</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/chibrage.jpg" alt="chibrage" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="chibrage" />
                </div>
            </div>
            <h5>Chibragre</h5>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/rongbang.jpg" alt="rongbang" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="rongbang" />
                </div>
            </div>
            <h5>Rongbang Dare</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/williamnagar.jpg" alt="williamnagar" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="williamnagar" />
                </div>
            </div>
            <h5>Williamnagar</h5>
        </div>
      
        

    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myPicLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="col-md-4 col-sm-5" style="padding:8px;">
                    <img src="" id="pic-path" class="img-rounded resp-img" />
                </div>
                <div class="col-md-8 col-sm-7" id="pic-details">

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script>
    $('.view input').on('click', function (e) {
        e.preventDefault();
        var alt = $(this).attr('id');
        if (alt == "Mawsynram") {
            $('#myPicLabel').text('Mawsynram')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/Mawsynram.jpg');
            $('#pic-details').html("<p>55Kms. From Shilong, It Closely Rivals Cherrapunjee In Annual Rainfall. Cherrapunjee Tour Will Take To The Famous Picturesque Cave Of Vast And Unexplored Depth, Featuring A Giant Stalagmite, The Slope Of A Natural Shivalinga. A Place Of Pilgrimage And A Natural Wonder Of Sightseers.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "jakrem-hot-springs") {
            $('#myPicLabel').text('Jakrem ')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/jakrem-hot-springs.jpg');
            $('#pic-details').html("<p>A Popular Health Resort With Hot Sulphur Springs 64Kms. From Shillong. Ranikor Scintillating Place Of Scenic Beauty, It Is Located 140Kms From Shillong. It Is One Of Meghlaya's Most Popular Travel Holiday Spots For Angling.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Dawki-River-Meghalaya-India") {
            $('#myPicLabel').text('Dawki')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/Dawki-River-Meghalaya-India.jpg');
            $('#pic-details').html("<p>96Kms. From Shillong, It Is Another Excellent Picnic Attraction With Silver Streams And Deep Water, Magnificent Views Of The Khasi Hills On One Side And Bangladesh On The Other.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "nartiang") {
            $('#myPicLabel').text('Nartiang ')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/nartiang.jpg');
            $('#pic-details').html("<p>Nartiang About 65 Km From Shillong And 24Km From Jowai, Is The Site Of The Cluster Of Giant Monoliths, One Of Which Is Said To Have Been The Walking Stick Of Mar Phalyngki 'The Goliath' Of Jaintia Legend. There Are Clusters Of Monoliths In Nartiang That Are Among The Tallest Anywhere In The World. </p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Syntu-Ksiar1") {
            $('#myPicLabel').text('Syntu Ksiar ')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/Syntu-Ksiar1.jpg');
            $('#pic-details').html("<p>This Is A Vast Pool Of Calm Water, Where The Flow Of The Meandering River Myntdu Which Almost Encircles The Jowai Town, Appears To Come To A Sudden Halt, Is Known As Syntu Ksiar Which Means Golden Flower. At Syntu Ksiar, The Myntdu Provides A Memorable Scene Of Remarkable Beauty. </p>");
            $('#myModal').modal('show');
        }
        else if (alt == "syandai") {
            $('#myPicLabel').text('Syndai Excursion Tours ')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/syandai.jpg');
            $('#pic-details').html("<p>Syndai Is An Important Village, Located In The Jowai-Dawki Road, Dotted With A Number Of Caves And Caverns. Collectively The Caves Are Called As Syndai Caves</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Tura") {
            $('#myPicLabel').text('Tura Peak')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/Tura.jpg');
            $('#pic-details').html("<p>A Majestic Hill Stands On The Eastern Flank Of Tura, The Largest Town In The Garo Hills Area Of Meghalaya. It Rises 2,877ft. A Tourist Bungalow, An Observatory And A Cinchona-Plantation Are Located At Tura Peak And Its Environs. A Spectacular View Of The Lower Brahmaputra Valley As Well As The Golden Yellow Plains Of Bangladesh Is Available All Year Round To Visitors Coming To Tura Peak. If Interested One Can Also Take Small Trekking Tour That Leads To Mid Way Of Tura Hill Surrounded With Lush Green Forests And Vegitation.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "balpakram-national-park-30") {
            $('#myPicLabel').text('Balpakram ')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/balpakram-national-park-30.jpg');
            $('#pic-details').html("<p>The Balpakram National Park Is About 165Kms. From Tura. It Is Also A Holiday Paradise For Wildlife Lovers. It Is Also Known As 'The Abode Of Perpetual Winds'.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "naphak") {
            $('#myPicLabel').text('Naphak Lake ')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/naphak.jpg');
            $('#pic-details').html("<p>Located At A Distance Of 112Kms. From Tura, It Is Ideal For Fishing, And Bird-Watching, With The River Simsang Flowing Nearby.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Siju-Caves") {
            $('#myPicLabel').text('Siju Caves ')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/Siju-Caves.jpg');
            $('#pic-details').html("<p>The Famous Limestone Caves Of Siju Are Located Near The Naphak Lake. This Place Is Worth Visiting.<br/>Located On The Cliff Overhanging The Right Bank Of The Simsang River In South Garo Hills District, The Cave Is Locally Known As Dobakhol Or The Cave Of Bats. The Cave Consists Of Innumerable Internal Chambers And Labyrinths, Which Have Not Yet Been Fully Explored. The Depth Of The Cave Is Yet To Be Fathomed. The Cave Is Totally Dark With A Perennial Stream Flowing Out Of It, Which Abounds With Different Forms Of Aquatic Life. The Formation Of Stalagmites And Stalactites In These Caves Resemble Those Of Blue Grotto In The Isle Of Capri.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "norkek") {
            $('#myPicLabel').text('Nokrek')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/norkek.jpg');
            $('#pic-details').html("<p>The Famous Attractions Is The Highest Point Of The Garo Hills Region Of The State Is The Nokrek Peak. A Virgin Canopy Of Thick, Tall And Lush Green Forests Cover Nokrek And Its Environs. The Nokrek National Park Has Been Established At Nokrek And It Abounds In Various Wildlife Including Herds Of Wild Elephants, Rare Varieties Of Birds And Pheasants, Beside Rare Orchids.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "siju-bird-sanctuary-8") {
            $('#myPicLabel').text('Siju Bird Sanctuary')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/siju-bird-sanctuary-8.jpg');
            $('#pic-details').html("<p>Just Across The Siju Cave On The Other Side Of Simsang River In The South Garo Hills- Where You Can Spot Many Rare And Protected Wild Birds-During Winter Some Migrating Birds Have Been Visiting This Places, Which Will Be An Added Attraction To Wild Life Lover.</p>");
            $('#myModal').modal('show');
        }

        else if (alt == "imilchang-dare-meghalaya_40") {
            $('#myPicLabel').text('Imilchang Dare')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/imilchang-dare-meghalaya_40.jpg');
            $('#pic-details').html("<p>It Is A Waterfall Of Immense Visual Beauty. The Deep Green Environs Full Of Large Ferns, Tall Creepers And Elegant Climbers Complete The Desired Effect, Making Imilchang Dare A Memorable Sight. The Deep Wide Pool At The Bottom Of The Falls With Its Wide And Expansive Surrounding Make It An Exciting Natural Swimming Pool, Full Of Fish Of Varied Size And Colour, Besides Being An Ideal Picnic Spot.</p>");
            $('#myModal').modal('show');
        }

        else if (alt == "sisobibra") {
            $('#myPicLabel').text('Sisobibra')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/sisobibra.jpg');
            $('#pic-details').html("<p>Sisobibra Is A Place Of Historical Importance Where The Garos Fought Their Last Battle Against The British Under The Command Of Pa Togan Nengminja. It Is Just 12 Km From Williamnagar On The Way To Tura On The Bank Of The Mighty Simsang River.</p>");
            $('#myModal').modal('show');
        }

        else if (alt == "Bhaitbari") {
            $('#myPicLabel').text('Bhaitbari')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/Bhaitbari.jpg');
            $('#pic-details').html("<p>Located On The Western Frontier Of The State, Bhaitbari Is A Small Village Of West Garo Hills District. The Site Is Renowned For The Archaeological Finds Having Been Uncovered After Protracted 'Excavations' On The Area. The Finds Are Of Artifacts, Which Reveal The Existence Of Planned Places Of Worship. The Bhaitbari Excavations Are Certainly Of Immense Historical And Anthropological Interest And Importance.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "chibrage") {
            $('#myPicLabel').text('Chibragre')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/chibrage.jpg');
            $('#pic-details').html("<p>Meaning Confluence Of 2 Rivers Is Just 25 Minutes Drive From Tura, A Veritable Picnic Spot With Its Lush Green Surrounding And Breath Taking Beauty. The Traditional Hanging Bamboo Cane Bridge Suspended Over The Ganol River From Bank To Bank Lures Many Picnickers To Try This Swinging Bridge.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "rongbang") {
            $('#myPicLabel').text('Rongbang Dare')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/rongbang.jpg');
            $('#pic-details').html("<p>This Sprightly Fall Though Perennial, Is At Its Best During The Monsoon Months. It Presents Motorists Deriving From Asanangre Towards Willaimnagar, A Romantic Visual Of Lasting Satisfaction. Clustered On Either Side By Vast Evergreen Hills Of Bamboo, The Falls Itself Appears To Be On The Sway, Leaving The Viewer With Memories Of Ecstatic Joy.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "williamnagar") {
            $('#myPicLabel').text('williamnagar')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/williamnagar.jpg');
            $('#pic-details').html("<p>Headquarter Of East Garo Hills District Encircled By The Simsang River - Has Been Named After The 1st Chief Minister Of Meghalaya Captain Williamson A. Sangma.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Lady-Hydari-Park-(Shillong)") {
            $('#myPicLabel').text('Rongdang Falls')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/Lady-Hydari-Park-(Shillong).jpg');
            $('#pic-details').html("<p>Just Above The Famous Siju Cave In The Midst Of Green Thick Jungle One Can See A Beautiful Waterfall Cascading Dow.</p>");
            $('#myModal').modal('show');

        }

    });

</script>