
@{
    ViewBag.Title = "MeghalayaWhyTrek";
    Layout = "~/Views/Shared/MeghalayaLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Why Trek In Meghalaya</b>
</div>

<div class="col-md-12">
    <p>
        Being A Hilly Region, Meghalaya Is Counted Amongst The Preferred Trekking Destinations.
        Here Trekking Opportunities Are As Challenging As Himalayas. The Difference Is That Hills Here Are Not Covered With Snow Like Himalayas. This Beautiful Region Has Many Waterfalls And Rivers, Which Please Your Eyes And Keep The Aura Soothing. Trekking In Such A Beautiful Environment Is A Different Experience, Which Allures Tourists From Far-Flung Areas.

    </p>
</div>
