
@{
    ViewBag.Title = "MeghalayaTrekking";
    Layout = "~/Views/Shared/MeghalayaLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Trekking</b>
</div>

<div class="col-md-12">
    <p>
        Trekking Holiday Tour Includes The Regions Of Beautiful Meghalaya Is An Awesome Experience. The Treks Are Very Charming In The Hill Slopes, Taking You Through The Villages, Brooks And Hills. Some Important Trekking Routes Are Weiloi To Umngi, Mawlyngot, Smit And Pynursla.

    </p>
</div>
