
@{
    ViewBag.Title = "MeghalayaTextile";
    Layout = "~/Views/Shared/MeghalayaLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Traditional Textile & Jewelries </b>
</div>
<div class="well" style="padding:18px;">
    <img src="~/Content/img/Meghalaya/Handloom-And-Handicraft-(-M.jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
  
    <p>
        <b>Textile</b><br />
    </p><p>
            Women Do Weaving In Their Spare Time And Use Back-Strap Or Loin-Looms, The Only Exception Being The Garos Who Also Use Frame-Looms. Endi Silk-Weaving, Famous For Its Feel And Sturdiness, Is Carried Out By The Local Women.    </p>
    <p>
        The Garos Also Cultivate A Variety Of Short Staple Cotton That Is Used To Make The Traditional Fabric Worn By The People Of This Region. Proportioned Motifs Are The Attraction Of The Textiles. . Dakmanda, Is A Kind Of Blouse Worn By The Garo Women And It Looks Like A Lungi. Daksari Is Another Dress Which Is Wrapped Around And Looks Like The Mekhla (Dress Worn By The Assamese Women).Table Cloths, Table And Bead Spreads Are The Other Items Prepared By The Garos.
    </p><p>The Khasi Woman Wears A Dress Called Jainsem, Which Flows To The Ankles And On Top A Blouse Is Worn. Over These, Are Tied Both Ends Of A Check Cotton Cloth On One Shoulder. On Formal Occasions, A Long Piece Of Assam Muga Silk Called 'Ka Jainsem Dhara' Is Worn, Which Hangs Loose Below The Knees After Being Knotted.
    </p>

   
</div>
