
@{
    ViewBag.Title = "MeghalayaAgriculture";
    Layout = "~/Views/Shared/MeghalayaLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Agriculture</b>
</div>
<div class="well" style="padding:18px;">
    <img src="~/Content/img/Meghalaya/Agriculture-(Meghalaya).jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
   

    <ul class="customizedbullet">
        <li>
            Besides The Major Food Crops Of Rice And Maize, The State Is Also Renowned For Its Horticultural Crops Like Orange, Lemon, Pineapple, Guava, Litchi, Banana, Jack Fruits And Temperate Fruits Such As Plum, Pear, Peach Etc. Apart From The Above The State Have Achieved Signal Success In The Cultivation Of Non-Traditional Crops Like Tea, Cashewnut, Oilseeds, Tomato, Mushr Oom, Wheat, Etc. 
        </li>
        <li>
            Agriculture And Irrigation : Meghalaya Is Basically An Agrarian State, In Which About 80 Per Cent Of The Population Depend Primarily On Agriculture For Their Livelihood. The State Has A Vast Potential For Developing Horticulture Due To Agro-Climatic Variations, Which Offer Much Scope For Cultivation Of Temperate, Sub-Tropical And Tropical Fruits And Vegetables.
                </li>
        <li>
           Besides The Major Food Crop Of Rice And Maize, Meghalaya Is Renowned For Its Oranges (Khasi Mandarian), Pineapple, Banana, Jackfruits, Temperate Fruits Like Plum, Pears And Peaches, Etc. Cash Crops, Popularly And Traditionally Cultivated Include Potato, Turmeric, Ginger, Black Pepper, Arecanut, Betelvine, Tapioca, Short Staple Cotton, Jute And Mesta, Mustard And Rapeseed. Special Emphasis Is Presently Laid On The Non-Traditional Crops, Like Oilseeds (Groundnut, Soyabean And Sunflower), Cashewnut, Tea And Coffee Mushroom, Medicinal Plants, Orchids And Commercial Flowers.
        </li>
        <li>
            The Meghalaya Industrial Development Corporation Limited, As The Industrial And Financial Institution Of The State, Has Been Rendering Financial Assistance To The Local Entrepreneurs. District Industries Centres Have Been Working In The Field For The Promotion And Development Of Small-Scale, Village, Tiny And Cottage Industries. A Number Of Industrial Projects Have Been Set Up For The Manufacture Of Iron And Steel Materials, Cement And Other Industrial Products.
        </li>

    </ul>

</div>
