
@{
    ViewBag.Title = "MeghalayaGolfing";
    Layout = "~/Views/Shared/MeghalayaLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Golfing</b>
</div>
<div class="well" style="padding:18px;">
    <img src="~/Content/img/Meghalaya/Golfing-At-Meghalaya.jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
    <p>
        It Is Golfer's Delight. The Shillong Golf Course Is Referred To As The "Gleneagle Of The East" . Golfers Enjoy The Lush Expanses And Serenity Of The Place.
    </p>
</div>
