
@{
    ViewBag.Title = "MeghalayaInside";
    Layout = "~/Views/Shared/MeghalayaLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Shillong</b>
</div>

    <p>
        Shillong Is The Capital City Of The Marvelous North Eastern State Of Meghalaya. There Are Several Scenic Places To Visit In Shillong. The Shillong Peak Is A Great Place To Catch A Breath-Taking View Of The City. The Umiam Lake Is Famous For Water Sports And A Cool Place To Hang Out.
    </p>
    <h4 class="text-info">Places Of Interest Inside Shillong </h4>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/Garo.jpg" alt="Garo" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Garo" />
                </div>
            </div>
            <h5>Tribal Research Institute</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/india-orchidarium-and.jpg" alt="india-orchidarium-and" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="india-orchidarium-and" />
                </div>
            </div>
            <h5>Botanical Garden & Museum </h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/Arunachal-Pradesh-Museum.jpg" alt="Arunachal-Pradesh-Museum" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Arunachal-Pradesh-Museum" />
                </div>
            </div>
            <h5>Arunachal Pradesh Museum</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/butterflymuseum.jpg" alt="butterflymuseum" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="butterflymuseum" />
                </div>
            </div>
            <h5>Butterfly Museum</h5>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/Umiam-Lake.jpg" alt="Umiam-Lake" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Umiam-Lake" />
                </div>
            </div>
            <h5>Umiam Lake</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/Shillong-Peak.jpg" alt="Shillong-Peak" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Shillong-Peak" />
                </div>
            </div>
            <h5>Shillong Peak</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/Wards-Lake-(Shillong).jpg" alt="Wards-Lake-(Shillong)" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Wards-Lake-(Shillong)" />
                </div>
            </div>
            <h5>Wards Lake</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/Don-Bosco-Centre-For-Indige.jpg" alt="Don-Bosco-Centre-For-Indige" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Don-Bosco-Centre-For-Indige" />
                </div>
            </div>
            <h5>Don Bosco Monument (Museum)</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/Orchidarium_Shillong_2681.jpg" alt="Orchidarium_Shillong_2681" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Orchidarium_Shillong_2681" />
                </div>
            </div>
            <h5>The Botanical Garden</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/Meghalaya/Lady-Hydari-Park-(Shillong).jpg" alt="Lady-Hydari-Park-(Shillong)" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Lady-Hydari-Park-(Shillong)" />
                </div>
            </div>
            <h5>Lady Hydari Park</h5>
        </div>
        
    </div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myPicLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="col-md-4 col-sm-5" style="padding:8px;">
                    <img src="" id="pic-path" class="img-rounded resp-img" />
                </div>
                <div class="col-md-8 col-sm-7" id="pic-details">

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script>
    $('.view input').on('click', function (e) {
        e.preventDefault();
        var alt = $(this).attr('id');
        if (alt == "Garo") {
            $('#myPicLabel').text('Tribal Research Institute')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/Garo.jpg');
            $('#pic-details').html("<p>The Displayed Exhibits Include The Colorful Textiles, Especially The Shawls And Garments Worn By The Local People, Wooden And Bone Images, Totems And Masks, Weapons And Utilitarian Implements, Baskets And Jewelry.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "india-orchidarium-and") {
            $('#myPicLabel').text('Botanical Garden & Museum ')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/india-orchidarium-and.jpg');
            $('#pic-details').html("<p>Just 02Km Travel From The City Of Shillong Lies The Famous Botanical Garden & Museum. The Museum Exhibits Several Species Of The Plant Kingdom. Most Of The Plants Displayed Here Are The Found In Meghalaya. There Are Also Some Rare To Find Orchids On Display. </p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Arunachal-Pradesh-Museum") {
            $('#myPicLabel').text('Arunachal Pradesh Museum')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/Arunachal-Pradesh-Museum.jpg');
            $('#pic-details').html("<p>About 3.5Km Away From Shillong Is The Arunachal Pradesh Museum. The Museum Here Display The Exquisite, Famous Items Of Arunachal Pradesh. If You Are Not Able To Visit Arunachal Pradesh, Then Do Visit This Place.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "butterflymuseum") {
            $('#myPicLabel').text('Butterfly Museum')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/butterflymuseum.jpg');
            $('#pic-details').html("<p>This Is About 01Km From Shillong. Meghalaya Is Home To Numerous Variety Of Butterflies, In Exotic Colours And Patterns. Take A Trip To Visit This Museum, Which Displays A Wide Spectrum Of Butterflies Found In Meghalaya.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Umiam-Lake") {
            $('#myPicLabel').text('Umiam Lake')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/Umiam-Lake.jpg');
            $('#pic-details').html("<p>Famous For Water Sports And A Popular Hangout. Located Around 15Kms. From Shillong, It Was Created By Damming The Umiam River. Kayaking, Water Cycling Or Scooting And Boating Can Be Enjoyed. Meghalaya Tourism Department Has Developed This Region As A Tourist Spot, And Also Runs The Orchid Tourist Home Overlooking The Lake.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Shillong-Peak") {
            $('#myPicLabel').text('Shillong Peak')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/Shillong-Peak.jpg');
            $('#pic-details').html("<p>Shillong Peak Is Considered As The Most Beautiful Scenic Place And Also A Romantic Destination For Newly Weds And Couples. Its A Picnic Spot And Most Visited By Tourists. Its Situated On A Height Of Around 1965Ft. Above The Sea Level. This Peak Adds A Breathtaking View To The Photographs. It Is One Of The Highest Peaks Of The Himalayas. It Is Said That Shillong Is Named After This Hill. Being A Hill Station It Is Famous For Its Panoramic View Of The City From The Top. This Locations Also Serves As A Radar Station For The Indian Air Force, So The Visitors Have To Surrender Their Cameras While Reaching The Point.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Wards-Lake-(Shillong)") {
            $('#myPicLabel').text('Wards Lake')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/Wards-Lake-(Shillong).jpg');
            $('#pic-details').html("<p>This Place Is Surrounded With The Beautiful View Of Flowers Blooming In An Array. Situated In The Middle Of The City Is This Pleasant Lake With Boating Facility. One Can Enjoy Boating Or Recess On The Grass Of The Garden Nearby And Take A Break From The Busy Life Schedules.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Don-Bosco-Centre-For-Indige") {
            $('#myPicLabel').text('Don Bosco Monument(Museum) ')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/Don-Bosco-Centre-For-Indige.jpg');
            $('#pic-details').html("<p>A Museum Where You Find All Details And Information Not Only About Meghalaya But All The Sister States Which Include Arunachal Pradesh, Tripura, Assam, Sikkim And Nagaland And Manipur. This Is A Museum For Indigenous Exhibits Which Are Directly Related To Everything About The Culture And Lifestyles Of North East India. This Includes Galleries Of Costumes, Food, Occupation, Musical Instruments And Art And Crafts. Here You Also Get To Know All About The Tribes Now And Then Of This Whole Region.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Orchidarium_Shillong_2681") {
            $('#myPicLabel').text('The Botanical Garden')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/Orchidarium_Shillong_2681.jpg');
            $('#pic-details').html("<p>A Better Place Is The Orchidarium Of The Botanical Survey Of India. It Has A Exceptional Collection Of Orchids And Is A Pleasure To The Nature Lover. <br/>This Landscaped Garden Is Located Just Below The Ward's Lake And Is A Favorite Haunt Of The Tourists As Well As The Local People. Located In A Remote Area, This Garden Is A Treasure Trove Of Varied Indigenous And Exotic Flora.<br/>Another Interesting Feature Of This Botanical Garden Is Its Mini-Aviary, Which Houses Rare And Colorful Species Of Birds. The Peaceful Surroundings Of The Garden And Its Secluded Setting, Makes It A Frequented Objective.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Lady-Hydari-Park-(Shillong)") {
            $('#myPicLabel').text('Lady Hydari Park')
            $('#pic-path').attr('src', '/Content/img/Meghalaya/Lady-Hydari-Park-(Shillong).jpg');
            $('#pic-details').html("<p>Lady Hydari Park Is One Of The Well Known Attractions In Shillong. The Park Is Frequently Visited By Locals And Is A Well-Visited Tourist Spot Of The Region. Named After The First Lady Of The Province, Lady Hydari, Wife Of The Governor Of Assam, The Park Is Spread Over An Area Of More Than A Kilometer And Features A Mini Zoo That Has About 73 Species Of Birds, 140 Species Of Reptiles And Other Mammals.</p>");
            $('#myModal').modal('show');
        }
        
    });

</script>