
@{
    ViewBag.Title = "MeghalayawhenTrek";
    Layout = "~/Views/Shared/MeghalayaLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">When To Trek</b>
</div>

<div class="col-md-12">
    <p>
        Best Time To Go To Meghalaya Is Throughout  The Year Except The Monsoons (End Of May To September). Sometimes Monsoons Season Continues To First Week Of October. This State Receive Anaverage Rainfall Of Upto 12,000 Mm Per Year, As In Rainy Season, Landslides Are Frequent, May Be You Can’t Get Out Of Your Hotel Rooms And Unable To Enjoy This State.     </p>
    <p>
        Generally Maximum Temperature Is Rarely Goes Beyond 30°C And Sub-Zero Temperature In Winters Are Common. As It Is One Of The Coolest States In North Eastern Parts, You Should Have To Take Heavy Winter Clothes With You.
    </p>

    <p>
        Climate Of Meghalaya Is Pleasant Through-Out The Year. It Is Neither Too Cold In Winters And Nor Too Hot In Summers. After The Heavy Rainfall (End Of May To October), Temperature Drops Down And Winter Starts From December To February.

    </p>
    
</div>
