
@{
    ViewBag.Title = "MizoramBoating";
    Layout = "~/Views/Shared/AboutMizoramLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Boating</b>
</div>
<div class="well" style="padding:18px;">
    <img src="~/Content/img/mizoram/Boating-At-Mizoram.jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
    <p>
        Tamdil Lake Is An Ideal Spot For This Leisure Activity. Keep Your Hassles Aside And Relax And Unwind In The Perfect Surroundings. The Views Of Valleys Between The Hills Present A Visual Treat Before You.
    </p>

</div>
