
@{
    ViewBag.Title = "MizoramShopping";
    Layout = "~/Views/Shared/AboutMizoramLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Shopping Guide</b>
</div>

<div class="col-md-12">
    <p>
        Mizoram Is A Heritage Place Filled With Cultural Vibes And Various Ethnic Groups. Mizoram Is A Place Of Beauty Here And What People Can Get Home Are Lovely Memories Along With Souvenirs. Mizo People Are Rural People Who Make Wonderful Hand-Crafted Items And Hence The Best Items To Get From Here Are Crafted Goods And Woven Clothes.
    </p>
    <p>
        Bamboo And Cane Items Are The Most Sought After By The Tourists. There Is A Traditional Skirt Wrap Worn By The Mizo Women Known As The Paun Which Is One Of The Most Colourful And Popular Products Of Mizoram. These Skirts Ranges From Low To Really High Prices. Apart From Clothes And Bamboo Products There Are Also Other Rangoon Goods Available Here Apart From Local Shops There Are Also Other Branded Shops Found Here Where One Can Go For Shop-Hopping
    </p>

    <p>
        The Journey To The Extreme North Eastern Part Of India Is Arduous And Extremely Adventurous In Its Nature. Trekking Through The Challenging Terrains Of Arunachal Pradesh With Outstanding Stock Of Varied Botanical Species Is Purely Unique And Breath-Holding. The Route To Each Trek Is A Quite Unique Experience.
    </p>

    <p>
      <b>Bamboo & Cane Product </b><br/>
        Bamboo & Cane Handicraft Items Are Most Prominent Crafts Of The State. These Plain Yet Mesmerizing Product Designs Of Cane And Bamboo Are Truly Amazing And Highly Durable. Baskets, Utensils, Hats, Flower Vases, Furniture And Other Decorative Items Are Made Out Of These Bamboo And Cane Handicrafts, Which Has A Wide Market Within The State And Outside. Moreover, The State Government Emporia Also Store A Large Number Of These Items At Affordable Rates.  
    </p>
    <p>
        <b>Basketry</b><br />
        Basketry Is A Popular Craft Among The Tribes In Mizoram. These Tribal People Are Experts In Making Beautiful Baskets Out Of The Soft Fibres Of Cane. Baskets Here Come In Various Designs, With Lids And Without Lids And In Various Shapes. They Are Made For Serving Various Purposes Like Cage, Container, Basket Etc.
    </p>
    <p>
        <b>Weaving </b><br />
        Weaving Is A Popular Craft In Mizoram And The Artisans Of The State Are Experts In This Craft Form. They Are Proficient In Changing The Simple Raw Material In Beautiful Designs And Patterns And Produce Lovely Fabric. The Intricate Traditional Designs Are Woven By The Mizo Women On Their Looms.
    </p>
    <p>
        <b>Embroidery</b><br />
        Embroidery Is Done On Different Types Of Attire In Dazzling Bright Colours. Shawls And Shoulder Bags Too Are Woven And Embroidered With Great Skill And These Are Famous With Tourists.
   </p>
</div>

