
@{
    ViewBag.Title = "MizoramWhenTrek";
    Layout = "~/Views/Shared/AboutMizoramLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">When To Trek</b>
</div>
<div class="col-md-12">
    <p>
        Mizoram Is Also Known As Land Of Hill People, It Is A Calm Destination With The Essence Of Simplicity. This State Doesn’t Experience Very Hot Summers Or Too Cold Winters, And It Is The Plus Point For Mizoram Tourism. November To March Is Best Time To Visit Mizoram With A Pleasant Temperature Varies From 11°C - 29°C.  With Clear Blue Sky And Misty Valley This Time Offers A Visual Treat To Tourists. This Period Of Time Is Also Best To Go For Trekking And Going Closer To Nature.   
     </p>
    <p>
        Rainy Season Enters The State In May And Last Till September, And This Rainy Time Should Be Avoided For A Trip To Mizoram, As Weather Will Be So Humid At This Time.    
    </p>

   
</div>
