
@{
    ViewBag.Title = "MizoramCamping";
    Layout = "~/Views/Shared/AboutMizoramLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Camping</b>
</div>

<div class="col-md-12">
    <p>
        Go Camping In The Virgin Forests Of Mizoram. Phawangpui Peak, Also Known As The Blue Mountain Is The Ideal Spot For Camping. Tamdil Lake In Aizwal Is Set Amidst The Lush Green Forests And Is Also A Good Camping Getaway. The State Has Vast And Expanse Areas Which Are Very Ideal For Camping With The Facility For Hiring Camping Gears. You Can Enjoy Campfire Along With Delicious Meals Prepared By The Campers Itself. Carry Your Sneakers, Handycam, Torch, Spare Batteries And Mosquito Repellent.
    </p>
   
</div>
