
@{
    ViewBag.Title = "MizoramPeople";
    Layout = "~/Views/Shared/AboutMizoramLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">People</b>
</div>
<div class="well" style="padding:18px;">
    <img src="~/Content/img/mizoram/People-Of-Mizoram.jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
    <p>
        The People Of Mizoram Are Of A Mongoloid Race Related To The Shaans Of Burma. The Lushai, Hmars, Paithes, Raltes, Pang, Mara, Lakher, Kukis And Pawis Of Mizoram Are The Tribes Who Were Previously Believers Of The Pathan (Good Spirit). With The Coming Of The British And Consequently The Christian Missionaries, Most People Converted To Christianity. The Nomadic Chakmas Practice A Curious Mix Of Hinduism, Buddhism And Animism. Most People Speak In English Besides Mizo. Mizo Is Written In Roman Script. In The Tribal Villages, The Chief’s House And 'Zawlbuk’ (The Community House For The Single Men) Are The Major Attractions. All Women Are Taught To Weave From The Age Of 8 And Men Are Adept At Basketry. The Most Interesting Fact Of The Social Fabric Is The Complete Lack Of Gender And Class Discrimination.
    </p>
</div>
