
@{
    ViewBag.Title = "MizoramTrekking";
    Layout = "~/Views/Shared/AboutMizoramLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Trekking</b>
</div>
<div class="well" style="padding:18px;">
    <img src="~/Content/img/mizoram/M-&-Trekking.jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
    <p>
        Mizoram Offers A Number Of Trekking Options In The Lush Green Forests And Valleys, Which Include Champai And Luglei Town. One Can Also Trek The Well Known Phawangpui Peak In Mizoram, Also Known As The Blue Mountain And Is Located Within The Phawangpui National Park. It Lies 7,100 Feet Above The Sea Level And Serves As The Perfect Spot For Trekkers. Travellers Opting For Trekking Have To Be Physically Fit And Strong To Take Up The Task. Don’t Forget To Carry A Pair Of Comfortable Sneakers And Bottled Water As They Are Very Essential.
        </p>

</div>
