
@{
    ViewBag.Title = "MizoramTrek";
    Layout = "~/Views/Shared/AboutMizoramLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Mountaineering/Trekking</b>
</div>
<div class="well" style="padding:18px;">
    <img src="~/Content/img/mizoram/Mountaineering-&-Trekking.jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
    <p>
        With Its Exciting Mountain Ranges, Sky Touching Peaks And Lush Green Hills, Mountaineering In Mizoram Can Be Simply Irresistible. With Altitudes Ranging From 1179 Meters To 2157 Meters, Mizoram Has 21 Mountain Peaks. These Peaks Offer Excellent Opportunities For Rock Climbing And Mountaineering.     </p>
    <p>
        One Of The Most Visited Peaks In Mizoram Is The Phawngpui Or The Blue Mountain Peak. It Is The Tallest Peak In The State With A Height Of Around 2165 Meters. Blessed With The Beautiful Rhododendron Vegetations And Rare Orchids, The Phawngpui Peak In Mizoram Is Loved By The Mountaineers And Botany Buffs.     </p>

    <p>
        The Panoramic View Of The Valley From The Top Of The Mountain Is Indescribably Beautiful. The Western Portion Of The Peak Has A Semi Circular Cliff, Which Is Known As Thalazaung Khamm. Local People Believe That Thalazaung Khamm Is A Haunted Place But Despite That, It Has Emerged As A Popular Spot With The Rock Climbers. Like The Blue Mountain Peak, Other Peaks Of The State Like Mount Kahrie, And Mount Mawma Are Also Visited By Thousands Of Mountaineers Every Year.     </p>

    <p>
        Mizoram In India Has An Abundant Deep Valleys Veiled With Rich And Luxuriant Surroundings Filled With A Vast Variety Of Flora And Fauna. Trekking Here Is Simply Excellent And Exciting. There Are About 21 Peaks In Mizoram Varying From 3,890Ft. – 7,118Ft. In Altitude. The Peaks Offer Much Scope To Visitors Fond Of Adventure Sports Like Climbing And Mountaineering.     </p>
    <p>
        Enjoy The Landscape Of Mizoram Abundant With Wild Flowers, Splendid Scenery, Local People, Conversing & Dancing People. There Are Routes, Which Ascend Steeply, And Which Go Around Local Villages, Passing Through Forests Of Rhododendron. It Is This Very Charm That Attracts The Spiritual Joy That Trekkers Have Found To Be.    </p>
   
</div>
