
@{
    ViewBag.Title = "MizoramJewelleries";
    Layout = "~/Views/Shared/AboutMizoramLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Jewelleries </b>
</div>

<div class="col-md-12">
    <p>
        Traditional Ornaments Like The Thihus (A Necklace With Big Amber Beads), Thifen (A Necklace With Smaller Beads), Darthi (A Necklace Of Glass Beads), Vakiria (Head Gear Worn By Women On Special Occasions Consisting Of A Bamboo Band Bedecked With A Feather And Decorated At The Ends With Beetle Wings) Are Crafted And Worn By The Tribes Of Mizoram.
    </p>
   
</div>
