
@{
    ViewBag.Title = "Mountaineering";
    Layout = "~/Views/Shared/SikkimLayout.cshtml";
}


<div class="well subheading-well" >
    <b class="subheading">Mountaineering</b>
</div>
<div class="well hidden-xs" style="padding:10px;">
    <div class="col-md-6 col-sm-6" style="padding:0px;">
        <img src="~/Content/img/SikkimImages/1.jpg" class="img-bordered resp-img" />
    </div>
    <div class="col-md-6 col-sm-6" style="padding:0px;">
        <img src="~/Content/img/SikkimImages/2.jpg" class="img-bordered resp-img" />
    </div>
    <div class="clearfix"></div>
</div>
<div class="col-md-12">
    <p>
        Mountaineering In Sikkim Has Been Introduced Very Recently. Government Of Sikkim Opened Few Alpine Peaks For Climbing As A New Step To Promote Quality Adventure Tourism In Sikkim. 
    </p>
    <h4 class="text-info">Season</h4>
    <p>
        Mountaineering Season In Sikkim Starts From April To June, And September To November
    </p>
    <h4 class="text-info">Permission</h4>
    <p>
        The Following Documents Have To Be Sent When Applying For A Climbing Permit: Completed Application, The Permit From The Ministry Of Tourism, Short Biographies Of All The Members Of The Expedition (With Photograph And Signature), Map And / Or Photograph Of The Mountain Indicating Climbing Route And Approach Route Map. 
    </p>
    <p>
        Permits To Climb The Trekking Peaks Are Issued By MOT Ministry Of Tourism In Coordination With The Home Department Government Of Sikkim And 17 Mountain Div Army C/o 99 APO On "First Come First Served" Basis. It Is Necessary To Appoint A Government Recognized Trekking Agency Of Sikkim & A Government Approved Liaison Officer  For The Expedition In Sikkim.
        The Trekking Agency Will Look After All The Requirements During The Expedition.
    </p>
    <h4 class="text-info">Fees</h4>
    <p>
        For Fees And Other Details Contact <a href="">brothersreservation@gmail.com</a>
    </p>
    <h4 class="text-info">Restrictions</h4>
    <p>
        Food And Equipment Require For Expeditions Require Should Be Custom Cleared. Walky-Talkies, Trans Receiver Sets And Other Communication Equipment Are Controlled Items In Sikkim And Have To Be Declared.
    </p>
    <h4 class="text-info">Contact</h4>
    <p>
        For Further Information Contact <a href="">brothersreservation@gmail.com</a>
    </p>
    <h4 class="text-info">Peaks Currently Open For Climbing In Sikkim Are As Follows </h4>
    <table class="table table-striped">
        <tr>
            <th>Names Of The Peaks </th>
            <th>Located</th>
            <th>Height In Meters</th>
            <th>Grade</th>
        </tr>
        <tr>
            <td>Frey Peak </td>
            <td>West Sikkim</td>
            <td>5830</td>
            <td>AD+</td>
        </tr>
        <tr>
            <td>Mt. Tenchenkhang </td>
            <td>West Sikkim</td>
            <td>5603 </td>
            <td>D</td>
        </tr>
        <tr>
            <td>Mt. Joponu </td>
            <td>West Sikkim</td>
            <td>6010</td>
            <td>D +</td>
        </tr>
        <tr>
            <td>Lama Wangden</td>
            <td>North Sikkim</td>
            <td>5868</td>
            <td>AD</td>
        </tr>
        <tr>
            <td>Brumkhangtse</td>
            <td>North Sikkim</td>
            <td>5635</td>
            <td>D</td>
        </tr>
    </table>
    <h4 class="text-info">Permits </h4>
    <p>
        The permits for the above mentioned peaks will be processed by us through the Sikkim Tourism and Home Department.
    </p>
    <h4 class="text-info">Expedition Royalties </h4>
    <p>
        The Following Royalties Are Levied For The Expeditions.<br />
        For Foreign Expedition Teams :<br />
        US $ 350 Per Team Of Upto Four Members,<br />
        US $ 500 Per Team Of Upto Eight Members<br />
        US $ 75 For Every Additional Members.<br />
        For Domestic Expedition Team Rs. 15,000/- Per Team Of Up To Eight Members And Rs. 1,500/- For Every Additional Members.<br />
        For Local Expedition Team Rs. 3000/- Per Team Of Up To Eight Members And Rs 300 For Every Additional Member.<br />
        For other details contact <a href="">brothersreservation@gmail.com</a>
    </p>
</div>