
@{
    Layout = "~/Views/Shared/NepalLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Mountaineering</b>
</div>
<div class="well hidden-xs" style="padding:8px;">
    <img src="~/Content/img/NepalImages/mount.jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
    <p>
        Nepal Is A Country Well Known For Its Himalaya Mountains. Among The 10 Highest Peaks In The World, Eight, Including The Highest Peak Mt. Everest, Crown This Country. Nothing On Earth Can Beat The Exhilaration Of Scaling Them. No Wonder Nepal Is The Favorite Destination For Mountaineers And Every Year More Than 600 Expeditions Trudge Up The Himalaya, Including The Trekking Peaks.
    </p>
    <h4 class="text-info">Seasons</h4>
    <p>
        There Are Four Mountaineering Seasons: Spring (March-May), Summer (June-August), Autumn (September-November) And Winter (December-February). A Total Of 153 Himalayan Peaks Are Open To Mountaineers. Climbing Permits Are Issued By The Ministry Of Tourism & Civil Aviation (MOTCA) For 135 Peaks Known As Mountaineering Peaks, And By The Nepal Mountaineering Association (NMA) For 18 Smaller Peaks, Known As Trekking Peaks, Which Range From 5,587 To 6,654 M In Altitude.
    </p>
    <h4 class="text-info">Permission</h4>
    <p>
        The Following Documents Have To Be Sent To MOTCA, Mountaineering Division When Applying For A Climbing Permit: Completed Application, Endorsement Of The National Alpine Club, Short Biographies Of All The Members Of The Expedition (With Photograph And Signature), Map And/or Photograph Of The Mountain Indicating Climbing Route And Approach Route Map. Enlistment Of The Expedition's Name Does Not Require Any Fee And It Should Not Be Paid Before Receiving The Permit From The Ministry Of Tourism.
    </p>
    <p>
        Permits To Climb The 18 Trekking Peaks Are Issued By NMA On "First Come First Served" Basis. It Is Necessary To Appoint A Government Recognized Trekking Agency Of Nepal As A Local Liaison For The Expedition In Kathmandu. The Trekking Agency Will Look After All The Requirements During The Expedition.
    </p>
    <h4 class="text-info">Fees</h4>
    <p>
        For Fees And Other Details Please Contact <b>query@brothersonline.net</b>.
    </p>
    <h4 class="text-info">Restrictions</h4>
    <p>
        Food And Equipment Imported For Expeditions Require An Import License And Should Be Custom Cleared. Walky Talkies, Tran Receiver Sets And Other Communication Equipment Are Controlled Items In Nepal And Have To Be Declared At The Customs Office At The Entry Point.
    </p>
    <h4 class="text-info">Contact</h4>
    <p>
        For Further Information Please Contact <b>query@brothersonline.net</b>.
    </p>
</div>
