
@{
    ViewBag.Title = "NagalandWhenTrek";
    Layout = "~/Views/Shared/AboutNagalandLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">When To Trek</b>
</div>

<div class="col-md-12">
    <p>
        The Best Time To Do The Trek Would Be From June-September. All The Wild Rhododendrons And Lillies Will Be In Full Bloom During This Season And Hence The Best Time To Marvel The Beauty Of This Valley. At  The  Dzukou  Valley  One Can  Experience  A  Drop  Of  Nearly 10  Degree  Celsius  As  Compared  To The  Base  In  Viswema  Village.  Day Temperature Remains Pleasant.
    </p>
    <p>
        The Drop In Temperature Is More Felt During Winters In November And December.
    </p>
    <p>
        <b>Trekking Tips</b><br />
        Take Trekking Shoes And Other Trekking Equipment With Yourself. Try To Contact A Proper Trekking Guide, Who Would Help You In Your Trekking Requirements And Also In Organizing Your Treks To Nagaland.


    </p>
</div>