
@{
    ViewBag.Title = "NagalandPeople";
    Layout = "~/Views/Shared/AboutNagalandLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">People Of Nagaland</b>
</div>

<div class="col-md-12">
    <p>
        The People Of Nagaland, The Nagas, Are Of Tibeto-Burmese Origin And Are Basically Tribal People With A Rich Tradition Of Self-Governance At The Village Level. They Have High Cheekbones, Almond Shaped Eyes, Sparkling Teeth And A Bronze Skin, Which Is Quite A Combination. The Population Of Nagaland Is Made Up Of Sixteen Tribal Groups With Their Distinctive Cultures. Each Tribe Wears Their Clan Motifs In Colorful Traditional Dresses, Has Its Own Dialect, Customary Practices And Traditions. The Nagas Have Invented Nagamese, A Pidgin Language Combining Local Dialects And Assamese. 
    </p>
    <p>
        Nagas Are Known As Fierce Fighters. The Naga Regiment In The Indian Army Is Fearless And Dreaded By All. In Fact, Two Generations Ago They Were Headhunters. They Believed That The Human Soul Lived In The Nape Of The Neck And Beheading Would Set It Free! The Trophies (Heads) Were Hoarded In The Men’s Community House Called `Morung’. 
    </p>

    <p>
        In Spite Of The Christian Influence In Present Day Nagaland, The Rate Of Divorce Is High. Traditionally, There Was A Lot Of Free Mixing Of The Sexes And First Marriages Seldom Led To A Permanent Union. 
    </p>
   
</div>
