
@{
    ViewBag.Title = "NagalandArt";
    Layout = "~/Views/Shared/AboutNagalandLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Art & Craft</b>
</div>
<div class="well" style="padding:10px;">
    <div class="col-md-6" style="padding:0px;">
        <img src="~/Content/img/nagaland/bamboo-furniture.jpg" class="img-bordered resp-img" />
    </div>
    <div class="col-md-6" style="padding:0px;">
        <img src="~/Content/img/nagaland/wicker-drinking-vessels.jpg" class="img-bordered resp-img" />
    </div>
    <div class="clearfix"></div>
</div>
<div class="col-md-12">
    <p>
        The Rich Arts And Crafts Of Nagaland Portray The Artistic Caliber And Creative Imagination Of The Local Craftsmen Of The North Eastern State Of India. Nagaland Has Several Small Scale Cottage And Medium Scale Industries That Produce Fine Products Of The Traditional Art Of The State. 
        </p>
    <p>
        The Art Of Weaving Is Primarily The Domain Of The Female Folk Of Nagaland. The Weaving Industry Is One Of The Important Industries Of Nagaland That Has Added To The Financial Strength Of The North Eastern State Of India. The Women Of Nagaland Design Beautiful Patterns On Pieces Of Cloth To Make Them Colorful And Attractive. The Excellent Design Patterns On The Angami Naga Shawls Bears Relic To The Unique Artistic Skills Of The Artists Who Have Inherited The Art From Their Forefathers. The Men Folk Of Nagaland Produce Excellent Pieces Of Wooden Work. The Artists Carve Exquisite Designs On The Wooden Pieces. One Of The Traditional Arts Of Nagaland, The Wood Carving Industry Produces Beautiful Products That Have An Internationally Acclaimed Status.
        </p>

    <p>
        The Local Indigenous Inhabitants Of Nagaland Master In The Art Of Making Baskets Which Are Decorative And Functional As Well. The Baskets Of Different Sizes And Shapes Are Used For Variety Of Purposes. The Traditional Ornaments Of Nagaland Reflect The Rich Cultural Heritage Of The Place. The Native Population Of Nagaland Love To Wear Heavy Jewelries On Days Of Special Festive Occasions. The Local Citizens Of Nagaland Draw Beautiful Pictures Of Animals And Birds On The Walls Of Their Houses To Make Them Look Attractive. Nagaland Is Famous For Producing Several Beautiful Items Of Bamboo And Cane Work.

    </p>
    <p>
        Nagaland Is Famous For Producing Excellent Pieces Of Pots From Mud. The Pots Of Nagaland Are Used For Storing Water. The Metal Work Is Another Industry That Has Flourished In The North Eastern State.  
    </p> 
    
    
</div>
