
@{
    ViewBag.Title = "NagalandTodo";
    Layout = "~/Views/Shared/AboutNagalandLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Things To Do</b>
</div>

<div class="col-md-12">
    <p><b>Things To Do</b><br />
        Nagaland Being Well Known For Its Natural Beauty Provides A Tourist With Many Interesting Things To Do. Take A Trip To Kohima And Visit The Commonwealth War Cemetery For Its Well Maintained Garden And Memorial, Khonoma Village, Japfu Peak, Dzukou Valley, And Phek For Picturesque Landscapes. Come Down To The City Of Dimapur For Its Appealing Stone Megaliths. Visit The Intaki Wildlife Sanctuary Which Is A Dwelling Place For Some Of The Rare Wild Animals. 
        </p>
    <p>
        Go Shopping For Vibrant Naga Shawls, Handicrafts, And Many Other Artefacts That Make Attractive Souvenirs. Nagaland Has Some Interesting Outdoor Activities To Offer Like, Angling, Camping, And Trekking. The Dzukou Valley, Along With The Rivers Flowing In The State, Is An Ideal Site For These Activities. Sekrenyie, Tuluni, Tsungrem Mong, And Tokhu Emong Are Major Festivals Celebrated By The Angami Nagas, Sema Nagas, Ao Nagas, And Lotha Nagas, Respectively.
        </p>
   

   
</div>
