
@{
    ViewBag.Title = "NagalandMajorTrek";
    Layout = "~/Views/Shared/AboutNagalandLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Major Trek</b>
</div>
<div class="well" style="padding:18px;">
    <img src="~/Content/img/nagaland/Dzoukou-Valley.jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
    <p><b>Dzukou Valley</b><br />
        
        <b>Tucked Away At An Elevation Of  2433.4 Sq. M Above Sea Level, Dzukou Valley Is A Perfect Trekking Route</b>. The Gentle Rolling Hills Of Dzukou Valley Offers Tranquility To The Visitors. For Young Trekkers And Meditation Groups, It Presents A Calm Ambiance. Blessed With A Rich Ecosystem Of Bio-Diversity, The Rolling Streams And Undulating Rivulets Flow Through The Valley. <b>During Summer, The Valley Becomes A Real Garden Of Eden With Its Rich Variety Of Flowers. These Include Lilium, Caltha Palustris, Mackliniae, Euphorbias And Anemone Revelries In Full Bloom.</b>
</p>
    <p><b>Mokokchung</b><br />
        
        <b>Situated 115 Km From Tuensang, 103 Km From Mariani (Assam) And 70 Km From Zunheboto, Mokokchung Is An Impressive Location.</b> It Is Also The Cultural Centre Of The Ao Nagas. White Water Rivers Of Milak And Tzula Form A Scenic View And Offers Ample Opportunities For Monsoon Angling. This Is Also A Perfect Trekking Haunt For The Trekkers
    </p>

    <p><b>Pungro</b><br />
        Situated At An Elevation Of 1969.61 M From Sea Level, Mount Tiyi Is A Beautiful Place.<b> You Can See The Colourful Rhedodendrons On The Cliffs And Steep Slopes.</b> From The Mountain Peak, Tourists Can See A Spectacular View Of The Valley Down Below.
        </p>
    <p>
        <b>Mount Tiyi</b><br />
        Situated At An Elevation Of 1969.61 M From Sea Level, Mount Tiyi Is A Beautiful Place. </b>You Can See The Colourful Rhedodendrons On The Cliffs And Steep Slopes.</b> From The Mountain Peak, Tourists Can See A Spectacular View Of The Valley Down Below.
        </p>
    <p>
        <b>Satoi Range</b><br />
        Satoi Range Is The Only Remaining Unspoilt Forest That Is Left In Zunheboto District. Satoi Range Is A Place Of Untouched Beauty. It Is The Natural Habitat Of The Blythe's Tragopan, A Rare Bird. During April And May, Rare Rhododendrons Can Be Seen Here. It Is A Perfect Spot For Outdoor Camping And Trekking.    </p>

</div>
