
@{
    ViewBag.Title = "NagalandFacts";
    Layout = "~/Views/Shared/AboutNagalandLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Facts & Figures</b>
</div>
<div class="well" style="padding:10px;">
    <div class="col-md-4 comp-img hidden-sm">
        <img src="~/Content/img/nagaland/tragopan.jpg" class="resp-img" />
        <div class="description text-center">
            <h3 class="details">BLYTH’s TRAGOPAN</h3>
            (State Bird)
        </div>
    </div>
    <div class="col-md-4 comp-img hidden-sm">
        <img src="~/Content/img/nagaland/mithun.jpg" class="resp-img" />
        <div class="description text-center">
            <h3 class="details">MITHUN</h3>
            (State Animal)
        </div>
    </div>
    <div class="col-md-4 comp-img hidden-sm">
        <img src="~/Content/img/nagaland/Rhododendron.jpg" class="resp-img" />
        <div class="description text-center">
            <h3 class="details">RHODODENDRON</h3>
            (State Flower)
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<table class="table table-bordered">
    <tr>
    <td>Country</td>
    <td>India</td>
    </tr>
    <tr>
        <td>Region</td>
        <td>North-East India</td>
    </tr>
    <tr>
        <td>Capital</td>
        <td>Kohima</td>
    </tr>
   
    <tr>
        <td>Largest City</td>
        <td>Dimapur</td>
    </tr>
    <tr>
        <td>Area</td>
        <td>16,579  Kmsq</td>
    </tr>
    <tr>
        <td>Time Zone</td>
        <td>IST (UTC+05:30)</td>
    <tr>
        <td>Major Languages</td>
        <td>English, Nagamese And Ao</td>
    <tr>
        <td>Other Languages</td>
        <td>Hindi, Tenyidie, Konyak, Chang, Lotha, Phom, Sema, Angami, Rengama And Chakhesang</td>
    <tr>
        <td>Wildlife</td>
        <td>Intanki Wildlife Sanctuary, Fakim Wildlife Sanctuary, Pulie Badze Sanctuary, Ghosu Bird Sanctuary</td>
    </tr>
    <tr>
    <td>Fairs & Festivals</td>
    <td>Hornbill Festival, Sekrenyi, Moatsu, Kundanglem</td>
    </tr>
    <tr>
    <td>Best Time To Travel</td>
    <td>Throughout  The Year Except The Monsoons (Except May – September). Best Time To Visit Is From October To May</td>
    </tr>
    <tr>
        <td>Weather</td>
        <td>Maximum Temperature In Summers Is 23°C To 30°C And Sub-Zero  Temperature In Winters.</td>
    </tr>
 
</table>