@{
   Layout = "~/Views/Shared/NepalLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">People Of Nepal</b>
</div>
<div class="well hidden-xs" style="padding:10px;">
    <div class="col-md-6 col-sm-6" style="padding:0px;">
        <img src="~/Content/img/NepalImages/people.jpg" class="img-bordered resp-img" />
    </div>
    <div class="col-md-6 col-sm-6" style="padding:0px;">
        <img src="~/Content/img/NepalImages/people1.jpg" class="img-bordered resp-img" />
    </div>
    <div class="clearfix"></div>
</div>
<div class="col-md-12">
    <p>
        The Population Of Nepal Is Estimated At Around 20 Million. Nepal Has An Assortment Of Races And Tribes, Of Varying Colors And Contrasts; Living In Different Geographic Regions; Wearing Various Costumes And Speaking Different Dialects. The Peaceful Co-Existence Of All Ethnic Groups Altogether Represents Unity In Diversity. The People Live Under Quite Diverse Geographic Conditions, From Low Land In The South, Northwards Through The Middle Hills And Valleys To The High Himalayan Alpine Patches. 
    </p>
    <h4 class="text-info">Population Of Major Ethnic Groups</h4>
    <table class="table table-striped">
        <tr>
            <th>Eth. Group</th>
            <th>Population</th>
        </tr>
        <tr>
            <td>Brahman</td>
            <td>2388455</td>
        </tr>
        <tr>
            <td>Chhetri</td>
            <td>2968082</td>
        </tr>
        <tr>
            <td>Chepang</td>
            <td>36656</td>
        </tr>
        <tr>
            <td>Gurung</td>
            <td>449189</td>
        </tr>
        <tr>
            <td>Limbu</td>
            <td>297186</td>
        </tr>
        <tr>
            <td>Muslim</td>
            <td>653055</td>
        </tr>
        <tr>
            <td>Magar</td>
            <td>1339308</td>
        </tr>
        <tr>
            <td>Newar</td>
            <td>1041090</td>
        </tr>
        <tr>
            <td>Rai</td>
            <td>525551</td>
        </tr>
        <tr>
            <td>Raute</td>
            <td>2878</td>
        </tr>
        <tr>
            <td>Sherpa</td>
            <td>110358</td>
        </tr>
        <tr>
            <td>Tharu</td>
            <td>1194224</td>
        </tr>
        <tr>
            <td>Thakuri</td>
            <td>299473</td>
        </tr>
        <tr>
            <td>Thakali</td>
            <td>13731</td>
        </tr>
        <tr>
            <td>Tamang</td>
            <td>1018252</td>
        </tr>
    </table> 
    <h4 class="text-info">ETHNICAL DISTRIBUTION</h4>
    <b>The Northern Himalayan People</b>
    <p class="row-margin-bottom-20">
        In The Northern Region Of High Himalayas, The Tibetan Speaking, The Sherpas, The Dolpas, The Lopas, The Baragaonlis, The Manangis Live In Different Settlements Scattered Along The Country. The Sherpas Are Mainly Confined In The East In The Solu And Khumbu Region. The Baragaonlis And The Lopas Live In The Semi- Deserted Area Of The Upper And Lower Mustang In The Part Of The Tibetan Plateau In The Rain Shadow Area; The Managis In The Manang District And The Adjacent Areas; And The Dolpas In The Highest Settlements On The Earth In The Dolpa District Of Nepal ( In The West) At An Altitude Of Above 4000 M. 
    </p>
    <b>The Middle Hills And Valley People</b>
    <p class="row-margin-bottom-20">
        In The Middle Hills And Valleys, There Coexists Numerous Ethnic Groups. Among Them Are The Magars, Gurungs, Tamangs, Sunuwars, Newars, Thakalis, Chepangs And Majority Of Brahmans And Chhetris. The Brahmans And Chhetris Have Long Dominance In All Pervading Social, Religious And Political Realms. There Are Also Some Occupational Castes E.G. The Damai (Tailor), Sarki (Cobbler), Kami (Blacksmith) And Sunar (Goldsmiths). Though, There Exists Numerous Dialects, The Language Of Unification Is The National Language, Nepali, An Indo- Aryan Language. 
    </p>
    <b>Ethnic Diversity In The Kathmandu Valley</b>
    <p class="row-margin-bottom-20">
        Kathmandu Valley Represents A Culture Cauldron Of The Country. The People From Different Stereotypes, Come Together, Presents Traveller A Unique Melting Pot Of Cultures. Kathmandu Is Predominantly Inhabited By The Newars. These People Have Managed To Integrate Both Hinduism And Buddhism To Such An Exceptional Extent That Their Culture Has Developed Into A Unique One. Today Many Newars Are Traders. Newar Families , Who Had Resided In The Valley For Centuries , Had Also Travelled Across The Country To Develop Trade. 
    </p>
    <b>The Terai People</b>
    <p>
        The Main Ethnic Groups In Terai Region Include The Tharus, Darai, Kumhal, Majhi And Other Populace Which Have Roots In India. They Speak Different North Indian Dialects - Maithili, Bhojpuri Etc. The Fertile Plain Of Terai, Generally Known As "Granary Of Nepal" Has Great Agricultural Value. Most Of The Inhabitants Live On Agriculture. There Are , However, Some Occupational Castes E.G. Majhi ( Fisherman), Kumhal (Potter) And Danuwar (Cart Driver).
    </p>
    <h4 class="text-info">The Sherpas</h4>
    <p>
        The Most Famous Among The Himalayan People Are The Sherpas. Because Of Their Impeccable Mountaineering Skills , They Are An Indispensable Part Of Mountain Expeditions As Leaders, Guides And Porters. As An Individual Or In Groups, They Have Set Records Of Many ' Firsts' In The Mountaineering World. Due To Their Close Affinity To Tibet, In Trade, Tradition And Tongue, The Tibetan Influence In Their Living Style Is Quite Distinct. They Come, However, From Solu And Khumbu Region Of Eastern Nepal , In The Vicinity Of Mt. Everest, Along The Arun Valley, The Dudh Koshi River And Its Tributary Areas.
    </p>
    <h4 class="text-info">Gurungs</h4>
    <p>
        In The Middle Hills And Valleys Along The Southern Slope Of The Annapurna Himalaya In The Mid- Western Nepal; The Gurungs Live Together With Other Ethnic Groups. Majority Of Them, The Magars And Their Khasa Counterparts, Have Formed The Bulk Of The Famous Gorkha Regiment Of British And Indian Army; Royal Nepalese Army And The Police. These Sturdy, Hardworking People Are Mongoloid Physionomically. They Extend Their Living Territories From Gorkha In The East Through Lamjung And Kaski To Syangja District. Almost Every Gurung Village Or A Family Boasts Many Young Men In The Gorkha Regiment; Their Pensions And Salaries Being One Of The Main Resourses Of Their Living.
    </p>
    <h4 class="text-info">Thakali</h4>
    <p>
        Physionomically Mongoloid Featured 'Thakalis' Are Believed To Have Originated From Thak Khola , The Valley Of The Kali Gandaki River In Western Nepal. These People Are Famous For Their Neatly Tended Kitchens And Derive Their Subsistence From Hotels, Inns, And Restaurants Income. They Are Encountered Mainly In The Annapurna Round Trekking, One Of The Most Famous Trekking Routes In The Country. 
    </p>
    <p>
        Thak Khola Lies In Mustang District Of Dhaulagiri Zone Of Nepal. Thak- Sat-Se Is The Traditional Area Of The Thakali Community, Which Lies In The Salt Trading Zone On The South Of Tukuche Mountain.
    </p>
    <h4 class="text-info">Tamangs</h4>
    <p>
        The Tamangs Live Mainly In The High Hills In The East , North, South And West Of Kathmandu Valley In The Central Part Of Nepal. These Tibeto- Burman Speaking Ethnic Group Derive Their Subsistence Mainly As Porters For The Traders And Trekking Expeditions. While Trekking In The Helambu Or Langtang , We Come Across Many Of These People. Despite Being So Close To The Capital City Of Kathmandu, They Are Still Backward And Impoverished.
    </p>
    <h4 class="text-info">Rais And Limbus</h4>
    <p>
        The Rais Come From Surrounding Hills In The North-Eastern Nepal ; Mainly Near Dhankuta, Terhathum, Bhojpur And Arun And Dudh Valleys. Likewise , The Limbus Come From The Extreme East Of Nepal; Mainly From The Region Of Taplejung, Khotang And Arun Valley. 
    </p>
    <p>
        The Rais Are Neither Purely Hindu Nor Buddhist. They Have Their Own Deities And Beliefs. Tibetan Lamaism Has, However, Great Influence In Their Rites And Rituals. The Limbus Follow A Mixture Of Shivaism, Buddhism And Animism. The Rais And Limbus Altogether Form 4.4% Of Total Population.
    </p>
    <h4 class="text-info">Tharus</h4>
    <p>
        The Tharus Are The Indigenous Ethnic Group Who Live In The Northern Part Of Terai And Inner Terai With A Concentrated Population In The Middle And West Of The Country. They Approximately Form 6.4% Of Total Population.
    </p>
    <p>
        Most Of The Tharus Have Mongoloid Features With Dark And Semi- Dark Colors. They Are Aboriginal Terai Settlers. Some Also Believe That Tharus Came To Nepal From India During The Muslim Invasion In The 12th And 13th Century.
        The Tharus Have Their Indigenous Dialect, Known As 'Naja'. But They Speak A Mixture Of Local Dialects, Such As Prakriti, Bhojpuri, Mughali, Nepali, Urdu And Maithili.
    </p>
    <h4 class="text-info">Brahmans, Chhetris And Thakuris</h4>
    <p>
        They Are Predominant Ethnic Groups In Nepal And Altogether They Form Approximately 31.5% Of Total Population. They Are Speakers Of Nepali, The National Language Of Nepal. Originally, It Is Believed That They Migrated From Different Parts Of India And Settled In Across The Country. 
    </p>
    <b>
        Brahmans
    </b>
    <p>
        Brahmans Are The Members Of The Highest Social Caste. Two Different Categories Of Brahmans Viz. 'Kumai Brahmans' And 'Purbiya Brahmans' Are Present. They Only Differ In Their Derived Homeland. The 'Kumai Brahmans' Are Supposed To Have Come From The Mountainous Regions Of Kumaon In The Northern India West Of Nepal. They Are Mainly Confined In The Western And Central Nepal And The Capital City Of Kathmandu. The 'Purbiya' Brahmans Derive From The Eastern Part Of Nepal And Are Found Scattered Across The Country With The Greater Concentration In The Eastern Part Of Nepal And Kathmandu. Brahmans And Chhetris Form A Major Group In Kathmandu And Large Number Of Them Occupy Key Posts In The Government Services And In Business. 
    </p>
    <p>
        The Brahmans Are Priestly Caste. The Priests In All Hindu Temples Are Exclusively Brahmans. 
    </p>
    <b>
        Chhetris And Thakuris
    </b>
    <p>
        In The Caste Hierarchy, The Chhetris And Thakuris Come Second To Brahmans. They Are Rulers, Leaders And Warriors. The Brahmans Are Their Teachers And Family Priests. Like Brahmans, They Are Orthodox Hindus. Thakuries Are Believed To Have Originally Come From The Northern Part Of India Mainly From Rajasthan. They Could Have Migrated To Nepal In The 12th And 13th Centuries. 
    </p>
    <p>
        In Nepal, Chhetris And Thakuris Are Among The Most Influential And Well-To-Do Social Classes. They Are Mostly In The Government Services, In High Ranked Positions In The Army And The Police. Some Of Them Have Remained Farmers And Are Relatively Poor And Live Like Any Other Ethnic Group.
    </p>
    <h4 class="text-info">Newars</h4>
    <p>
        The Natives Of Kathmandu, The Newars, Are Mainly Traders. With A Purpose To Trade, They Are Scattered Across The Country; With Greater Concentration In The Kathmandu Valley, Banepa, Dhulikhel, Bhojpur, Bandipur And Tansen. In Kathmandu Valley, They Make 44% Of Total Population. Nationally, However, They Make About 5.6% Of Total Population. Despite The Small Percentage Numerically, They Contribute Significantly In The History, Art, Architecture And Business Activities In The Country. 
    </p>
    <p>
        They Are In To The Business And Government Services; Business Being Their Main Profession. They Have Negligible Representations In The Army And Police Services.Quite A Few Of Them Also Have Agriculture As Their Main Occupation. These Agrarian Population Are Known As "Jyapus". 
    </p>
    <p>
        Newars Speak Their Own Language, 'Newari' Better Known As Nepal Bhasa Which Belongs To Tibeto - Burman Family Of Languages. It Has Its Own Scripts And Has No Linguistic Connection To Nepali, Hindi Or Sanskrit. The Newari Script, The 'Ranjana Lipi' Is Exceptional. The Newari Literature Is Also Very Rich.
    </p>
    <p>
        There Are Both Buddhist And Hindu Newars. Like Elsewhere In The Country, Religious Syncretism Is Blended Into The Culture And Tradition.
    </p>
    <h4 class="text-info">Chepang And Kusundas</h4>
    <p>
        These Backward Ethnic Communities Belong To A Well Defined Traditional Area In The South Of Dhading, The West Of Makawanpur And East Of Chitwan Along The Steeper Slopes Of Mahabharat Range Of The Mid- Nepal. Very Few Of These Hunting Tribal People Started Deriving Subsistence From Agriculture. Otherwise, Hunting, Wood Collection Etc. Have Been Their Foremost Living Subsistence. Though , They Are Economically Backward, They Have A Rich And Unique Cultural Tradition. With The Increasing Encroachment Of The Forest ( Their Main Living Recourse) By Themselves And Other Communities Alike, These People Lately Started Working In The Development Projects In The Areas As Hard Labors. 
    </p>
    <p>
        Physionomically Mongoloid Featured Chepangs (& Kusundas) Resemble The Kirantis ( The Rais And Limbus) But Their Lineage To Them Is Yet To Be Confirmed. Their Totems Are Dog ('Che' Is Dog In Their Dialect) And Arrow ( 'Pang' Is Arrow). Their Dialect Belong To The Tibeto - Burman Group Of Languages. It, However, Differs Significantly From The Tamang Dialect. The Tamangs Live Higher In The Mountains Than The Chepangs And The Brahmins And Chhetris Live In The Lower Dales.
    </p>
    <h4 class="text-info">Magars</h4>
    <p>
        Along The Gurung And Khas Counterparts, The Magars Form An Integral Constituent Of British And Indian Gurkha Regiments And The Royal Nepal Army. They Approximately Make 7.2 % Of Total Population. They Speak A Dialect Derived From Tebeto-Burman Group Of Languages. Their Religion Is Buddhism. However, There Are Also Some Hindu Magars. 
    </p>
    <p>
        The Magars Celebrate The Festival Dedicated To The Goddess Kali In Great Pomp (A Hindu Festival ). Especially In Gorkha, They Sacrifice A Lot Of Goats During The Occasion. Those Who Live In The Vicinity Of Brahmans And Chhetris Have Their Cultural Rituals Similar To Theirs. Magar Villages Are Typical With Their Round And Oval Houses. One Comes Across Many Of These Magar Settlements In The Annapurna Round Trekking.
    </p>
    <h4 class="text-info">Manangi</h4>
    <p>
        Manangi Resemble Physionomically And Religiously To The Tibetans But They Take Pride To Believe Themselves Belonging To The Gurungs Who Live In The Lower Hills And Valleys. These People Inhabit The Pleasant Valley Of Manang In The Upper Reaches Of The Marsyangdi River Northwards In The Central Nepal. The Manang District Encloses Three Distinct Areas Of Neshyang, Nar And Gyasumdo; All Of Them Culturally Interrelated. They Have Agriculture As Their Foremost Recourse Of Subsistence For Living. The Harsh And Cold Climate Limits The Cultivation To Buck Wheat, Barley, Wheat, Maize, Potatoes And Radishes. They Also Breed Sheep And Other Cattle. Now A Days, They Are Also Into Trading And Other Professions. They Have Developed Considerably In Living Style Since They Got Special Consideration From His Majesty 'S Government Of Nepal To Trade In The South East Asian Countries Till 1963/ 1964.
    </p>
    <h4 class="text-info">Dolpa</h4>
    <p>
        The Dolpa Or Dolpo-Pa Settlements Are Concentrated In The Remote And Fascinating Region Which Is Confined By The Dhaulagiri Himalaya In The South And East; The Sisne And Kanjiroba Mountain In The West And Tibet On The North. They Generally Settle At Altitudes Of 3,660 M ( Approx. 12,000 Ft.) To 4,070 M ( 14,000 Ft. Approx.) They Are Probably The Highest Settlements In The World. These Mongoloid Featured People Are Tibetan Speaking. Most Of Them Are Illiterate, But They Are Not Very Poor. They Derive Their Subsistence From Agriculture And Cattle Breeding. The Transactions Are Still Done On Barter Basis. 
    </p>
    <p>
        Dolpa Society Is Divided Into A Number Of Exogamous Clans. Each Of The Clans Has A Totem Animal Which They Worship. The Particular Totem Animal Is Never Slaughtered By The Clan Member. Marriages Are Very Relaxed In General. Pre-Marital And Extra-Marital Sex Union Are Not Prejudiced. All The Brothers In A Family Marry A Common Wife. Marriages Can Be Of Any Type; By Arrangement , Capture Or Elopement.
    </p>
</div>