@{
    Layout = "~/Views/Shared/NepalLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">History</b>
</div>
<div class="well hidden-xs" style="padding:10px;">
    <div class="col-md-6 col-sm-6" style="padding:0px;">
        <img src="~/Content/img/NepalImages/history1.jpg" class="img-bordered resp-img" />
    </div>
    <div class="col-md-6 col-sm-6" style="padding:0px;">
        <img src="~/Content/img/NepalImages/history.jpg" class="img-bordered resp-img" />
    </div>
    <div class="clearfix"></div>
</div>
<div class="col-md-12">
    <p>
        For Centuries The Kingdom Of Nepal Remained Divided Into Many Principalities. Kirats Ruled In The East, The Newars In The Kathmandu Valley, While Gurungs And Magars Occupied The Mid-West. The Kirats Ruled Fom 300 BC And During Their Reign, Emperor Ashoka Arrived From India To Build A Pillar At Lumbini In Memory Of Lord Buddha. The Kirats Were Followed By The Lichchhavis Whose Descendants Today Are Believed To Be The Newars Of The Kathmandu Valley. During This Period, Art Thrived In Nepal And Many Of The Beautiful Woodcarvings And Sculptures That Are Found In The Country Belong To This Era. With The End Of The Lichchhavi Dynasty, Malla Kings Came To Power In 1200 AD And They Also Contributed Tremendously To Nepal's Art And Culture. However, After Almost 600 Years Of Rule, The Kings Were Not United Among Themselves And During The Late 18th Century, Prithvi Narayan Shah, King Of Gorkha, Conquered Kathmandu And United Nepal Into One Kingdom. Recognizing The Threat Of The British Raj In India, He Dismissed European Missionaries From The Country And For More Than A Century, Nepal Remained In Isolation. During The Mid-19th Century Jung Bahadur Rana Became Nepal's First Prime Minister To Wield Absolute Power. He Set Up An Oligarchy And The Shah Kings Remained Figureheads. The Ranas Were Overthrown In A Democracy Movement Of The Early 1950s.
    </p>
</div>
