@{
    Layout = "~/Views/Shared/NepalLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Art & Architecture</b>
</div>
<div class="col-md-12">
    <h4 class="text-info">Sculpture</h4>
    <p class="row-margin-bottom-20">
        An Art Form That Traces Nepalese Culture From Its Early Beginnings Right Up To Modern Times Is Sculpture. As Previously Mentioned, Many Carved Artifacts Have Been Found In The Terai Region Of The Country, Providing An Insight Into The Religion Of The Country Of Early Times. As With Painting, Nearly All-Nepalese Sculptures Are Of A Religious Character. It Seems That The Artists Themselves Were Greatly Imbued With A Feeling Of Religious Devotion.
    </p>
    <b>The Golden Age Of Nepalese Sculpture</b>
    <p>
        Nepalese Sculpture Reached Its Zenith In The Lichchhavi Period (A. D. 330-879). Stone, Copper And Bronze Images From This Period Show Round Faces With Slanted Eyes. A Distinguishing Feature Of Lichchhavi Sculptures Is Their Simplicity. The Use Of Clothes And Ornaments Was Quite Restrained, Many Hindu Deities, For Example, Are Shown Wearing Only A Dhoti (Skirt-Like Lower Garment). Buddhist Deties Were Carved To Show Them Wearing Long Sanghatis (A Saffron Coloured Robe That The Buddhist Wear Hanging From The Shoulders). Lichchhavi Period Sculptors Most Often Used Basalt For Their Work, First Chiselling And Then Smoothing And Varnishing, Perhaps With Iron Dust. The Limbs Of Lichchhavi Period Idols Were So Beautifully Executed That It Is Not Possible To Find One Specimen With A Chisel Mark . Some Of The Best Examples Of Lichchhavi Art Are The Image Of 'Sleeping Vishnu' In Budhanilkantha, Located Eight Kilometers North Of Kathmandu And The Vishnu Vikranta Or Dwarf Incarnation Found Near Lazimpat In Kathmandu.
    </p>
    <h4 class="text-info">Archaeology</h4>
    <b>Tilaurakot</b>
    <p class="row-margin-bottom-20">
        Over The Past Few Decades Archaeological Work Has Been Conducted In The Terai Region Of The Country Where Nepal's First Settlements Were Probably Located. Tilaurakot, For Example, Used To Be The Capital Of The Shakya Dynasty. It Is Situated In Kapilbastu District In Western Nepal. The Present Archaeological Site Extends Over An Area Of More Than Five Square Kilometers. The Central Portion, Measuring Approximately Five Thousand Meters By Four Thousand Meters, Is Surrounded By A Citadel Built At Three Different Periods. The First And Second Ancient Citadel Walls Are Made Of Mud And Date From 600 To 200 B.C. While The Third Wall Appears To Have Been Constructed With Kilnburnt Bricks Around 150 B.C. The Eastern Gate, The Eastern Stupa, The Ashita Apsidal Stupa And A Defence Wall Were First Discovered At The Site. More Recent Excavations Have Brought To Light The Majestic Western Gateway Complex Including The Watchman's Room, Six Meter Wide Roads Of Different Periods (With Cart-Track Impressions), The Moat On The East And West, Three Periods Of Defence Walls And Northern Twin Stupas Made And Enlarged Between The Fourth And Second Centuries B. C. The Central Portion Of The Site Has Also Been Excavated And Various Brick Structures From The Third Century B, C. To The Second Century A. D. Have Been Unearthed . Water Storage Tanks, Big Jars, Brick And Terra-Cotta Ring Wells And A Fire-Alter Have Also Been Found . Other Antiquities Discovered At The Site Are Human And Animal Terra-Cotta Figurines (Dated 400 B. C. To A. D. 200), Silver Punch-Marked Coins, Early Cast Coins With Symbols, Mitra Coins With Different Symbols, Kushan Coins, And Pieces Of Sunga And Kushan Pottery. Apart From These Antiquities, Practical Items Such As Terra-Cotta Cart Wheels, Iron Implements, Nails, Arrowheads, Bone And Copper Rods, Dice And Fishing Hooks Have Also Been Found.
    </p>
    <b>Gotihawa</b>
    <p class="row-margin-bottom-20">
        Gotihawa, Rich In Possession Of Ancient Ruins Is Situated Eleven Kilometers South Of Tilaurakot And Six Kilometers South West Of Taulihawa, The Present District Headquarters. To The North Of Gotihawa Village, There Is An Ancient Brick Stupa And An Ashokan Pillar. The Lower Portion, With Its Square Granite Base Stone, Is Still Intact But The Crowning Features And Inscriptional Portions Are Missing. The Site Can Be Safely Identified As The Nirvan Stupa Of Kakuchhanda Buddha (One Of The Previous Buddhas), Whose Hometown Lies Within One Kilometer Of This Stupa - Pillar Complex.
    </p>
    <b>Sagarahawa</b>
    <p>
        This Site Is Located Two Kilometers North Of Tilaurakot On The Bank Of The Banganga River. It Was Excavated In 1896 And Seventeen Miniature Stupas Were Found There.
    </p>
    <p class="row-margin-bottom-20">
        In The Same General Region, Sites Of Ancient Civilization Have Been Identified At Lumbini, Banjarhi, Nipaniya And Kadyatawa, To Mention Just A Few. Several Important Sites Have Also Been Excavated In The Eastern Region Of The Country, The Most Important Of Which Are Bhediari, Varahakshetra, Janakpur And Simaraongad.
    </p>
    <b>Bhediari</b>
    <p class="row-margin-bottom-20">
        Located Nearly Ten Kilometers South Of Biratnagar, The Ancient Ruins At This Site Include Many Important Brick Temples. There Is A Two- Meter High Rectangular Platform Supported From Inside By Cross Walls. So Far No Image Either Of Stone Or Terra Cotta Has Been Found During The Excavations; However, A Number Of Silver Punch-Marked Coins Have Been Found.
    </p>
    <b>Varahakshetra</b>
    <p class="row-margin-bottom-20">
        This Is Another Important Temple Site Located At The Confluence Of The Koka And Koshi Rivers. The Site Is Known To Belong To The Period Of Later Guptas, Who Had Issued A Copper Grant For The Two Varaha Images Found There. There Are Also Many Miniature Gupta Period Temple Replicas, Which Suggest That Many Such Temples And Idols Were Made During The Sixth And Seventh Centuries A. D.
    </p>
    <b>Narasingha Tappu</b>
    <p class="row-margin-bottom-20">
        Some Years Ago, While Cultivating At Narasingha Tappu, Close To The Present Town Of Itahari, An Idol Of Vishnu Was Discovered. The Image Belongs To The Fifth Or Sixth Century A. D. And Is Of The Gupta Tradition. It Is Now Kept Inside A Local Shiva Temple . The Site, According To Local People, Also Contains Pottery Items, Indicating That It Belonged To The Ancient Gupta Dynasty (Fourth-Fifth Century A. D.)
    </p>
    <b>Janakpur</b>
    <p class="row-margin-bottom-20">
        At Ram- Janaki Temple Complex Near Janakpur There Is An Important Image Depicting Uma Lying On A Bed And Feeding A Baby. Ganesh And Kumar Are Also Depicted In The Panel While On The Top Of The Scene Is A Shiva Linga. The Piece Dates Back To The Twelfth Or Thirteenth Century A. D. And Belongs To The Karnatakas Of Simaraongad.
    </p>
    <b>Simaraongad</b>
    <p>
        This Was An Old Capital City Of The Karnatakas Of Mithila And Was Built By King Nanyadeva In A. D. 1097-98. The Ruins Of The City Extend Over An Area Of 16 Kilometers Which Is Still Surrounded By A High Wall Of Kiln-Burnt Bricks. There Are More Than One Hundred Images And Sculptures Scattered Throughout The Area. Most Are Made Of Black Schist Stone And Are Nicely Polished; A Few Are Made Of Sandstone. The Images At The Site Are Of Vishnu, Narayan, Laxmi Narayan, Shankersana, Garudopari Vishnu, Uma-Maheshwara, Durga, Shiva And Surya. In Different Parts Of Simaraongad, There Are Remains Of Temples And Gateways Of The Old City.
    </p>
    <h4 class="text-info">Painting</h4>
    <p>
        Two Media That Reveal A Lot About Nepalese Culture, Both Past And Present, Are Painting And Sculpture. Fortunately, There Are Many Fine And Well-Preserved Pieces That Have Survived The Passage Of Time And Thus Enable Detailed Research To Be Made. Looking Briefly At The History Of Nepalese Painting, It Appears That Ancient Icons And Religious Paintings Entered The Valley During The Lichchhavi Period . Lichchhavi Inscriptions Inform Us That Traders, Monks And Brahmans As Well As Artists From Neighbouring Areas, Visited Kathmandu Valley From The Mid-Fifth Century A. D. The Visitors May Have Brought Religious Icons And Paintings With Them Which Served As Models For Local Artists.
    </p>
    <p>
        The Chinese Envoy, Wang Hsuan Tse, Who Came To Nepal In The Seventh Century A. D; Described Quite Eloquently The Houses In The Valley, Which At That Early Time Were Embellished With Sculptures And Paintings. Although There Are No Surviving Examples Of Paintings From The Lichchhavi Period, It Can Be Surmised That The Murals Or Wall Paintings Noticed By The Chinese Envoy Were Just As Sophisticated As The Surviving Pieces Of Culture From This Period.
    </p>
    <p>
        The Earliest Examples Of Nepalese Painting Are In The Form Of Manuscript Illustrations On Palm Leaves. Nepalese Manuscripts Go Back To The Ninth Century; However, Not All Early Manuscripts Were Illustrated. The Earliest Known Example Of An Illustrated Manuscript Is The Astasahasrika Prajnaparamita, Dated A. D. 1015. These Manuscripts Invariably Consists Of Narrow Folios Of Palm Leaves About Thirty Centimeters Long, Depending On The Text, But Not Wider Than Five Centimeters. The Manuscripts Are Perforated In Two Places, Loosely Held Together With String And Protected By Wooden Covers On Both Sides. These Wooden Covers, A Large Number Of Which Have Survived, Are More Lavishly Painted Than The Manuscripts Themselves. In Palm Leaf Manuscripts The Scribes Left Spaces For The Artists To Later Paint In The Figures Of Divinities.
    </p>
    <p class="row-margin-bottom-20">
        After The Introduction Of Paper, Palm Leaf Became Less Popular; However It Continued To Be Used Until The Eighteenth Century. Early Paper Manuscripts Imitated The Oblong Shape But Were Wider Than The Palm Leaves.
    </p>
    <b>Influence Of Religion On Painting</b>
    <p>
        All Surviving Illustrated Manuscripts, Whether Buddhist Or Hindu, Are Illustrated With Hieratic Images Of Gods And Goddesses. A Large Number Of Manuscripts Are Devoted To The Principal Events From The Life Of Buddha Or The Hieratic Representations Of Vajrayana Deities, Which Bear Little Relation To The Text. During The Early Medieval Period, Prajnaparamita, The Personification Of Wisdom, Became One Of The Most Popular Deities In Nepal. Manuscripts Consecrated To This Deity Were Repeatedly Copied. Besides These Buddhist Manuscripts, Illuminated Manuscripts Of Hindu Divinities Such As Brahma, Vishnu, Shiva, Kartikeya And Ganesh Were Also Frequently Represented.
    </p>
    <p class="row-margin-bottom-20">
        Manuscripts Continued To Be Painted And Copied For Centuries, For The Act Of Donating A Manuscript To A Monk, Priest, Monastery Or Temple Was Considered By Both Hindus And Buddhists To Be An Act Of Great Virtue. Early Illustrated Manuscripts Were Executed In The Same Basic Style. But Later Examples, Particularly Paper Manuscripts, Clearly Show Signs Of Deterioration In Quality.
    </p>
    <b>Paubha (Thangka) Painting</b>
    <p>
        Religious Paintings Worshipped As Icons Are Known As Paubha In Nepalbhasa And Thangka In Tibetan. The Origin Of Paubha Or Thangka Paintings May Be Attributed To Nepalese Artists As Early As The Ninth Or Tenth Century.
    </p>
    <p class="row-margin-bottom-20">
        Realizing The Great Demand For Religious Icons In Tibet, These Artists, Along With Monks And Traders, Took With Them From Nepal Not Only Metal Sculptures But Also A Number Of Buddhist Manuscripts. To Better Fulfil The Ever-Increasing Demand, Nepalese Artists Initiated A New Type Of Religious Painting On Cloth That Could Be Easily Rolled Up And Carried Along With Them. This Type Of Painting Became Very Popular Both In Nepal And Tibet And Has Remained Popular To This Day. One Of The Earliest Specimens Of Nepalese Paubha Painting Dates From The Thirteenth Or Fourteenth Century And Shows Amitabha Surrounded By Bodhisatwas. Another Nepalese Paubha With Three Dates In The Inscription (The Latest One Corresponding To A.D. 1369), Is One Of The Earliest Known Paubha With Inscription. The 'Mandala Of Vishnu', Dated A.D. 1420, Is Another Fine Example Of The Painting Of This Period. Early Nepalese Paubha Are Simple In Design And Composition. The Main Deity, A Large Figure, Occupies The Central Position While Surrounded By Smaller Figures.
    </p>
    <b>Influence Of Tantrism On Paintings</b>
    <p>
        From The Fifteenth Century Onwards, Brighter Colours Gradually Began To Appear In The Nepalese Painting. Because Of The Growing Importance Of The Tantric Cult, Various Aspects Of Shiva And Shakti Were Painted In Conventional Poses. Mahakala, Manjushri, Lokeshwara And Other Deities Were Equally Popular And Were Also Frequently Represented In Nepalese Paintings Of Later Dates. The Embrace Of Male And Female Is Another Common Motif Of The Tantric Buddhist Art Of This Period.
    </p>
    <h4 class="text-info">Wood Carving</h4>
    <p>
        Besides Stone Sculpture Another Art Form Worth Mentioning Is Woodcarving. No Visitor To The Kathmandu Valley Can Go Without Being Impressed By The Numerous Extremely Beautiful Windows, Doors, Temple Roof-Struts And Other Intricately Carved Artifacts. As Wood Is Vulnerable To The Ravages Of Time, Well-Preserved Specimens Date Back Only To The Fourteenth Century. Woodcarving Has Been An Integral Part Of Nepalese Architecture, Some Of The Examples Being The Old Royal Palaces Of Kathmandu, Patan And Bhaktapur And A Number Of Different Viharas (Monasteries) Around The Valley.
    </p>
    <h4 class="text-info">Architecture</h4>
    <p class="row-margin-bottom-20">
        Nepalese Religious Architecture Is Another Art Medium That Is An Important Part Of The Country's Cultural Heritage. There Are Three Broad Styles - The Pagoda Style, The Stupa Style And The Shikhara Style.
    </p>
    <b>The Pagoda Style</b>
    <p>
        This Style Refers To Multi-Roofed Structures With Wide Eaves Supported By Carved Wooden Struts. Windows, Either Latticed Or Grilled, Are Usually Projecting, While The Roof Is Generally Topped Off By Triangular Spires Enclosing An Inverted Bell Of Stucco Or Burnished Gold. The Pagoda Style Shows The Architectural Genius Of Nepal.
    </p>
    <p>
        A Young Architect-Sculptor-Painter Named Balbahu (Or Arniko As The Chinese Call Him), Led A Delegation Of 80 Nepalese Artists To Tibet During The Late Thirteenth Century At The Invitation Of The Chinese Emperor Kublai Khan. The Pagoda Style Was Soon Adopted In China And From There Spread To Other Asian Countries.
    </p>
    <p class="row-margin-bottom-20">
        The Best Example Of The Pagoda Style In The Kathmandu Valley Is Kasthamandap, A Wooden Pagoda Built In The Malla Period And From Which The Name Of The Capital City Is Said To Be Derived. The Nine-Storey Basantpur Palace Built By King Prithvi Narayan Shah Is Another Outstanding Pagoda Specimen. The Pashupati, Taleju And Changu Narayan Temples Are Also Notable Examples.
    </p>
    <b>The Stupa Style</b>
    <p class="row-margin-bottom-20">
        The Swayambhu And Boudhanath Shrines Are Nepal's First Examples Of The Stupa Or Chaitya Style. This Style Is Purely Buddhist In Concept And Execution. The Outstanding Feature Of The Stupa Is A Hemispherical Mound Topped By A Square Base Supporting A Series Of The Thirteen Circular Rings. Narrowing Towards The Top, The Rings Are Crowned By A Parasol. The Four Sides Of The Square Base Or The Harmika, As It Is Called, Are Often Painted With Pairs Of Mystic 'All-Seeing Eyes'. The Stupas In Patan, Said To Have Been Built By King Ashoka, Are Considered To Be The Most Ancient Stupas Of Nepal.
    </p>
    <b>The Shikhara Style</b>
    <p>
        The Shikhara Style Forms Yet Another Architectural Design Found In Nepal. The Super Structure Is A Tall Curvilinear Or Pyramidal Tower Whose Surface Is Broken Up Vertically Into Five To Nine Section. The Final Section Consists Of A Bell-Shaped Part At The Top. The Krishna Temple In Patan, Consecrated By King Siddhi Narsingh Malla, Is The Finest Specimen Of The Relatively Less Popular Shikhara Style.
    </p>
</div>