@{
    Layout = "~/Views/Shared/NepalLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Festivals</b>
</div>
<div class="col-md-12">
    <h4 class="text-info">January – February</h4>
    <b>Swasthani Puja</b>
    <p>
        Goddess Swasthani's Three Eyes Burn Like The Sun. She Is The Ultimate Gift Grantor; If Insulted, She Can Make Life Miserable. By Worshipping Swasthani, Parbati Attained Lord Shiva As Her Husband. In The Worship Rites Of Goddess Swasthani, Outlined By Parbati, The Swasthani Scripture Is Read Every Evening For A Month. Worshipping Swasthani Will Bring Together Parted Relations, Remove Curses, And Result In Limitless Gifts.
    </p>
    <h4 class="text-info">February – March</h4>
    <b>Maha Shivaratri</b>
    <p class="row-margin-bottom-20">
        Lord Shiva Is One Of Nepal's Most Popular Gods. During Maha Shivaratri, His "Great Night", Followers Throughout The Indian Sub-Continent Crowd The Pashupati Temple To Worship Him. On This Occasion -There Is No Space Even For A Sesame Seed". Colorful Sadhus, The Wandering Sages Who Emulate Shiva, Rub Ashes Over Their Bodies, Give Lectures To Disciples, Meditate, Or Practice Yoga. Devotees Pray To Shiva's Image Inside The Temple At Midnight And May Queue For Up To Six Hours To Look At The Image. Bonfires Are Lit, Neighbours And Friends Share Food, And Devotees Enjoy Two Days And A Night Of Music, Song, And Dance Throughout The Pashupati Complex And In The Streets.
    </p>
    <b>Maghe Shankranti</b>
    <p class="row-margin-bottom-20">
        In The Holy Month Of Magh The Sun Enters The Southern Hemisphere, And The Days Begin To Grow Longer And Warmer. Lord Vishnu The Preserver Is Thanked For His Efforts. On Maghe Sankranti (The First Day Of Magh) People Take An Early Morning Bath In A Holy River, Visit The Shrines Of Vishnu, And Present Flowers, Incense And Food To Him. They Read The Bhagwad Gita, Also Known As The Song Of The Gods, Rub Mustard Oil Over Their Bodies, And Enjoy Feasts Of Rice Cooked With Lentils, Yams Or Taruls - A Must - And Laddu, Sweets Made Of Sesame And A Sugarcane Paste.
    </p>
    <b>Losar</b>
    <p class="row-margin-bottom-20">
        Sherpas And Tibetans Welcome Their New Year With Feasts, Family Visits And Dancing. Families Done Their Finest Clothes And Jewellery And Exchange Gifts. Buddhist Monks Offer Prayers For Good Health And Prosperity, And Perform Dances At The Monasteries. Colorful Prayer Flags Decorate Streets And Rooftops; The Colors Seem Especially Brilliant At The Bouddha And Swayambhu Stupas. Crowds Of Celebrants At Bouddha Bring In The New Year By Throwing Tsampa (Roasted Barley Flour)
    </p>
    <b>Fagu Purnima</b>
    <p>
        Fagu Purnima Or Holi Is One Of The Most Colorful And Playful Festivals Of Nepal. The Chir Pole, Decorated With Colorful Flags And Erected On The First Day Of Fagu At Kathmandu's Durbar Square, Is A Formal Announcement To All: Hide Your Good Clothes, For Throughout The Week You May Be Splashed With Colored Powder And Water Balloons. The Last Day Is The Wildest Youths Covered With Red Vermilion Powder Roam The Streets As Inviting Targets.
    </p>
    <h4 class="text-info">March – April</h4>
    <b>Chaitra Dashain</b>
    <p class="row-margin-bottom-20">
        Red Vermilion Powder, Family Blessings, And Goat And Duck Sacrifices Are Essential To Praise The Victory Of Ram, Hero Of The Epic Ramayana, Over The Evil King Rawan. Mother Goddess Durga, The Source Of All Power, Must Be Supplicated Too, For Her Powers Helped Ram Achieve His Victory Hindu Woman.
    </p>
    <b>Ghode Jatra</b>
    <p>
        Ghode Jatra, The Festival Of Horses, Is A Yearly Sports Event Taking Place At The Tundikhel Parade Ground In Central Kathmandu. Its Roots Go Back Several Hundred Years, Though It Is Also Associated With Older Religious Traditions. At Midnight As The Parade Grounds, The Images Of Bhadra Kali And Her Sister Goddess Are Carried From Their Respective Temples And Placed In The Middle Of The Dark Expanse. A Third Sister Goddess Is Then Brought From Another Locality And Made Bow Before The First Two Images.The Actual Horse-Racing Is Conducted With Great Gusto And Spectators Come From All Over The Valley As Well As From More Distant, To Witness The Exciting Event. Their Majesties The King And The Queen Are Also A Part Of The Jatra Audience Of The Ideal Hindu Woman.
    </p>
    <h4 class="text-info">April – May</h4>
    <b>Bashanta Panchami</b>
    <p class="row-margin-bottom-20">
        Basanta, Or Spring, Ushers In The Loveliest Time Of The Year. Crowds Gather At Kathmandu's Durbar Square While His Majesty The King And Other Dignitaries Welcome The Season As A Band Plays The Traditional Song Of Spring. A Different Celebration Occurs At Swayambhu And At The Nil Sarashwati Shrine Near Lazimpat. Saraswati, The Goddess Of Learning, Arts And Crafts Is Worshiped At Her Temples. Artists, Musicians, Teachers, And Students Bring Flowers, Unbroken Rice, And Other Gifts To Please Her.
    </p>
    <b>Bisket Jatra</b>
    <p class="row-margin-bottom-20">
        During This Important Festival, The Old Kingdom Of Bhaktapur And Its Neighbouring Areas Replay A Brama Passed On Over The Centuries. Images Of Wrathful And Somewhat Demonic Deities Are Placed On Tottering Chariots. They Are Offered Blood Sacrifices, Flowers, And Coins. Men Brimming With Youthful Vigor And Rice Beer Drag The Chariots Across Brick-Paved Streets Of The Town, And Wherever These Raths Stop, Lamps Are Lit And Devotees Overflow Into The Surrounding Alleys. Other Gods And Goddesses, Too, Are Put On Palanquins And Carried Around So That They May See The Sights. At Bode Village, There Is A Tongue-Boring Ceremony In Which The Dedicated May Reserve A Place In Heaven.
    </p>
    <b>New Year's Day</b>
    <p class="row-margin-bottom-20">
        The Nepalese Follow Their Own Calendar System Known As The Bikram Era Or Bikram Sambat. Nawabarsha Is Celebrated On The First Day Of The First Month Of The New Year And Is Observed As An Official Holiday. In Bhaktapur, Fifteen Kilometers From Kathmandu, The New Year Celebrations Take On Added Importance At Bisket Jatra. Images Of The God Bhairav And His Female Counterpart Bhadrakali Are Enshrined In Two Large Chariots And Pulled Through Crowds Of Cheering On Lookers. When The Chariot Reaches A Sloping Open Square, There Is A Tug-Of-War Between The Inhabitants Of The Upper And Lower Parts Of The Town. Winners Are Considered To Be Blessed With Good Fortune For The Coming Year. The Festival Concludes With Several Days Of Dancing And Worship. Thimi, Another Ancient Town Of The Valley, Also Celebrates The New Year With Special Festivities.
    </p>
    <b>Buddha Jayanti</b>
    <p class="row-margin-bottom-20">
        Ever-Benevolent Buddha Was Born In Nepal, And The Religion He Preached Is The Second Most Popular In The Kingdom. On Full Moon Day, The Lord's Birth, Enlightenment, And Salvation Are Applauded Throughout The Valley With Celebrations. Swayambhu And Boudhanath Stupas Are Prepared For The Oncoming Festivities Several Days In Advance. Monasteries Are Cleaned, Statues Are Polished, Bright Prayer Flags Waft In The Breeze, And Monks Prepare To Dance. On The Jayanti Day, People Reach The Stupas Before Dawn, Go Around Them And Give Offerings To The Many Buddha Images There.
    </p>
    <b>Bhoto Jatra</b>
    <p>
        This Festival Takes Place In Patan. During The Celebrations The Towering Chariot Of Lord Machchhendranath Is Pulled By Ropes Through The Narrow Streets Of The City, Followed By A Large Crowd Of Worshippers In Front Of The Chariot. A Small Crowd Of Musicians And Soldiers Add Even More Excitement To The Occasion. Over A Period Of Several Weeks, The Chariot Is Slowly Hauled To Jawalakhel Where Thousands Of Devotees Burn Oil Lamps And Keep An All-Night Vigil. During This Chariot Festival The Bhoto Or Sacred Waistcoat, Itself The Subject To Many Legends, Is Displayed From The Chariot. A Final Ritual Is Then Conducted To Mark Lord Machchhendranath's Yearly Return To His Home In The Nearby Village Of Bungmati.
    </p>
    <h4 class="text-info">June - July – Aug</h4>
    <b>Gunla</b>
    <p class="row-margin-bottom-20">
        The Monsoon Has Arrived, And The Fields Have Been Planted. It Is Time For Kathmandu Valley Buddhists To Observe Gunla. The Month-Long Festivities Celebrate A Retreat- Initiated Twenty-Five Centuries Ago By The Buddha. It Is A Time For Prayer, Fasting, Meditation And Religious Music. Worshippers Climb Past Jungles, Stone Animals, Great Statues Of The Buddha, And Begging Monkeys To Swayambhu's Hilltop Where Daily Prayers Begin Before Dawn. Oil Lamps, Prayer Flags, Religious Statues, And Scroll Paintings Adorn The Monasteries As Temple Bells Chime And Powerful Scents Fill The Air. Important Buddhist Statues,, And Monasteries Are On Display At The Monasteries, And The Teachings Of Lord Buddha Are Remembered As The Rains Nurture The Rice, Nepal's Most Important Crop.
    </p>
    <b>Janai Purnima</b>
    <p>
        On Janai Purnima. A Full Moon Day, High-Caste Hindus Chant The Powerful Gayatri Mantra And Change Their Sacred Thread (Janai), While A Raksya Bandhan, A Red Or Yellow Protection Cord, Is Tied Around The Wrists Of Other Hindus And Buddhists. Pilgrims Journey To The Mountains North Of Kathmandu. Here They Emulate Lord Shiva By Bathing In The Sacred Lake Of Gosaikund. Those Unable To Make The Trek Celebrate At Shiva's Kumbheswar Mahadev Temple.
    </p>
    <h4 class="text-info">August – September</h4>
    <b>Gai Jatra</b>
    <p class="row-margin-bottom-20">
        The Gai, Or Cow, Is Holy To Hindus. She Represents Laxmi, The Goddess Of Wealth, And Guides The Souls Of The Departed To The Gates Of The Netherworld. But Gai Jatra Is Not A Somber Occasion. Satire, Jokes, Fancy Costumes, And Colorful Processions Are The Order Of The Day As People Recall How An Eighteenth-Century King Rallied His People To Cheer His Queen Upon The Death Of Their Son. Those Who Have Experienced The Death Of Close Ones During The Past Year Share Their Sorrow And Take Comfort In The Fact That The Gai Has Safely Transported The Departed Souls On Their Afterlife Journey. Young Men Wearing Women's Saris, Children Dressed Up As Cows, And Whimsical Characters Of All Sorts Fill The Streets. Special Issues Of Local Magazines Poke Fun At Everyone And Everything - Even The Most Important People Aren't Spared.
    </p>
    <b>Krishnashtami</b>
    <p class="row-margin-bottom-20">
        Krishnashtami Or The Birthday Of Lord Krishna, Is Celebrated In Commemoration Of The Hero Of The Hindu Epic Mahabharata. On This Day, Worshippers Carry Ornate, Decorated Statues And Pictures Of Lord Krishna Through The Streets, Often With Bands Of Musicians Following Or Preceding The Procession. In Patan, Thousands Of Devotees Flock To The Krishna Temple To Worship And Receive Blessings.
    </p>
    <b>Teej</b>
    <p>
        Pashupati, The Temple Of Shiva, Is Drenched In Crimson During Teej As Women In Their Fine Red Wedding Saris Crowd The Temple Grounds. This Unique Women's Festival Is Marked By Fasting, Folk Songs, And Dancing As The Women Recall Parbati's Devotion To Her Husband Shiva. Married Women Visit Their Fathers' Homes. All Daughters And Sisters Receive Gifts From Their Male Kin, And An Elaborate Feast Is Prepared For Them. It's A Loud And Cheerful Celebration Until Late At Night, When Strict Fasting Begins. Unmarried Women Who Fast On This Day Will Have Good Luck In Finding Suitable Husbands. Married Women Who Fast Will Find Their Husbands Faithful And Will See The Bond Of Love Grow. The Blessings Of Shiva And Parbati Ensure That Family Life Will Be Joyous For All.
    </p>
    <h4 class="text-info">September – October</h4>
    <b>Indra Jatra</b>
    <p class="row-margin-bottom-20">
        Indra, King Of Heaven And Controller Of The Rains, Has Once Again Blessed The Valley. As The End Of The Monsoon Nears, Farmers Look Forward To A Rich Harvest: Everyone Is Grateful To The Deva For His Help. For Eight Days, Kathmandu's Durbar Square Is The Focus Of A Great Celebration Fit To -Flatter The King Of Heaven." Indra's Dhwaj, Or Flag, Is Erected On The First Day. It Is Said That Many Centuries Ago, Indra's Mother Needed Specially -Scented Flowers But Could Not Find Them In Heaven's Gardens. Indra Discovered Parijat Flowers In The Kathmandu Valley And Tried To Steal Them For His Mother. He Was Caught And Imprisoned By The Valley People. When Indra's Mother Came Searching For Him The People Were Appalled By What They Had Done. They Released Indra And Dedicated One Of The Most Colorful Festivals Of Nepal To Him To Appease His Anger. Masks And Statues Representing Vishnu, Bhairab, And Shiva Are Shown To The Public, And The Goddess Kumari Witnesses The Special Occasion From Her Chariot. Indra Is Thanked For The Rains And Assured Once Again That He Is Respected In The Kathmandu Valley.
    </p>
    <b>Dashain</b>
    <p>
        Dashain Is The Longest And Most Favorite Festival Of Nepal. Everyone Stays Home With Their Families, Offices Close And Radio Nepal Plays Dashain Music. The Skies Of Kathmandu Are Filled With Kites And The Marketplaces Are Filled With Farmers Bringing Their Buffaloes, Goats And Chickens To Sell. The Animals Are To Be Sacrificed On The Night Of Kal Ratri To The Goddess Durga To Celebrate Her Victory Over Evil. On The Day Of Dashami, Everyone Puts On New Clothes And Goes To Honor Their Family Elders, Where They Receive Large Red Tikas Of Vermilion Paste On Their Foreheads. In The Following Days Of Dashain, Families And Friends Unite, Feasts Are Consumed, Blessings Are Imparted And Gifts Are Exchanged. Nepal's Most Beloved Festival Ends With The Full Moon.
    </p>
    <h4 class="text-info">October – November</h4>
    <b>Mani Rimdu</b>
    <p class="row-margin-bottom-20">
        Mani Rimdu Is A Sherpa Festival Celebrated During The Fall At Tengboche Monastery In The Everest Region. For Five Days, Lamas And Sherpas Gather For "The Good Of The World." There Are Plays, Masked Dances, Prayers, And Feasting. Demons Are Quelled And The Pious Rewarded. The Days Are Colorful And Trips To The Everest Region Are Very Rewarding Indeed If They Can Be Organized During The Days Of The Festival.
    </p>
    <b>Tihar</b>
    <p>
        Tihar, Known As The Festival Of Lights, Is A Time Of Candlelight, Tinsel Decorations And Festive Colored Sweets. On Different Days, There Are Offerings And Small Celebrations For Crows, Dogs, Cows And Oxen. On The Night Of Lakshmi Puja, Garlands Are Hung And Lamps Are Lighted To Invite Lakshmi, The Goddess Of Wealth, Into The Home. Mha Puja, The New Year's Day According To The Nepal Era, Is The Day Of The Self, When People Give Themselves Blessings To Remain Healthy And Happy For The Rest Of The Year. Bhai Tika, The Last Day Of Tihar, Is The Day When Sisters Make Offerings To Their Brothers. The Rituals Of Breaking A Walnut, Putting On Garlands Of Makhamali Flowers And Encircling Brothers In Rings Of Mustard Oil Protects Them From Yama, Lord Of The Netherworld.
    </p>
    <h4 class="text-info">November – December</h4>
    <b>Bala Chaturdarsi</b>
    <p class="row-margin-bottom-20">
        This Simple, Festive Day Takes Place In The Ancient Forest Surrounding The Temple Of Pashupatinath. It Is One Of The Oldest Traditions Of The Valley. Families Who Have Lost A Loved One In The Last Year Keep An All-Night Vigil In The Forest, Lighting Oil Lamps And Singing Songs.Following A Ritual Morning Bath, People Walk Through The Forest, Scattering Seven Types Of Grain Along The Paths And Over The Linga Of Lord Shiva To Give Merit To Their Late Kinsmen And To Cleanse The Sins Of A Mythological Man Called Bala Who Had Been Transformed Into A Demon.
    </p>
    <b>Bibah Panchami</b>
    <p>
        All The People Of The Hindu World Know The Story Of The Marriage Of The Hero Ram And The Princess Sita, As Told In The Epic Ramayana. King Janak, Sita's Father, Proposed A Test Of Strength For The Suitors Of His Daughter: To String The Great Bow Of Lord Shiva. Warriors, Kings And Chieftains Came From Afar, But No Man Could Even Lift The Bow. Ram Lifted The Bow With Ease And When He Tried To String It, The Bow Shat- Tered Into Pieces. Ram And Sita Were Married In Janakpur, Now In Southern Nepal, And Their Marriage Is Celebrated To This Day. Each Year, Idols Of Ram And Sita Are Brought Out In Procession And Their Hindu Wedding Ceremony Is Re-Enacted During A Week-Long Religious Fair. Bibah Panchami Reflects The Devotion Of Hindus To Ram, Perhaps The Most Popular Among The Incarnations Of Vishnu, And To Sita, The Model Of The Ideal Hindu Woman.
    </p>
</div>
