@{
    Layout = "~/Views/Shared/NepalLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Climate</b>
</div>
<div class="col-md-12">
    <p>
        Nepal Has A Typical Monsoonal Two-Season Year. There's The Dry Season From October To May And There's The Wet Season, The Monsoon, From June To September. September-November, The Start Of The Dry Season, Is In Many Ways The Best Time Of Year In Nepal. With The Monsoon Only Recently Finished, The Countryside Is Green And Lush. Nepal Is At Its Most Beautiful And There Are Some Colorful Festivals To Enjoy.
    </p>
    <p>
        Nepal Experiences 4 Seasons Spring (March-May), Summer (June-August), Autumn (September-November) And Winter (December-February).
    </p>
    <p>
        The Climate Is Varied Ranging From The Sub-Tropical Terai To The Cool Dry Temperate And Alpine Climate In The Northern Himalayan Ranges. In The Terai, The Hottest Part Of The Country, Summer Temperatures May Rise As High As 400c. The Climate Is Hot And Humid. In The Midmountain Region, The Summer Climate Is Mild With Temperatures Around 250 -270c. The Winter Temperatures Range From 70c To 230c In The Terai And Subzero To 120c In The Mountain Regions And Valleys. The Northern Himalayan Region Has An Alpine Climate. The Valley Of Kathmandu Has A Pleasant Equable Climate With Average Summer And Winter Temperatures Of 190-270c And 20-120c Respectively.
    </p>
</div>