
@{
    Layout = "~/Views/Shared/NepalLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Facts & Figures</b>
</div>
<div class="col-md-12">
    <p>
        <b>Location:</b> Between India & The Tibetan Autonomous Region Of The People's Republic Of China.
    </p>
    <p>
        <b>Area:</b>147,181 Sq. Kms.
    </p>
    <p>
        <b>Population:</b> Approximately 24 Million.
    </p>
    <p>
        <b>Latitude:</b> 26° 12' And 30° 27' North.
    </p>
    <p>
        <b>Longitude:</b> 80° 4' And 88° 12' East.
    </p>
    <p>
        <b>Capital:</b> Kathmandu
    </p>
    <p>
        <b>GMT Time:</b> + 05:45
    </p>
    <p>
        <b>National Flower:</b> Rhododendron Arboretum (Lali Gurans)
    </p>
    <p>
        <b>National Bird:</b> Impend Pheasant (Danfe).
    </p>
    <h4 class="text-info">Seasons</h4>
    <p>
        Winter (December-February),<br />
        Summer (March-May),<br />
        Monsoon (June-Aug),<br />
        Autumn (Sept-Nov)
    </p>
    <h4 class="text-info">People</h4>
    <p>
        Over 40 Ethnic Groups & 70 Spoken Languages.
    </p>
    <h4 class="text-info">Political-System</h4>
    <p>
        Multiparty Democracy With Constitutional Monarchy.
    </p>
    <h4 class="text-info">Topography</h4>
    <p>
        From The World's Deepest Gorge 'Kali-Gandaki' To The Highest Point On Earth, Mt. Everest At 8848m
    </p>
    <h4 class="text-info">Vegetation</h4>
    <p>
        Nepal Possesses Some Of The Most Outstanding Bio-Diversity In The World, Ranging From Sub-Tropical Rain-Forests To Alpine Deserts.
    </p>
    <h4 class="text-info">Climate</h4>
    <p>
        Climate Ranges From Sub-Tropical In The Low Lands To Arctic In Higher Altitudes.
    </p>
    <h4 class="text-info">World Heritage Sites</h4>
    <p>
        Ten (Of Which Seven World Heritage Sites Are Situated Within 20 Kms. Of Radius, In The Kathmandu Valley).
    </p>
    <h4 class="text-info">Flora And Fauna</h4>
    <p>
        840 Different Species Of Wet-Land, Migratory And Residential Birds. 8% Of The World's Population Of Birds.<br />
        11 Of The 15 Butterfly Families In The World.<br />
        2% Of The Flowering Plants.<br />
        4% Of Mammals On Earth.
    </p>
    <h4 class="text-info">Home To Endangered Species Like</h4>
    <p>
        Royal Bengal Tiger, One Horned Rhino, Snow - Leopard, Red Panda, Brown Bear, Assamese Macaque, Genetic Dolphin, Wolf, Wild Elephant , Giant Horn-Bill, Swamp Deer, Wild Yak, Tibetan Antelope, Black Buck, Four Horned Antelope, Musk Deer, Pigmy Hog, Hasped Hare, Pangolin, Gharial, Indian Bustard, Saras Crane, Impend Pheasant, Python, Etc
    </p>
    <h4 class="text-info">A Living Cultural Heritage</h4>
    <p>
        Nepal's Heritage Is Alive And Dynamic. Shamanism, Pan-Animism & Witch-Craft Are Still Practised In Remote Regions. Temples, Shrines, Monuments And Monasteries Are Extremely Active With Devotees Burning Butter-Lamps, Singing Hymns, Chiming Temple Bells And Playing Drums. The Only Country That Has Living Goddess "Kumari".
    </p>
</div>