@{
    Layout = "~/Views/Shared/NepalLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Geography</b>
</div>
<div class="well hidden-xs" style="padding:8px;">
    <img src="~/Content/img/NepalImages/geography.jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
    <p>
        Nepal Covers An Area Of 147,181 Square Kilometers, And Stretches 145-241 Kilometers North To South And 850 Kilometers West To East. The Country Is Located Between India In The South And China In The North. At Latitudes 26 And 30 Degrees North And Longitudes 80 And 88 Degrees East, Nepal Is Topographically Divided Into Three Regions: The Himalaya To The North, The Hills Consisting Of The Mahabharat Range And The Churia Hills In The Middle, And The Terai To The South. The Highest Point Is Mt. Everest (8848 M) In The North And The Lowest Point (70 Meters Above Sea Level) Is Located At Kechana Kalan Of Jhapa District. Altitude Increases As You Travel South To North To The North Temperatures Are Below -40 Degrees Celsius And In The Terai, Temperatures Rise To 40 Degrees Celsius In The Summer. During June, July And August, Nepal Is Influenced By Monsoon Clouds.
    </p>
    <h4 class="text-info">The Himalaya</h4>
    <p>
        The Himalayan Range Makes Up The Northern Border Of The Country And Represents 16% Of The Total Land Area Of Nepal. Peaks Like Mt. Everest (8848 M), Kanchenjunga (8598 M), And Dhaulagiri (8137 M) Are Found Here And Sparse Vegetation Is Found Up To 4,500 M. Some Of Nepal's Most Beautiful Animal And Plant Life Are Also Found Here. Although Rare, The Snow Leopard And Danphe Bird Are Much Talked-About Sights Among Visitors. The People In This Region Produce And Sell Cheese Besides Working As Porters And Guides. Many Also Trade With Tibet And Travel Across The Border To Sell Their Goods.
    </p>
    <h4 class="text-info">The Hills</h4>
    <p>
        This Region Covers 65% Of The Total Land Area Of The Country. Kathmandu, The Capital Of Nepal Is Located Here. Elevations Range From 500 To 3,000 M Above Sea Level. During Summer The Temperature Reaches An Average Of 32 Degrees Elsius. Winters Are Cold, Temperature Sometimes Reaches -1 Degree Celsius. Areas In The Eastern Hills Receive More Rainfall Because Of The Monsoon Clouds Which Come From The South-East. The Rivers In The West Which Do Not Receive Much Rainfall Are Dependent Upon The Melted Snow That Flow Down The Himalaya. Wild Animals To Be Found Here Are The Spotted Leopard, Barking Deer, And Himalayan Black Bear. The Hilly Region Is Also Popular For Different Kinds Of Birds. Over Four Hundred Species Of Birds Are Found Here. The People In This Region Have Gained From The Growth In The Tourism Industry. The People Here Work As Trekking Guides And Porters And Also Sell Garments And Carpets To Add To Their Income.
    </p>
    <h4 class="text-info">Terai</h4>
    <p>
        The Terai Covers 17% Of The Total Land Area Of Nepal. It Provides Excellent Farming Land And The Average Elevation Of Flatlands Is 100 To 300 M Above Sea-Level. In The Sub-Tropical Forest Areas Of Terai Are Found, Marshes And Wildlife Which Include The Royal Bengal Tiger, One Horned Rhino, And The Gharial Crocodile Etc. After The Eradication Of Malaria In The 1960s, Many People Migrated To The Terai In Search Of Farming Land. Today, About 48% Of The Country's Population Occupy This Region. Flat Farmlands And The Region's Flexible Topography Have Given Rise To Many Industries. The Main Industrial Towns Are Biratnagar, Butwal, Bhairahawa, Birgunj, And Janakpur. Calcutta, A Metropolitan City In India Is The Closest Sea-Port. It Lies 1,000 Kilometers Away From Birgunj.
    </p>
</div>
