
@{
    Layout = "~/Views/Shared/NepalLayout.cshtml";
}
<div class="well subheading-well">
    <b class="subheading">Jungle Safari</b>
</div>
<div class="well hidden-xs" style="padding:8px;">
    <img src="~/Content/img/NepalImages/jungle.jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
    <h4 class="text-info">Introduction </h4>
    <p>
        A Trip To Nepal Is Incomplete If You Have Not Been On A Jungle Safari. While The Mountains Of The North Boast Some Of The Highest And Most Magnificent Peaks In The World, The Tropical Jungles Of The Terai Still Preserve Some Of The Best Wildlife Habitat In The Subcontinent. Some Of These Rich Wildlife Habitats Are Now Protected And Can Be Toured On Elephant Back, 4WD, Dugout Canoe Or On Foot Accompanied By A Licensed Guide. 
    </p>
    <p>
        Nepal Has Sixteen National Parks, Wildlife Reserves And Conservation Areas, Occupying 16% Of Its Total Geographical Area. Jungle Safaris On Elephant Back Or Jeep Rides Are Offered At The Parsa Wildlife Reserve, Royal Bardia National Park, Royal Chitwan National Park And The Royal Suklaphanta Wildlife Reserve. 
    </p>
    <h4 class="text-info">Safari </h4>
    <b>Royal Chitwan National Park</b>
    <p>
        Chitwan National Park Is The Most Popular Destination For Tourists Wanting To Have A Good Experience Of The Region's Wildlife. It Was Declared A National Park In 1973. In 1984, UNESCO Designated Royal Chitwan National Park A Natural World Heritage Site. The Park Offers Protection To 56 Species Of Mammals Including The One-Horned Rhinoceros, Bengal Tiger, Leopard, Sloth Bear, Wild Elephant, Striped Hyena, Genetic Dolphin And Wild Bison. There Are Estimated To Be 470 Species Of Mammals, Over 500 Species Of Birds, 126 Species Of Fish, 150 Species Of Butterflies And 47 Species Of Reptiles In The Park! A Recent Study Also Points Out That Over A Third Of Nepal's Tigers Are In Chitwan. 
    </p>
    <p>
        The Park Is Spread Over An Area Of 932 Sq Kms And Located In The Lowlands Of The Kingdom. The Forest Cover Is Predominantly Sal Forest, Interspersed With Tall Grasslands, Small Hills, Ox-Bow Lakes And Flood Plains. 
    </p>
    <p class="row-margin-bottom-20">
        The Best Time To Visit Chitwan Is From October Through February, When The Temperature Averages 25 Degrees Celsius. The Months Of March, April And June Can Be Extremely Hot, While July-September Is The Monsoon Season When Rivers Swell And Parts Of The Park Are Inaccessible. 
    </p>
    <b>Royal Bardia National Park</b>
    <p>
        The Royal Bardia National Park Is Spread Over 968 Sq Km And Located In The Western Nepal Terai. It Is Easily The Largest And Least Disturbed Wilderness Spread In The Terai, And Is Predominantly Sal Forest Interspersed With Tall Grasslands. It Is Bound On The North By The Chure Hills And Is Skirted On The West By The Geruwa River, A Branch Of The Karnali Which Is A Major Tributary Of The Ganges. 
    </p>
    <p>
        It Is Generally Known As The Best Place Where Your Chances Of Spotting A Tiger In Nepal Are The Highest (Even Chitwan Comes A Second!). Other Animals Include The Rhinoceros, Swamp Deer, Leopards, Jungle Cats, Blue Bulls (Nilgai), Sloth Bears, Barking Deer And Langurs. There Are A Few Wild Elephants Here And One Of The Males Is Considered The Largest In Asia!
    </p>
    <p>
        The Geruwa River That Rushes In Through A Break In The Hill Range, Silt Laden And Full With Snowmelt, Is Home To The Famous Mahseer Game Fish, Gharial, Mugger Crocodile And The Freshwater Genetic Dolphin. The Park Also Has Cobras, Kraits And Pythons. 
    </p>
    <p>
        The Park Boasts More Than 250 Species Of Birds, Including The Endangered Bengal Florican, Sarus Crane And Many Species Of Geese, Ducks And Parakeets. 
    </p>
    <p class="row-margin-bottom-20">
        The Activities Here Include Jungle Safari On Elephant Back, Jungle Walks, Boat Rides And Jeep Drives. The Best Time To Visit The Park Is From October Through March. The Months Of April-June Are Unbearably Hot While July-September Is Monsoon Time. 
    </p>
    <b>Royal Suklaphanta Wildlife Reserve</b>
    <p>
        Suklaphanta Is A Smaller (305 Sq Km) Version Of Bardia In Many Ways. Located At The Southwestern Extreme Of The Kingdom, Its Topography Is Primarily Riverine Floodplains And Open Grassland And Sal Forest. It Also Has A Large Lake And The Bahini River Flows Through The Park. 
    </p>
    <p>
        The Park Is Home To Tiger, Leopard, A Good Number Of Swamp Deer (Prime Habitat, Often Sighted), Otters, Hispid Hare, Blue Bull (Nilgai), Leopard, Hog Deer And Wild Boar. 
    </p>
    <p>
        The Park Also Has Over 300 Species Of Birds And Most Of The Tourists Who Make The Trip Here Are Keen Bird Watchers. Reptiles Include Gharial And Mugger Crocodiles, Indian Python, Cobras, Kraits, Rat Snakes And Monitor Lizards. 
    </p>
    <p class="row-margin-bottom-20">
        Activities Here Include Wildlife Watching On Elephant Back And Jungle Walks. The Best Time To Visit The Park Is Feb-March. December And January Are Cold And Visibility Is Poor Due To Foggy Conditions, While April To June Is Hot. 
    </p>
    <b>Parsa Wildlife Reserve</b>
    <p>
        Parsa Wildlife Reserve Is Located To The East Of The Royal Chitwan National Park. It Is Spread Over 499 Sq. Km Of Hills And Flatlands, And Has A Sub-Tropical Monsoon Climate. The Forests Are Predominantly Sal (Shorea Robusta), With Other Tree Species Like Chir Pine, Sissoo And Khair, And Grasslands Making Up The Rest. This Reserve Has Tigers, Leopards, Sloth Bears, Wild Dogs (Dhole), Deer, Blue Bull (Nilgai), Hog Deer And Barking Deer. The Reserve Also Records Over 300 Species Of Birds, Including The Endangered Giant Hornbill And The Bengal Florican. Snakes Found Here Are Cobras, Kraits And Pythons. 
    </p>
    <p>
        The Best Time To Visit The Reserve Is During October To March, When Conditions Are Best. The Summer Months April-June Can Be Oppressively Hot, While July-September Is The Rainy Season. Activities Here Include Safaris On Elephant Back And Jeep, And Jungle Walks. 
    </p>
    <h4 class="text-info">Access And Accommodation </h4>
    <b>Chitwan</b>
    <p>
        RNAC Operates Daily Flights From Kathmandu To Meghauli ($72 Each Way). There Are Also Flights To Bharatpur (Narayanghat) For $55 Each Way. The Flights Take About Half An Hour. If You Want To Stay At Sauraha, The Budget Accommodation Place For Chitwan, Get To Tadi Bazaar, Located 15 Km East Of Narayanghat On The Mahendra Highway. Royal Chitwan National Park Is Easily Accessible From Kathmandu, Connected By A National Highway From Bharatpur To Sauraha. Sajha Yatayat Buses Cost Around Rs.80 From Kathmandu Or Pokhara While Tourist Buses Cost Around Rs.150. There Are Also Greenline Air-Conditioned Buses Between Kathmandu And Sauraha At Rs.480. Any Travel Agent In Kathmandu Or Pokhara Can Make A Booking. 
    </p>
    <p>
        The Other Exciting Way To Get To Chitwan Is To Take A Two-Three Day Rafting Trip Down The Trisuli River To Narayanghat, Or Directly Into The Western Edge Of The Park. 
    </p>
    <p class="row-margin-bottom-20">
        There Are Plenty Of Jungle Lodges And Hotels In And Around Chitwan, Broadly Classified As Those In The Park And Those In Sauraha. The Lodges In The Park Are Expensive And Mostly Cater To The Package Tourist Arriving From Kathmandu. For Budget Accommodation, Look Around Sauraha And Take Your Pick Of A Range Of Good Lodges. 
    </p>
    <b>Bardia</b>
    <p class="row-margin-bottom-20">
        To Reach The Royal Bardia National Park There Are Daily Flights As Well As Public Buses From Kathmandu To Nepalgunj. The Park Office Is Situated At Thakurdwara, 20 Km Southwest Along A Dirt Road From Anbassa On The Mahendra Highway. The Drive From Nepalgunj Takes Less Than 2 1/2 Hours, Although Local Buses Take Much Longer. For Thakurdwara, There Are A Couple Of Direct Buses From Nepalgunj At 11 Am And 2.30 Pm, Taking Three To Four Hours And Costing Rs.70. Night Buses From Kathmandu To Mahendranagar Can Drop You At Anbassa, Although They Get There In The Wee Hours Of The Morning. Buses To Mahendranagar Cost Rs.150 And To Pokhara Rs.350. There Are A Number Of Chitwan Style Lodges And Hotels That Have Sprung Up In The Recent Past, So There Is No Real Problem For Accommodation. However, In The Season, It May Be Advisable To Make A Booking Before Heading Out There. 
    </p>
    <b>Royal Suklaphanta</b>
    <p>
        The Reserve Is Situated Close To Mahendranagar On The Indian Border. The Ranger's Office Is 3km Past The Airport And Is Accessible By Rickshaw. The Only Company Operating Inside The Park, Silent Safari, Picks Up Guests At The Airport For $10. The Accommodation Provided Here Is In Comfortable Safari Tents And The Price ($150) Includes Meals, Game Drives And Walks. Advance Bookings Are Essential (099-21230, Fax 22220). 
    </p>
    <p class="row-margin-bottom-20">
        There Are Regular Buses And Flights To Mahendranagar From Kathmandu. Check With The Local Travel Agents. 
    </p>
    <b>Parsa</b>
    <p>
        The Reserve Headquarters For Parsa Are Located At Adabar On The Hetauda-Birganj Highway. Parsa Is Easily Accessible From Kathmandu. It Is Connected By Daily Flights To Simra And Buses That Ply Regularly On The National Highway. 
    </p>
    <h4 class="text-info">What To Bring Along</h4>
    <p>
        Although The Terai Can Be Cool During The Winter, It Can Be Stiflingly Hot During The Summer Months. If You Are Headed Here In Winter Bring A Sweater Or Jacket Along. Summer Months Require Cool Clothes. Good Walking Shoes, A Good Shady Hat And Sunscreen May Be Considered Essential. Make Sure Your Clothes Are In Neutral Colours That Help You Blend Into The Background. Red, Yellow And White Are Conspicuous. 
    </p>
    <p>
        Carry Along Some Mosquito Repellant, Anti-Diarrhea Tablets And Anti-Histamines. Lastly, Along With Photo Equipment, A Pair Of Binoculars Will Prove Invaluable. If You Are Closer To The Monsoon Months Carry Some Waterproof Jackets. Just In Case. 
    </p>
    <p>
        The Terai Jungles Are Also Famous For Leeches That Appear In The Monsoon And Are Around For A Few Months After. Salt Or A Lighted Cigarette Will Make Them Fall Off, Do Not Pull Them Off As The Wound May Get Infected. Try An Insect Repellant To Keep Them Away.
    </p>
</div>

