
@{
    Layout = "~/Views/Shared/NepalLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Mountain Flights </b>
</div>
<div class="well hidden-xs" style="padding:8px;">
    <img src="~/Content/img/NepalImages/mountainflight.jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
    <h4 class="text-info">Introduction</h4>
    <p>
        For The Traveller Who Is Unable To Make A Trekking Trip To The Mountains Either For The Lack Of Time Or Physical Fitness, And For The Less Adventurous, There Are Mountain Flights That Offer Some Of The Best Views Of The Majestic Himalayas. One Can Take An Hour-Long Flight With Any Of The Five Flight Operators That Are Presently Offering The Service. 
    </p>
    <p>
        The Flight Takes You Within Camera Range Of Some Of The Highest Peaks In The World, And Cruising This Close To The Awe-Inspiring Massifs Of Rock And Ice Is An Out-Of-This World Experience. 
    </p>
    <h4 class="text-info">Flying High</h4>
    <p>
        The Aircraft Takes Off And Heads Eastward And Almost Immediately The Peaks Come Into View. The First Peak That Appears On Your Horizon Is The Majestic Gosaithan, Also Called Shisha Pangma, Standing At A Height Of 8,013m. To Its Right Appears Dorje Lhakpa (6,966m), Looking Like A Massive Figure Of Eight Lying Prone And Covered In Snow. To Its Right Is Phurbi Chyachu, Which Looms Over The Kathmandu Valley. 
    </p>
    <p>
        As The Plane Glides Along, You Get Closer To These Giants. Next On Your Vision Is Choba Bhamare, Rather Small In This Company At 5,933m But Singularly Stubborn As It Remains Unconquered To This Day. Then Comes Mt. Gaurishanker (7,134m) Which Resisted All Attempts To Conquer Its Summit Until 1979. This Mountain Stands Out Sharp And Very Conspicuous During The Flight And Hindus Believe That Lord Shiva (Shanker) And His Consort Parvati Protect This Mountain. 
    </p>
    <p>
        As The Flight Moves Toward The Eastern Himalayas, A Succession Of Majestic Mountains Follows. Melungtse, With A Plateau-Like Top Stands At 7,023m. Chugimago, At 6,297m, Still Remains To Be Scaled. At 6,956m, Mt.Numbur Resembles A Breast, Believed To Be The Maternal Source In The Sky Providing Pure Milk To The Sherpas Of The Solokhumbu. Then Comes Karyolung, A Gleaming-White Mountain At 6,511m Resplendent In The Morning Sun. Cho-Oyu Is The Sixth Highest Mountain In The World At 8,021m, And Appears Stunningly Beautiful. 
    </p>
    <p>
        The Last And Most Exciting Stretch Of The Journey Takes You Close To Gyachungkang, Which Stands At 7,952m And Considered An Extremely Tough Climb. To Its Right Is Pumori At 7,161m And Nuptse At 7,855m, Also Called West Peak Signifying Its Location In Relation To Mt.Everest. Finally, There Is Mt. Everest Itself (8,848m), Called Sagarmatha By The Nepalese And Chomolungma By The Tibetans. It's A Different Feeling As One Comes Face To Face With The World's Tallest Mountain Standing There In All Its Splendid Glory, Beautiful And Enigmatic.
    </p>
</div>
