
@{
    Layout = "~/Views/Shared/NepalLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Paragliding </b>
</div>
<div class="well hidden-xs" style="padding:8px;">
    <img src="~/Content/img/NepalImages/paraglide.jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
    <h4 class="text-info">Introduction</h4>
    <p>
        Paragliding Is A Relatively New Adventure Sport In Nepal, And Little Information Is Available In Tourist Guidebooks. Paragliding In Nepal Can Be A Truly Wonderful And Fulfilling Experience For The Adventure Seeking. Experience Unparalleled Scenic Grandeur As You Share Airspace With Himalayan Griffin Vultures, Eagles, Kites And Float Over Villages, Monasteries, Temples, Lakes And Jungle, With A Fantastic View Of The Majestic Himalayas.
    </p>
    <p>
        The Last Three Years Have Seen The Activity Flourish In Pokhara And It Now Is An Internationally Recognized Destination For Free-Flight Enthusiasts.
    </p>
    <h4 class="text-info">Geography And Seasons</h4>
    <p>
        Gliding Is A Weather Dependent Sport And The Flying Season In Nepal Commences From November Through February, The Best Months Being November And December. By Virtue Of Its Latitude And Monsoonal Climate, The Tree Line In Nepal Is At An Incredible 3,900 M Above Sea Level. With Conditions Milder Than Summer Alpine, These Are Excellent And Constant Conditions. The Topography And Climate Of Nepal Also Make It An Ideal Destination For All Levels Of Pilots - Subtropical Conditions Provide Plenty Of Thermals And Combined With The Long Valleys Common In Nepal, They Produce Perfect `Cloud Streets' Ideal For Paragliders, Inviting Them To Fly Along This "Sky Highway". The Local Microclimate, Controlled By The Numerous Lakes Found In The Valley, Is Unique And Provides Excellent Flying Conditions.
    </p>
    <p>
        The Himalayas Are Made Up Of A Series Of Lesser Mountains Increasing In Size Before The Greater Himalayas, With Their Majestic Snow-Clad Peaks, Dominate The Sky. The Range That Is Now Offered For Paragliding Is The Mahabharata Range South Of These Giants. Most Flights Are Out Of Pokhara, A Town At The Foot Of The Annapurna Himal. This Beautiful Lakeside Town Nestles At The Foot Of The Annapurna Massif, Dwarfed By Three Of The Highest Mountains In The World. The Conditions, At Altitudes Ranging From 800m To 2100M, Are Known For Their Outstanding Beauty And Offer Some Of The Best Mountain Flying Experiences In The World.
    </p>
    <h4 class="text-info">Deals</h4>
    <p>
        There Are Various Deals For The Paragliding Enthusiast As Well As Those Checking This Sport Out For The First Time. There Is A Three-Day Introductory Course For Beginners, As Well As Tandem Flights (Where You Fly With An Instructor) For The Inexperienced Or Less Brave. At 6000 Ft You Sit Back In Your Own Seat As Your Qualified Pilot Takes You On An Unforgettable Journey. The Take-Off Point For These Flights Is Sarankot (1592 M), Which Also Offers Prime Views Of Phewa Tal And The Mountains At Sunrise And Sunset (Provided The Skies Are Clear) And The Landing Is By The Lake. No Previous Experience Is Required As Qualified Pilots Provide A Short Briefing Before Launching.
    </p>
    <p>
        Alternatively, Experienced Gliders Can Strike A Package Deal, Which Includes Being Picked Up At Kathmandu Airport On Arrival And Spending A Night In The Capital Before Heading For Pokhara. At Pokhara, After A Few Introductory Flights, You Could Take Off On A Six-Day Para-Trek To The Incredibly Beautiful West. While On The Para Trek, The Flyers Will Be Lodged Or Camp In Villages, With Local Sherpa Guides To Carry Equipment, Cook And Set Up Camp.
    </p>
    <p>
        So That All You Have To Do Is Relax And Think Of Flying These Incredible Mountains. For Those Coming In From The West, As The Agency Puts It, `You Can Leave Your Winter Flying Blues Behind'.
        *Equipment Is Not Available For Hire.
    </p>
    <h4 class="text-info">Caution</h4>
    <p>
        Paragliding Is Adventure Sport And Can Be Dangerous. To Minimise Risks, It Is Highly Recommended That You Book These Activities With Experienced And Qualified Instructors, With An Internationally Recognised License.
    </p>
    <h4 class="text-info">Access And Accommodation</h4>
    <p>
        The Bus Trip From Kathmandu To Pokhara Takes 7-8 Hours And Most Departures Are In The Early Hours Of The Morning. Public Transport Buses Cost Around Nrs. 120, While The Larger Tourist Buses Charge Nrs. 150 And The Tourist Minibuses Cost Nrs. 200. There Are Many Daily Flights To Pokhara From Kathmandu. The Flight Takes About Half An Hour And Costs $61. The Flight Also Gives You Some Great Himalayan Viewing If You Are Seated On The Right Side Of The Plane From Kathmandu To Pokhara, And Vice Versa.
    </p>
    <p>
        Pokhara Offers A Wide Variety Of Places To Stay And For All Kinds Of Budgets. There Are Roughly Four Accommodation Areas - Around The Bus Park And Bazaar, By The Airport, Damside (Pardi) And Lakeside (Baidam). While The Bazaar Area Offers Some Cheap Lodging, It Is Noisy And Far From Pleasant. The Hotels By The Airport Are Large And More Expensive, But They Are A Long Way From Lakeside. It Is Best To Check Out Places Around Lakeside, Where All The Action Happens, And Damside, Which Has Some Good Mid-Range Hotels And Also Affords The Best Mountain Views.
    </p>
</div>
