
@{
    Layout = "~/Views/Shared/NepalLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Rafting</b>
</div>
<div class="col-md-12">
    <div class="col-md-5">
        <p>
            White Water Rafting Means Cruising Down A Rushing River In An Inflatable Rubber Raft Or White Water Kayak Over Crashing Waves And Swirling Rapids For The Excitement Of A Lifetime. Nepal Has Earned A Reputation As One Of The Best Destinations In The World For White Water Rafting. Nepal's Thundering Waters, Coming From The Glaciers Of The Mighty Himalaya, Provide Unmatched Thrills For Rafting And Immersing Oneself In The Landscape. A Rafting Trip Is Bound To Be The Highlight Of Your Stay In The Country. 
        </p>
        <p>
            Rivers Are Graded On A Scale Of One To Six, With One Being A Swimming Pool And Six A One-Way Ticket To Your Maker. Four Is Considered To Be Quite Challenging Without Being Exceedingly Dangerous To The Novice Rafter. Five Requires Some Previous River Experience.
        </p>
        <p>
            Eleven Rivers In The Three River Systems Are Open For Tourists For Rafting. The Rivers Are:
        </p>
        <table class="table table-striped" >
            <tr>
                <th>River</th>
                <th>Section</th>
            </tr>
            <tr>
                <td>The Trisuli</td>
                <td>(Trisuli-Narayanghat)</td>
            </tr>
            <tr>
                <td>The Kali Gandaki</td>
                <td>(Kusma-Tiger Tops)</td>
            </tr>
            <tr>
                <td>The Bheri</td>
                <td>(Birendranagar- Chisapani)</td>
            </tr>
            <tr>
                <td>The Seti</td>
                <td>(Damouli-Tiger Tops)</td>
            </tr>
            <tr>
                <td>The Sunkoshi</td>
                <td>(Baseri-Chatara)</td>
            </tr>
            <tr>
                <td>The Karnali</td>
                <td>(Karaleghat-Chisapani)</td>
            </tr>
            <tr>
                <td>The Tama Koshi</td>
                <td>(Busti-Chatara)</td>
            </tr>
            <tr>
                <td>The Arun</td>
                <td>(Tumlingtar-Chatara)</td>
            </tr>
            <tr>
                <td>The Budhi Gandaki</td>
                <td>(Arughat-Trisuli)</td>
            </tr>
            <tr>
                <td>The Bhote Koshi</td>
                <td>(Kodari-Lartza Bridge)</td>
            </tr>
            <tr>
                <td>The Marshyangdi</td>
                <td>(Ngadi-Bimalnagar)</td>
            </tr>
        </table>
    </div>
    <div class="col-md-7">
        <div class="well hidden-xs" style="padding:4px;">
            <img src="~/Content/img/NepalImages/Rafting.jpg" class="img-bordered resp-img"/>
        </div>
        <h4 class="text-info">Nepal's River Systems</h4>
        <p>
            Nepalese Rivers Can Be Grouped Into Three Categories On The Basis Of Their Origin:
        </p>
        <ol>
            <li class="lipadding">Antecedent To Himalaya,</li>
            <li class="lipadding">After The Mahabharata. And</li>
            <li class="lipadding">After The Churia Range.</li>
        </ol>
        <p>
            Antecedent Rivers Belong To The Period Prior To The Rise Of The Himalaya. These Rivers Added Their Tributaries During Or After The Himalayan Origin Along With The Development Of Monsoon Climate. After The Formation Of Mahabharata Hills, The Antecedent Rivers Changed Their Courses As Mahabharata Stood As A Barrier. As A Result, Most Of The Rivers Changed Their Courses Either To The East Or West. Most Of These Rivers Were Responsible To Deposit The Sediments In The Churia Basin. 
        </p>
        <p>
            The Major River Systems Namely The Koshi, The Karnali And The Gandaki Belong To The Antecedent Group. Rivers Originating From The Mahabharata Range And Cutting Through Churia Hills Come Under The Second Group, These Include Kankai, Bagmati, Kamala Etc. The Third Group Of Rivers Originate From The Southern Face Of The Churia Hills. For The Purpose Of Commercial Rafting, The Following Rivers Are In Use.
        </p>
        <ol>
            <li class="lipadding">Saptakoshi River System (East Nepal)</li>
            <li class="lipadding">Narayani Or Saptagandaki River System (Central Nepal)</li>
            <li class="lipadding">Karnali River System (West Nepal)</li>
        </ol>
        <h4 class="text-info">Grade 1-2</h4>
        <p>
            <b>Easy</b>: Flat Water, Little Current And Mild Waves 
        </p>
        <h4 class="text-info">Grade 3</h4>
        <p>
            <b>Moderate</b>: Waves, Swift Current And Narrow Channels. Paddling Is Mostly Physical. 
        </p>
        <h4 class="text-info">Grade 4-5</h4>
        <p>
            <b>Difficult</b>: Powerful Water, Constricted Channels, Steep Drops And The Possibility Of Overturning A Raft. Padsdling Is Challenging And At Times Strenous. 
        </p>
        <h4 class="text-info">Grade 6</h4>
        <p>
            <b>Very Difficult</b>: Most Challenging!
        </p>
    </div>
</div>
<style>
    .lipadding{
        padding-top:5px;
        padding-bottom:5px;
    }
</style>