
@{
    Layout = "~/Views/Shared/NepalLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Restaurant</b>
</div>
<div class="well hidden-xs" style="padding:10px;">
    <div class="col-md-6 col-sm-6" style="padding:0px;">
        <img src="~/Content/img/NepalImages/restaurant.jpg" class="img-bordered resp-img" />
    </div>
    <div class="col-md-6 col-sm-6" style="padding:0px;">
        <img src="~/Content/img/NepalImages/restaurant1.jpg" class="img-bordered resp-img" />
    </div>
    <div class="clearfix"></div>
</div>
<div class="col-md-12">
    <p>
        Kathmandu Today Is Well Known In Tourist Circles For Its Fascinating Variety Of Exotic Cuisine. Within Thamel Alone, Which Is Only A Square Mile In Area, You Can Have Chinese, Korean, Japanese, Thai, French, Italian, Mexican, Russian, Tibetan Foods Besides Indian, Nepali And Typical Newari Meals. Along With The Food There Are A Wide Array Of Beverages To Choose From, Like The Local Rakshi (Rice Wine), Chang (Local White Beer), Tongba (Tibetan Alcoholic Drink), International Drinks And Many Locally Produced As Well As Foreign Beer. There Is Much To Choose In The World Of Tea And Coffee. There Are Cafes That Take Pride In Their Special Coffees. Tea And Coffee Are Grown In Nepal. There Are An Unbelievable Variety Of Places You Can Eat In. The Highest Standards Are Maintained By The Star Hotels, Which Also Have The Highest Prices In The Country. Here The Usual Fare Is Continental, Chinese, Indian And Nepali Food. Most Of The 5-Star Hotels Also Have Live Western, Indian Or Nepali Music As Well As Cultural Dances Most Days Of The Week Depending On The Time Of Year. Jazz Is Back In Favour In Many Hotels And One Well- Known Hotel Even Hires Philippino Bands During The Tourist Season. Then There Are High Priced Restaurants That Specialize In Nepali Food. They Will Serve You In Traditional Nepali Style While You Sit On Cushions Placed On The Floor Nepali Fashion. The Staff Is Dressed In Traditional Nepali Attire And They Usually Serve You A Tiny Glass Of Fiery Newari Rice Wine Called Aila. Do Take Only A Sip At A Time, As The Waiter Will Later Show You That This Drink Can Burn On Its Own. It Is Almost Pure Alcohol. The Main Course Is Usually Daal-Bhaat (Lentil And Rice) With A Variety Of Assorted Curries. While You Savour Your Meal, A Troupe Of Dancers Will Entertain You With Folk Dances And Songs From Different Regions Of Nepal. It Is Quite An Experience For The First Time Visitor.
    </p>
    <p>
        In Tourist Areas Like Thamel And Freak Street (Officially Jhochen), The Restaurants Are Middle Of The Order; Neither Cheap Nor Expensive. All Kinds Of Food And Drinks Can Be Had Here. From Vodka To Tequila Take Your Pick. There Is Even An Irish Bar That Not Only Serves Irish Food But Also Takes Pains To Try And Play Only Irish Music. Food In Thamel Can Be Good Or Bad Depending On Your Choice Of Restaurant. It Is Best To Go Where Recommended. Thamel Is Growing All The Time And Restaurants Can Be Found In The Far Corners Of This Tourist District. But There Are Also Cooks Who Don't Know What They Are Cooking. There Are A Few Vegetarian Restaurants Among The Hundreds Of Outlets. On Certain Days Of The Week Some Of These Eateries Have Live Bands To Entertain You. Many Are Blues Bands, Others Rock And Some Play Acoustic Music While Others Feature Nepali Folk.
    </p>
    <p>
        There Are Many Restaurants That Specialize In Food From A Certain Foreign Country. There Are Many Italian Restaurants, Which According To Tourists Are Up To The Mark. Some Are Good Simply Because They Are Run By The Right People E.G. An Italian Food Outlet Run By An Italian Is Expected To Have The Right Ingredients And Taste. There Are Many Thai Restaurants That Fly In Their Spices From Bangkok To Retain The Thai Flavour. Substitutes Can Never Taste Like The Real Thing. Restaurants, Which Serve Typical Russian Food Are Run By Nepali People Educated In Russia. There Are A Few Japanese And Korean Restaurants In Town While Most Restaurants Serve Chinese Cuisine. Restaurants Serving Newari (Newars Are The Indigenous People Of Kathmandu Valley) Food Are Interesting As Newars Eat An Astounding Variety Of Food Especially When It Comes To Meat. Tongues, Liver, Brains Etc All Find A Place In The Newari Kitchen. Durbar Marg Is Notable For Good Restaurants.
    </p>
    <p>
        Then There Are Fast Food Outlets And Other Cheaper Restaurants Where If Local Ethnic Foods Are Tried, The Taste May Be More Genuine Than In The Very Expensive Hotels. One Example Is The "Momo", Which Is Never Quite The Same In Star Hotels. These Have To Be Tried In Places Frequented By The Local Nepalese People. The Same Holds True For Chhang Or Tongba If At All They Are Served In Fancy Restaurants. A Few Guidebooks Will Advise You To Stay Away From Such Brews But Many Tourists Try Them Anyway. Some Restaurants Especially The Pizza Specialists Have Started Home Delivery Service At No Extra Charge.
    </p>
    <p>
        About Town There Are Restaurants That Advertise Gajal Music To Accompany The Food. They Usually Feature Hindi Film-Tunes Largely Because That Is What The Local Customers Demand. A Recent Development Is The Proliferation Of Dance Restaurants, Which Feature Skimpily Dressed Girls Dancing To Loud (Either Recorded Or Live) Music. Their Dances May Not Be Worth Watching But They Do Entertain If You Go By Their Popularity And The Simultaneously Dwindling Number Of Gajal Restaurants.
    </p>
</div>
