
@{
    Layout = "~/Views/Shared/NepalLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Top Peaks Of The World</b>
</div>
<div class="well hidden-xs" style="padding:8px;">
    <img src="~/Content/img/NepalImages/mt-everest.jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
    <table class="table table-bordered">
        <tr>
            <th>Mountain</th>
            <th>Country</th>
            <th>Height</th>
            <th>Date of Ascent</th>
        </tr>
        <tr>
            <td>1. Everest</td>
            <td>Nepal</td>
            <td>8848m / 29028ft</td>
            <td>29-May-53</td>
        </tr>
        <tr>
            <td>2. K2</td>
            <td>Pakistan</td>
            <td>8611 m / 28251ft</td>
            <td>31-July-54</td>
        </tr>
        <tr>
            <td>3. Kanchanjunga</td>
            <td>Nepal</td>
            <td>8586m / 28169ft</td>
            <td>25-May-55</td>
        </tr>
        <tr>
            <td>4. Lhotse</td>
            <td>Nepal</td>
            <td>8501m / 2789Oft</td>
            <td>18-May-56</td>
        </tr>
        <tr>
            <td>5. Makalu</td>
            <td>Nepal</td>
            <td>8463m / 27765ft</td>
            <td>15-May-55</td>
        </tr>
        <tr>
            <td>6. Cho Oyu</td>
            <td>Nepal</td>
            <td>8201 m / 26906ft</td>
            <td>19-Oct-54</td>
        </tr>
        <tr>
            <td>7. Dhaulagiri</td>
            <td>Nepal</td>
            <td>8167m / 26794ft</td>
            <td>13-May-60</td>
        </tr>
        <tr>
            <td>8. Manaslu</td>
            <td>Nepal</td>
            <td>8156m / 26758ft</td>
            <td>9-May-56</td>
        </tr>
        <tr>
            <td>9. Nanga Parbat</td>
            <td>Pakistan</td>
            <td>8126m / 26660ft</td>
            <td>3-June-53</td>
        </tr>
        <tr>
            <td>10. Annapurna</td>
            <td>Nepal</td>
            <td>8091m / 26545ft</td>
            <td>3-June-50</td>
        </tr>
    </table>
</div>
