@{
    Layout = "~/Views/Shared/WestBengalLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Outside Darjeeling</b>
</div>
@Html.Partial("~/Views/Shared/_pvDarjeeling.cshtml")
<div class="col-md-12">
    <h4 class="text-info">Kalimpong</h4>
    <p>
        Kalimpong Is A Small Hill Station Between Siliguri And Gangtok. The Road Is One Of The Most Scenic Routes In This Part Of The Nation. The Swift Flowing Teesta River Runs By The Side Of The Road Adding To The Beauty Of The Scenery.
        The Name, Kalimpong, Has Three Different Origins. One, It Means The Place Where The Local Tribesmen Gathered To Organize Field Sports, Second, It Takes Its Name From The Bhutanese King’s Minister’s Stronghold And Thirdly, It Is Named After Kaulim, A Fibrous Plant Found In Abundance In This Region.
    </p>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/WestBengal/Darjeeling/DeoloHill.JPG" alt="DeoloHill" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="DeoloHill" />
                </div>
            </div>
            <h5>Deolo Hill</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/WestBengal/Darjeeling/GrahamHomes.jpg" alt="GrahamHomes" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="GrahamHomes" />
                </div>
            </div>
            <h5>Dr. Graham's Homes</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/WestBengal/Darjeeling/MangalDham.jpg" alt="MangalDham" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="MangalDham" />
                </div>
            </div>
            <h5>Mangal Dham</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/WestBengal/Darjeeling/DurpinDara.jpg" alt="DurpinDara" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="DurpinDara" />
                </div>
            </div>
            <h5>Army Golf Club/Durpin Dara</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/WestBengal/Darjeeling/TarpaCholing.JPG" alt="TarpaCholing" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="TarpaCholing" />
                </div>
            </div>
            <h5>Tarpa Choling Monastery</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/WestBengal/Darjeeling/Nurseries.jpg" alt="Nurseries" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Nurseries" />
                </div>
            </div>
            <h5>Flower Nurseries</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/WestBengal/Darjeeling/ColnialBunglows.jpg" alt="ColnialBunglows" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="ColnialBunglows" />
                </div>
            </div>
            <h5>Colonial Bunglows</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/WestBengal/Darjeeling/KalimpongBazar.jpg" alt="KalimpongBazar" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="KalimpongBazar" />
                </div>
            </div>
            <h5>Kalimpong Bazar</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/WestBengal/Darjeeling/MorgenHouse.JPG" alt="MorgenHouse" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="MorgenHouse" />
                </div>
            </div>
            <h5>Morgen House</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/WestBengal/Darjeeling/Arts&CraftCentre.jpg" alt="Arts&CraftCentre" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Arts&CraftCentre" />
                </div>
            </div>
            <h5>Kalimpong Arts & Craft Center</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/WestBengal/Darjeeling/LepchaMuseum.jpg" alt="LepchaMuseum" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="LepchaMuseum" />
                </div>
            </div>
            <h5>Lepcha Museum</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/WestBengal/Darjeeling/ThresaChurch.jpg" alt="ThresaChurch" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="ThresaChurch" />
                </div>
            </div>
            <h5>St. Thresa Church</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/WestBengal/Darjeeling/ThongsaGumpa.JPG" alt="ThongsaGumpa" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="ThongsaGumpa" />
                </div>
            </div>
            <h5>Thongsa Gumpa</h5>
        </div>
    </div>
    <h4 class="text-info">PLACES TO SEE AROUND KALIMPONG</h4>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/WestBengal/Darjeeling/Algarah.JPG" alt="Algarah" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Algarah" />
                </div>
            </div>
            <h5>Algarah</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/WestBengal/Darjeeling/Loleygaon.jpg" alt="Loleygaon" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Loleygaon" />
                </div>
            </div>
            <h5>Loleygaon</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/WestBengal/Darjeeling/Lava.jpg" alt="Lava" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Lava" />
                </div>
            </div>
            <h5>Lava</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/WestBengal/Darjeeling/Pedong.jpg" alt="Pedong" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Pedong" />
                </div>
            </div>
            <h5>Pedong</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/WestBengal/Darjeeling/PedongMonestry.JPG" alt="PedongMonestry" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="PedongMonestry" />
                </div>
            </div>
            <h5>Pedong Monastery</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/WestBengal/Darjeeling/Gorubathan.jpg" alt="Gorubathan" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Gorubathan" />
                </div>
            </div>
            <h5>Gorubathan</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/WestBengal/Darjeeling/Rishap.jpg" alt="Rishap" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="Rishap" />
                </div>
            </div>
            <h5>Rishap</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/WestBengal/Darjeeling/NeoraValley.jpg" alt="NeoraValley" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="NeoraValley" />
                </div>
            </div>
            <h5>Neora Valley National Park</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/WestBengal/Darjeeling/SamtharVillage.JPG" alt="SamtharVillage" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="SamtharVillage" />
                </div>
            </div>
            <h5>Samthar Village</h5>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6 thumbbox">
            <div class="view view-first">
                <img src="~/Content/img/WestBengal/Darjeeling/SericultureResearch.jpg" alt="SericultureResearch" class="img-thumbnail resp-img" style="width:200px; height:210px;" />
                <div class="mask">
                    <input type="button" class="info" value="Know More" id="SericultureResearch" />
                </div>
            </div>
            <h5>Sericulture Research Institute</h5>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myPicLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="col-md-4 col-sm-5" style="padding:8px;">
                    <img src="" id="pic-path" class="img-rounded resp-img" />
                </div>
                <div class="col-md-8 col-sm-7" id="pic-details">

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script>
    $('.view input').on('click', function (e) {
        e.preventDefault();
        var alt = $(this).attr('id');
        if (alt == "DeoloHill") {
            $('#myPicLabel').text('Deolo Hill')
            $('#pic-path').attr('src', '/Content/img/WestBengal/Darjeeling/DeoloHill.JPG');
            $('#pic-details').html('<p>Deolo Hill Is Located In Kalimpong In West Bengal. The Town Is Situated Between The Ridge, Which Connects The Hills Of Durpin, And Deolo. Located In The Northeast Of Kalimpong, The Hill Provides The Perfect View Of The Meeting Point Of The Rangit And Teesta Rivers And The Town Of Kalimpong. There Are Three Reservoirs On The Top Of The Hill, Which Is A Source Of Drinking Water In The Area. The Deolo Hills Also Provide A Picturesque View Of Snow Peaks Of West Sikkim.</p>');
            $('#myModal').modal('show');
        }
        else if (alt == "GrahamHomes") {
            $('#myPicLabel').text("Dr. Graham's Homes")
            $('#pic-path').attr('src', '/Content/img/WestBengal/Darjeeling/GrahamHomes.jpg');
            $('#pic-details').html('<p>This Is A Unique Educational Institute. Housing 700 Boys And Girls Today, It Is Spread Over A 500 Acre Estate Complete With Own Dairy, Poultry And Bakery.</p>');
            $('#myModal').modal('show');
        }
        else if (alt == "MangalDham") {
            $('#myPicLabel').text('Mangal Dham')
            $('#pic-path').attr('src', '/Content/img/WestBengal/Darjeeling/MangalDham.jpg');
            $('#pic-details').html("<p>Amidst The Splendor Of Beauty And The Fragrance Of Flowers. It's The River Relli Which Meanders Down The Valley Of The Lush Green Hills And The Glimpses Of Snow-Capped Himalayan Ranges To The North That Enhances The Enchantment Of The Place, Attracting Thousands Of Tourists With Seasons As No Bar. Life Obviously Becomes Varied And Colorful Because The Inhabitants Comprise Of Various Ethnic Groups, Who Have Learnt To Live In Peace And In Harmony. Sprawling Over An Area Of Two Acres, 'Mangal Dham' Is Considered To Be One Of The Most Splendid Temples In India. It Is The Ground Floor Of The Dham, Where Lies The 'Samadhi' Of Our Revered Guruji.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "DurpinDara") {
            $('#myPicLabel').text('Army Golf Club/Durpin Dara')
            $('#pic-path').attr('src', '/Content/img/WestBengal/Darjeeling/DurpinDara.jpg');
            $('#pic-details').html("<p>Hewn Out Of A Hillside, To Keep Officers Fit For High Altitude Soldiering. Excellent Angle For Photography Of Durpin Monastery From 3rd Green.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "TarpaCholing") {
            $('#myPicLabel').text('Tarpa Choling Monastery')
            $('#pic-path').attr('src', '/Content/img/WestBengal/Darjeeling/TarpaCholing.jpg');
            $('#pic-details').html("<p>Situated On Tirpai Hill, Tharpa Choling Monastery Was Built Around 1937. The Monastery Belongs To The Gelukpa Sect Of Tibetan Buddhism, The Sect To Which The Present Dalai Lama Belongs. The Monastery Has A Library Of The Buddhist Manuscripts And Thangkas (Picture Or Representation Of A Deity On Cloth)</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Nurseries") {
            $('#myPicLabel').text("Flower Nurseries")
            $('#pic-path').attr('src', '/Content/img/WestBengal/Darjeeling/Nurseries.jpg');
            $('#pic-details').html("<p>Kalimpong Is Famous For Its Nurseries Which Export Exotic Flowers Like Amaryllis Lilies, Anthuriums, Roses, Gerbera, Dahlias, Gladiolas As Well As Orchids And Cacti. Some Important Nurseries Are : Brindaban Garden Nursery, Ganesh Mani Pradhan Nursery, L.B. Pradhan Nursery, Pinewood Nursery, Standard Nursery, Shangrila Garden Nursery, Twin Brothers Nursery, Universal Nursery And Others.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "ColnialBunglows") {
            $('#myPicLabel').text('Colonial Bunglows')
            $('#pic-path').attr('src', '/Content/img/WestBengal/Darjeeling/ColnialBunglows.jpg');
            $('#pic-details').html("<p>Built By British Wool Traders During The 'Raj' Period, Located On Rinkingpong And Hill Top Roads. These Include Surya Sadan, Crockety, Galingka, Morgan House, Tashiding, Ringking Farm. Of These, Morgan House And Tashiding, Now Government Tourist Lodges, Can Be Viewed.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "KalimpongBazar") {
            $('#myPicLabel').text('Kalimpong Bazar')
            $('#pic-path').attr('src', '/Content/img/WestBengal/Darjeeling/KalimpongBazar.jpg');
            $('#pic-details').html("<p>Best Explored Walking. Shop For Buddhist Thankas, Hand-Beaten Silver, Bhutanese Weaves, Chinese Lanterns, Copperware, Hand Stitched Clothing, Kukris, Local Handicrafts And Local Cheddar-Type Cheese And Lollypops.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "MorgenHouse") {
            $('#myPicLabel').text('Morgen House')
            $('#pic-path').attr('src', '/Content/img/WestBengal/Darjeeling/MorgenHouse.jpg');
            $('#pic-details').html("<p>The Lodge Is An Old Colonial Bungalow Located On The Hill. It Has Its Old World Charm And Is Secluded. This Bungalow Once Belonged To An English Jute Trader. It Provides A Good Garden And Lovely Views.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Arts&CraftCentre") {
            $('#myPicLabel').text('Kalimpong Arts & Craft Center')
            $('#pic-path').attr('src', '/Content/img/WestBengal/Darjeeling/Arts&CraftCentre.jpg');
            $('#pic-details').html("<p>Founded In 1897 By Mrs. Graham, Is A Thriving Center Where Carpet Weaving, Dyeing, Painting, Tailoring, Leather Craft And Carpentry Are Taught, Besides Promoting The Work Of Local Artisans And Craftsmen.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "LepchaMuseum") {
            $('#myPicLabel').text('Lepcha Museum')
            $('#pic-path').attr('src', '/Content/img/WestBengal/Darjeeling/LepchaMuseum.jpg');
            $('#pic-details').html("<p>The Lepchas Are The Indigenous People Of Kalimpong, Sikkim And Now Constitute A Minority. The Lepcha Museum Is Situated In Bag Dhara, A Kilometer Away From The Town Centre. The Museum Showcases The Culture Of The Lepcha Community And Displays Their Musical Instruments, Manuscripts, Articles Of Worship And Other Tools & Equipments Used By The Community. It Is An Important Place Of Learning For Those Who Wish To Know About The Religion And Culture Of This Vanishing Tribe.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "ThresaChurch") {
            $('#myPicLabel').text('St. Thresa Church')
            $('#pic-path').attr('src', '/Content/img/WestBengal/Darjeeling/ThresaChurch.jpg');
            $('#pic-details').html("<p>Built By Local Craftsmen To Resemble A Gumpa, It Has Wood Carvings Adorning The Walls, Depicting Biblical Scenes, In Which Personalities Resemble Buddhist Monks. An Interesting Example Of Tibetan Influences.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "ThongsaGumpa") {
            $('#myPicLabel').text('Thongsa Gumpa')
            $('#pic-path').attr('src', '/Content/img/WestBengal/Darjeeling/ThongsaGumpa.jpg');
            $('#pic-details').html("<p>The Oldest Monastery In The Area. Thongsa Monastery Is Also Of Bhutanese Origin And Was Built Around 1692, Making It The Oldest Monastery In The Region.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Algarah") {
            $('#myPicLabel').text('Algarah')
            $('#pic-path').attr('src', '/Content/img/WestBengal/Darjeeling/Algarah.jpg');
            $('#pic-details').html("<p>Algarah Is Famous For The Remains Of Ancient Damsang Fort. It Is Said That King Damsang Had Built This Fort With The Help Of His Evil Spirits Who Brought The Round Smooth Big Stones From The River Rishi. Bringing Stones By Human From That River Which Is Located In A Far Distance Is Really A Next To Impossible Task. The Surrounding Villages Of This Small Bazaar Are Paiyung Busty, Santook Menzong And Dalapchand. People Of These Villages Depend Upon Agriculture, Floriculture Milk Production Etc.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Loleygaon") {
            $('#myPicLabel').text('Loleygaon')
            $('#pic-path').attr('src', '/Content/img/WestBengal/Darjeeling/Loleygaon.jpg');
            $('#pic-details').html("<p>Loleygaon, Also Known As Kapher, Is A Fantastic View Point For Natural Beauty In Kalimpong. This Place Encloses A Heritage Forest And Also Enriched With Lovely Woody Terrains. One Can View Amazing Beauty Of Snow Capped Singalila Ranges From This Location. An Ideal Spot To View The Marvel Of Sunrise, This Place Can Be Reached From The Heart Of The Kalimpong Through A Lovely Travel Through The Hilly Forest Regions. The Breathtaking Views Of The Kanchenjunga Peak And The Other Himalayan Mounts And The Pleasant Cool Atmosphere Add The Attraction Of The Place. The Natural Picnic Spot Is The Home Of Many Wild Animals And Variety Of Birds.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Lava") {
            $('#myPicLabel').text('Lava')
            $('#pic-path').attr('src', '/Content/img/WestBengal/Darjeeling/Lava.jpg');
            $('#pic-details').html("<p>Lava Is Situated At A Height Of 7200 Ft. And Is 101 Kms From Siliguri Via Kalimpong. The Beauty Of This Quiet And Romantic Place Lies In Its Dense Forests Of Berch, Pine And Juniper And The Variety Of Orchids. While At Lave, Enjoys A Day's Outing To The Fascinating Chhangey Ralls With 2 Sunrise Points Viz. Ghanti Dara And Tiffin Dara, Lava Monastery, Nature Interpretation Centre.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Pedong") {
            $('#myPicLabel').text('Pedong')
            $('#pic-path').attr('src', '/Content/img/WestBengal/Darjeeling/Pedong.jpg');
            $('#pic-details').html("<p>Straddling A Ridge Between Kalimpong And Lava, Pedong Is A Small Quiet And Peaceful Town Nestled At A Comfortable Elevation Of 4500ft, Which Ensures A Pleasant Climate Round The Year. Surrounded By Pine Forests On Rolling Hill Slopes Pedong Commands Some Magnificent Views Of Snow Ranges Of Mount Kanchenjunga. Being A Peaceful Location Amidst The Natural Environ Pedong Is An Ideal Offbeat Destination In Kalimpong Hills. Although Ranked Among The Lesser Known Destinations From Tourism Point Of View Pedong Has Everything That A Tourist Needs Apart From Modern Luxury. The Pristine Landscape Dominated By Greater Himalayan Ranges, Long River Valleys, Unbroken Forest Tracts, Colorful Ethnic People In Picturesque Villages, Old Monasteries, Short Nature And Village Treks, Myths And Legends.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "PedongMonestry") {
            $('#myPicLabel').text('Pedong Monastery')
            $('#pic-path').attr('src', '/Content/img/WestBengal/Darjeeling/PedongMonestry.jpg');
            $('#pic-details').html("<p>Pedong Monastery Near The Damsang Fort Is Of Bhutanese Origin. It Is Situated About A Kilometer From The Damsang Fort.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Gorubathan") {
            $('#myPicLabel').text('Gorubathan')
            $('#pic-path').attr('src', '/Content/img/WestBengal/Darjeeling/Gorubathan.jpg');
            $('#pic-details').html("<p>Gorubathan Is A Small Town In The Kalimpong Subdivision Of Darjeeling District. The Place Is Also Known Among Locals As Sombare. The Name Has It Origin In Weekly Village Market (`Hut`) Organized At Gorubathan On Every Monday (`Sombar`). The Attractive Location Of The Place Has Attracted A Lot Of Tourism Attention. Local Consorto Club Has Taken Efforts To Promote Gorubathan As A Tourist Destination. Some Private Accommodations Are Also Been Set Up In Their Active Collaboration. The Forest Department Is Also Working On Major Projects To Promote Tourism At Gorubathan.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "Rishap") {
            $('#myPicLabel').text('Rishap')
            $('#pic-path').attr('src', '/Content/img/WestBengal/Darjeeling/Rishap.jpg');
            $('#pic-details').html("<p>Rishap Is A Small Hamlet At Tri-Junction Of Sikkim, West Bengal And Bhutan And It Reached By A 9 Km Jeep Able Road From Lava. You Can Also Reach There By A 3 Km Trek From Lava. Over Viewing Neora Valley National Park And With Spectacular 360 Degree Views Of Snow Clad Peaks & Passes (Mt. Khangchendzonga, Nathula, and Jelepa) Rishap Is A Real Treat For Tired Eyes And Souls. An Excellent View Of Kanchenjungha From 'Tiffin Daran' In Rishop Attracts Tourists To This Place. Sunrise In Rishop Will Be In Memory For Years.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "NeoraValley") {
            $('#myPicLabel').text('Neora Valley National Park')
            $('#pic-path').attr('src', '/Content/img/WestBengal/Darjeeling/NeoraValley.jpg');
            $('#pic-details').html("<p>The Neora Valley National Park, A Compact Patch Of Virgin Forest, Is A Unique Area Of Rich Bio-Diversity. The National Park Comprises Tropical & Temperate Vegetations Like Oak, Bamboo, Rhododendron, Tree Ferns, Codal And Different Orchids. A Number Of Animals Like Red Panda, Himalayan Thar, Tiger, Goral, Himalayan Black Bear, Wild Boar, Wild Dog And Clouded Leopard And Birds Like Redstart, Whistling Thrush, Golden Headed Black Finch, Niltava, Yuhina Are Found In This National Park. Apart From This A Large Number Of Avian Species Are Resident To This Area. Situated In The Kalimpong Sub-Division Under Darjeeling District Is One Of The Richest Biological Zones In The Entire Northeast.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "SamtharVillage") {
            $('#myPicLabel').text('Samthar Village')
            $('#pic-path').attr('src', '/Content/img/WestBengal/Darjeeling/SamtharVillage.jpg');
            $('#pic-details').html("<p>Is The Ideal Base To Live In Comfort And To Experience The Finest Hospitality. You Can Walk Everyday Along Different Trail To Explore Nature And Culture, And Watch Birds Samthar Is Off The Usual Tourist Circuit. The Surrounding Area Is Ideal For A Walking Holiday, Away From Crowds. You Can Visit Ethnic Villages Inhabited By Friendly Lepcha, Nepali And Bhutia Families. Our Local Guide Will Introduce You To The Local Folks. Many Mountain Streams Tumble Down To The Valleys. Samthar River Has Lovely Cascades And Pools.</p>");
            $('#myModal').modal('show');
        }
        else if (alt == "SericultureResearch") {
            $('#myPicLabel').text('Sericulture Research Institute')
            $('#pic-path').attr('src', '/Content/img/WestBengal/Darjeeling/SericultureResearch.jpg');
            $('#pic-details').html("<p>At This Institute Silkworms Are Bred And Silk Is Produced As Well As Herbs And Plants. Locate On The Road To Darjeeling, The Institute Can Be Visited Between 9.30 Am And 4 Pm.</p>");
            $('#myModal').modal('show');
        }
    });

</script>