
@{
    ViewBag.Title = "Partner With Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-header text-center">
    <h2 class="section-title">Partner With Us</h2>
</div>
<div>
    <p>
        Our Partner Programs Are Designed With A View To Maximize End Customer Benefits In A Timely And Cost Effective Manner. Our Partners Comprise Of A Wide Variety Of Companies That Can Be Leveraged For Mutual Benefit.
    </p>
    <p>
        Travel Management Companies, India &  World Over Can Partner With Us And Get All The Advantages Of Working With An Organization That Has An Intensive On Ground Presence In Foothills Of Sikkim & Darjeeling Himalayas Region Along With A Dedicated Team To Manage All Your Leisure And Corporate Travel Requirements.
    </p>
    <p>
        <b>For Queries Mail Us.</b>
    </p>
</div>
