
@{
    Layout = "~/Views/Shared/SikkimLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Prior To Entry To Sikkim </b>
</div>
<div class="col-md-12">
    <h4 class="text-info">Prior To Entry To Sikkim All Foreign Nationals, Nri’s, Oci & Pio Holders Entry Formalities & Documentation</h4>
    <p>
        Most Of The Major Areas In Sikkim Falls Under The Restricted & Protected Area, As Such For All People As Well As People Of Sikkim Origin To Also Visiting To Restrict & Protected Areas & Beyond  Procurement Of The Advance Permit & Prior Booking Is Mandatory.
        Permit Is Required And Advance Information With Relevant Documents & Photos Is Required.
    </p>
    <p class="text-danger">
        Nationals From Pakistan, China, Myanmar, Bangladesh, Afghanistan, Ghana, Iraq, Palestine, Nigeria, Swaziland, Cameroon, Ethiopia, Liberia, Somalia And Zimbabwe Need To Obtain The Prior Approval Of The Ministry Of Home Affairs, Government Of India, New Delhi To Visit Sikkim.
    </p>
    <h4 class="text-info">FREE ILP </h4>
    <p>
        Visa For India As Per The Norms Of The Indian Government Is Applied But Inner Line Permit For Sikkim Visit A Nominal Amount Or Free, For  Is Available For Foreign National, NRI’s, OCI & PIO Holders However, For Extension Of ILP  The Rule Is Same (Free Or At A Nominal Cost).
        Beside A Valid Indian Visa All Foreign Nationals, NRI’s & PIO Holders Should Obtain Special Permit Known As Inner Line Permit (ILP) From The Following Places.
    </p>
    <p>
        In Case The Advance ILP Is Not Procured In That Case It Could Be Avail Easily At The Entry Point At Sikkim Check Post.
    </p>
    <table class="table table-bordered">
        <tr>
            <th>ILP Facility</th>
            <th>Duration</th>
            <th>Documents Required</th>
            <th>Issued From</th>
        </tr>
        <tr>
            <td>Single Entry</td>
            <td>30 Days Maximum</td>
            <td>Photocopies Of Valid Passport & Indian Visa Along With 04 Nos. Coloured Passport Photos</td>
            <td>At The Time Of Applying For Indian Visa at All Indian Mission / Embassy / Consulate / Diplomatic Missions Locate In Or Near Their Respective Countries Or At Selected Entry Points (International Airport) In India Or One Can Avail / Request For Special Permit Or ILP To Visit Sikkim. Or On Arrival At India One Can Obtained From Ministry Of Home Affairs, Government Of India, Lok Nayak Bhawan, New Delhi District Magistrates Office Of Darjeeling. All Foreigners Registration Offices Of Sikkim Tourism In India At New Delhi, Kolkotta, SIliguiri & Bagdogra Airport. On Arrival At The Sikkim Entry Check Post At Melli & Rangpo</td>
        </tr>
    </table>
    <p>
        After Obtaining The Inner Line Permit, Once In Sikkim Bonafide Foreign Tourists, Individuals As Well As Groups,
        Following Places Are  'Open' For Foreign Tourists.
        Individual Foreign Visitors May Visit / Stay At Any Of The Following Towns In Sikkim<br />
        <br />
        EAST :      Gangtok-Rumtek-Pakyong,Barapathing-Rongli-Renak-Aritar-Rorathang<br />
        WEST :     Geyzing. Pemayangtse . Khechepheri, Tashiding. Yuksom. Soreng<br />
        NORTH :  Phodong. Mangan. Singhik<br />
        SOUTH :    Namchi. Ravangla

    </p>
</div>