
@{
    ViewBag.Title = "Ropeway";
    Layout = "~/Views/Shared/SikkimLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Rope Way / Cable Car</b>
</div>
<div class="well hidden-xs" style="padding:10px;">
    <img src="~/Content/img/SikkimImages/ROPEWAY.jpg" class="img-bordered resp-img"/>
</div>
<div class="col-md-12">
    <p>
        You Don't Have To Be In Switzerland To Ride On Cable Cars. Unlike In The West, The Cable Car In Gangtok, You Must Experience Ropeways Or Cable Cars Located At Deorali Market. This Cable Car Journey Is Not Included In Local Tour Packages And This Place Can Be Easily Covered During Your Stay In Gangtok.
    </p>
    <p>
        This Rope Way Of About Less Than 1 Km Long Has Three Entry Points Or Stops. The Lowest Point Is At Deorali Market And The Highest Point Is At Tashiling (Below The State Secretariat). There Is A Midpoint Stop At Nam-Nang. One Can Enter From Any Point And Return To Same Point After Touching Other Two Points. Cable Car Journey Provides Spectacular View Of Gangtok Market, Valley And State Assembly Hall Of The State Of Sikkim On Its 15 To 20 Minutes Journey. 
    </p>
</div>
