
@{
    ViewBag.Title = "Services Provided";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-header text-center">
    <h2 class="section-title">Services Provided</h2>
</div>
<div>
    <p>
        Few Of Our Services Are, But Not Limited To
        <ul class="custom-bullet">
            <li>
                Travel & Hotel Reservations 
            </li>
            <li>
                Helicopter Charter
            </li>
            <li>
                Tour & Transport Arrangements
            </li>
            <li>
                Trekking & Expedition
            </li>
            <li>
                Special Interest Tours
            </li>
        </ul>
    </p>
</div>