@{
    Layout = "~/Views/Shared/SikkimLayout.cshtml";
}


<div class="well subheading-well">
    <b class="subheading">People</b>
</div>
<div class="well hidden-xs" style="padding:10px;">
    <div class="col-md-4 col-sm-4" style="padding:0px;">
        <img src="~/Content/img/np1.jpg" class="img-bordered resp-img" />
    </div>
    <div class="col-md-4 col-sm-4" style="padding:0px;">
        <img src="~/Content/img/lc1.jpg" class="img-bordered resp-img" />
    </div>
    <div class="col-md-4 col-sm-4" style="padding:0px;">
        <img src="~/Content/img/bh.jpg" class="img-bordered resp-img" />
    </div>
    <div class="clearfix"></div>
</div>
<div class="col-md-12">
    <p>
        Sikkim is a multi-ethnic state. Broadly, the population can be divided into Tribal and Non- Tribal groups.
        The people from the plain mostly involved in Trade and services represent a marginal group.
    </p>
    <h4 class="text-info">The Lepchas</h4>
    <p>
        It is an established fact that the earliest inhabitants of the land were the Lepchas. The Lepchas were food gathering people who claimed they came from Mayel, a legendary kingdom on the slopes of Khangchendzonga.
        They lived in close harmony with nature, for she gave them all they needed—the flesh of
        animals, fruits, medicinal herbs, honey and fibres that could be woven in fabric. They called themselves, Rong Pa literally meaning ravine folk or the Mutanchi,
        meaning the beloved people of the mother earth.
    </p>
    <p>
        The Lepchas also call themselves as Rongkup (Children of Rong) followed Bongthing and worshipped the spirits of mountains, forests and rivers
        that is to say nature in general. They are a simple people in rhythm with nature. They speak Lepcha language - the most ancient language. The Lepchas are mongoloid in appearance with oblique eyes small in stature and fair in complexion who are amiable, cheerful,
        hospitable, shy, good humoured, sociable, indolent, docile and peace loving. Most of them are concentrated in the Dzongu valley of North Sikkim. They used to live on hill tops "which cannot be reached easily”. They lived in hunting,
        fishing, trade and later agriculture. They are also good entomologists in identifying the names and behaviour of the wild animals, birds, insects, fishes, frogs, medicinal herbs and also at ease to distinguish all the edible roots, bulbs, fruits and plants of
        the jungle from that of the poisonous ones. The Lepchas are expert weavers and cane craftsmen and very handy with the bow and arrow. These days they follow Buddhism and some are converted to Christianity.
    </p>
    <h4 class="text-info">The Bhutias</h4>
    <p>
        The Bhutias came to Sikkim sometime in the 15th century and are mainly descendants of the early settlers from Tibet and Bhutan.
        They accompanied ancestors of the first Chogyal Phuntsog Namgyal. They settled in higher altitude, driving the Lepchas into the
        forests and lower valleys. The Bhutias are sturdy and well built with a good physique and mongolian features. The Bhutia villages are big and are arranged in tiers
        on undulating hills. They are followers of Buddhism and the monasteries occupy predominant place and play an important role in the socio-cultural life of the Bhutias.
        They prefer to live in patriarchal joint family. The Bhutia families are known as the category of village headmen and Landlords or Kazis.
    </p>
    <p>
        The Bhutias promoted Jhooming (shifting) cultivation as they possessed plenty of cultivable lands and sowed paddy, kodo
        (millet), maize and other cereals. The Bhutias have imbibed the Tibetan Civilization in regard to their dresses, ornaments, religion and scripts. Their language is Sikkimese language
        (Bhutia language) and they follow Buddhism. The Bhutia language is taught up to degree level. University of North Bengal has included Bhutia, Lepcha and Limboo languages since 2000 as
        Modem Indian languages. Sikkimese Bhutia language is a State recognised language.
    </p>
    <h4 class="text-info">The Nepalese</h4>
    <p>
        The Nepalese comprise over 70 percent of Sikkim’s population. They began to settle down in Sikkim since the last two decades of 19th century.
        Their settlement in Sikkim was encouraged by the British. The Nepali community of Sikkim is a mélange of various castes and a highly stratified society, speaking their own vernacular
        and having a culture of their own. They are divided into the Bahuns, Chettris, Newars, Mangers, Murmis, Rais, Limbus, Tamangs, Gurungs and scheduled caste namely Kamis, Damais and Sarkis. The New Nepali settlers were invited and brought as an agrarian
        force and promoters of sharecrops. They introduced the terrace farming to give the landscape an unimpeachable beauty and a sensible
        agricultural system which suited very much the terrain of Sikkim.
    </p>
    <p>
        Nepali language-the lingua-franca of the State is spoken by all communities in Sikkim. This language is widely taught
        in schools and colleges in the State.
    </p>
    <p>
        It is essential here to point out that there are many people from other states of India settled in Sikkim. Firstly, the Marwaris who belong to business community, who
        came to promote trade via Sikkim to Tibet and later also in Sikkim. They have settled in Sikkim since long. Besides Marwaris there are people from Bihar and Haryana. These communities are also
        involved in business and other associated works and allied professions. Rest of the people from other States are employed in Central and State Government jobs and in other professional areas
        like teaching and other technical areas.
    </p>
</div>
