
@{
    Layout = "~/Views/Shared/WestBengalLayout.cshtml";
}


<div class="well subheading-well">
    <b class="subheading">Elephant Back Ride</b>
</div>
<div class="well" style="padding:10px;">
    <div class="col-md-6" style="padding:0px;">
        <img src="~/Content/img/WestBengal/elephantride.jpg" class="img-bordered resp-img" />
    </div>
    <div class="col-md-6" style="padding:0px;">
        <img src="~/Content/img/WestBengal/ride.JPG" class="img-bordered resp-img" />
    </div>
    <div class="clearfix"></div>
</div>
<div class="col-md-12">
    <p>
        You Have Also Got The Options Of Exploring The Forest Regions Via Elephant.
        In Dooars Areas In Jaldapara, Gorumara, Lataguri
    </p>
    <table class="table table-bordered">
        <tr>
            <td>Morning Safari</td>
            <td>3½Hours Between</td>
            <td>0630 And 1130 Hrs</td>
        </tr>
        <tr>
            <td>Afternoon Safari</td>
            <td>3½Hours Between</td>
            <td>1430 And 1730 Hrs</td>
        </tr>
    </table>
</div>