
@{
    Layout = "~/Views/Shared/WestBengalLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Festivals </b>
</div>
<div class="well hidden-xs" style="padding:10px;">
    <div class="col-md-6 col-sm-6" style="padding:0px;">
        <img src="~/Content/img/WestBengal/durgapuja.jpg" class="img-bordered resp-img" />
    </div>
    <div class="col-md-6 col-sm-6" style="padding:0px;">
        <img src="~/Content/img/WestBengal/festival.jpg" class="img-bordered resp-img" />
    </div>
    <div class="clearfix"></div>
</div>
<div class="col-md-12">
    <p>
        The Durga Puja Is The Main Festival Which Is Celebrated In West Bengal. Durga Puja Is The Most Important Hindu Festival Of Bengalis. This Festival Is Celebrated With Music, Dance And Drama For 10 Days.
        During These Days, The Devotees Worship The Ten Armed Goddess Durga In Various Beautifully Illuminated And Decorated Pandals. On The Last Day, The Clay Figures Of The Goddess Durga Are Carried Out In Procession To Be Immersed In The River Ganges.
    </p>
    <p>
        Ganga Sagar Mela, Mahesh Yatra, Id, Muharram, Holi, Diwali And Christmas Are The Other Festivals Which Are Celebrated In West Bengal
    </p>
</div>
