@{
    Layout = "~/Views/Shared/WestBengalLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">General Requirement</b>
</div>
<div class="col-md-12">
    <h4 class="text-info">Original Passport Valid For At Least 6 Months</h4>
    <p>
        U.S. Passport Or Passport Of Any Other Nationality Must Have At Least 6 Months Remaining Validity And With At Least Two Blank Pages From The Day Of Entry Into The Country For Which VISA Has Been Applied For Six-Month Multiple-Entry Tourist Visas (Valid From The Date Of Issue) Are Granted To Nationals Of Most Countries Regardless Of How Long You Intend To Stay.
    </p>
    <h4 class="text-info">Correct Visa Fee</h4>
    <p>
        Visas Are Priced In The Local Currency And Vary For Different Nationals. The Nationals Are Advised To Contact The Embassy To Check The Cost.<br />
        Two Passport Size Photographs<br />
        Supporting Documents, Where Necessary<br />
        Duly Completed Application Form
    </p>
    <h4 class="text-info">Additional Requirement For Tourist Visa</h4>
    <p>
        Tourists Wishing To Visit India / West Bengal Will Normally Be Granted Tourist Visa, Effective From The Date Of Issue. Tourist Visa Are Non-Extendible And Non-Convertible, Who Have To Visit India Frequently May Be Granted Tourist Visa For A Longer Duration.
    </p>
    <h4 class="text-info">Transit Visa</h4>
    <p>
        Transit Visa Are Valid For Halts Of Up To 72 Hours In India Within 15 Days From The Date Of Issue Of The Visa And Must Be Obtained Before Departure. Transit Visa Cannot Be Obtained From Immigration Counters At Ports Of Entry In India. Evidence Of Onward Travel To A Destination Outside India Is Required.
    </p>
    <h4 class="text-info">Entry Visa</h4>
    <p>
        Entry Visa Are Issued To Persons Of Indian Origin For Duration Of Up To 5 Years. These Can Be Obtained, Depending On The Purpose Of Visit And Eligibility, On A Case By Case Basis.
    </p>
    <p>
        For More Information, Please Visit The Site <a href="Http://Passport.Gov.In">Http://Passport.Gov.In</a>
    </p>
    <p class="text-info">
        *** Any Holder Of A Tourist Visa Who Wishes To Re-Visit Must Wait At Least Two Months Before Re-Entering. This Time Will Be Factored Into The Total Duration Of Your Visa (Usually Either 90 Or 180 Days). For Tourist Visa Holders Who Wish To Visit India Within 2 Months Of Their Last Visit, An Application For A Permit To Re-Enter India Is Necessary.
    </p>
    <p class="text-info">
        The Letter Must Highlight The Urgency Of The Visit And The Purpose Of The Visit Must Be For Recreation/Sight- Seeing, Casual Visit To Meet Friends And Relatives/Others (To Be Specified).
    </p>
    <p class="text-info">
        They May Not Be Engaged In Business Activities/Employment Or Pursuing Studies/Research, Etc.
        Application Can Be Made For A More Flexible Arrangement Through Nearest Indian Mission
        For More Information visit the website Of The Indian Ministry Of Home Affairs.
    </p>
    <p class="text-info">
        Persons Holding Long Term Visa (Having Validity Exceeding 6 Months) Are Normally Not Expected To Stay In India More Than 6 Months During Each Visit. Please Refer To The Boxed Note Further Down For Requirement To Register With The Foreigners Registration Office (FRO)/Foreigners Regional Registration Office (FRRO).  5 Year And 10 Year Visas Are Available Only To US Citizens Under A Bilateral Arrangement.
    </p>
    <ul class="customizedbullet">
        <li>All Non-US Passport Holders Are Only Eligible For Up To A Six (6) Month Tourist Visa.</li>
        <li>There Are Additional Restrictions On Travelers From Bangladesh And Pakistan, As Well As Certain Eastern European, African And Central Asian Countries. Check Any Special Conditions For Your Nationality With The Indian Embassy In Your Country.</li>
        <li>Here Is A Useful Link That Does A Quick Check To Let You Know If You Need A Visa At All. It Can Be Used For All Countries www.visatoindia.com</li>
        <li><b>Visa Fees</b> Are Non-Refundable And Subject To Change Without Notice. The High Commission Reserves The Right On Granting And Deciding Type/Duration Of Visa Irrespective Of The Fees Tendered At The Time Of Making Application.</li>
    </ul>
    <h4 class="text-info">Visa Extensions</h4>
    <ul class="customizedbullet">
        <li>Fourteen-Day Visa Extensions Are Possible At The Discretion Of The <b>Ministry Of Home Affairs</b> Or Contact The <b>Foreigners' Regional Registration Office</b> Delhi  This Is Also The Place To Come For A Replacement Visa If You've Had Your Lost/Stolen Passport Replaced (Required Before You Can Leave The Country).</li>
        <li>The FRRO Is Permitted To Issue An Extension Of 14 Days, Free For Nationals Of All Countries Except Japan, Sri Lanka, Russia And Romania Depending On The Number Of Entries. You Must Bring Your Confirmed Air Ticket, One Passport Photo And A Photocopy Of Your Passport (Information And Visa Pages).</li>
        <li>Extended Visas (Up To Five Years) Are Possible For People Of Indian Descent (Excluding Those In <b>Pakistan And Bangladesh</b>) Who Hold A Non-Indian Passport And Live Abroad. For Visas Lasting More Than Six Months, You Need To Register At The <b>Foreigners' Regional Registration Office (FRRO)</b> Within 14 Days Of Arriving In India; Inquire About These Special Conditions When You Apply For Your Visa. Contact Your Embassy For More Details.</li>
    </ul>
    <h4 class="text-info">Location Of Embassies/ Consulates</h4>
    <p>
        A List Of All The Foreign Embassies And Consulates In West Bengal. You Can Also Access Their Addresses And Contact Details. The Section Will Surely Prove To Be A Boon For Those Planning To Visit West Bengal.
        For More Information Refer To  <a href="http://india.gov.in/overseas/embassies.php">http://india.gov.in/overseas/embassies.php</a>
    </p>
</div>