
@{
    Layout = "~/Views/Shared/WestBengalLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Paragliding</b>
</div>
<div class="col-md-12">
    <div class="col-md-8 col-sm-7">
        <p>
            Paragliding Is A Relatively New Adventure Sport, And Little Information Is Available In Tourist Guidebooks. Paragliding In Sikkim Can Be A Truly Wonderful And Fulfilling Experience For The Adventure Seeking. Experience Unparalleled Scenic Grandeur As You Share Airspace With Himalayan Eagles, Kites And Float Over Villages, Monasteries, Temples, Lakes And Jungle, With A Fantastic View Of The Majestic Himalayas.
            This Aero Sport Is Now Increasingly Getting Popular In Darjeeling Both With Tourists And Locals. After All Who Doesn't Want To Fly Like A Bird? And That Too Watching The Lovely Mountain Landscapes, Tiny Houses & Mountain Villages, Kanchenjunga Snow Peaks And Even The Everest From The Sky. Like To Experience The Paradise? Try Paragliding In Darjeeling. It Can Be Done By Anyone. If You Have Never Done It Before, Don't Worry, There Is Something Called Tandem Paragliding Where A Guide Will Accompany You And Control The Whole Flight. All You Have To Do Is To Enjoy Being In Paradise
        </p>
    </div>
    <div class="col-md-4 col-sm-5 hidden-xs">
        <img src="~/Content/img/WestBengal/paragliding.jpg" class="img-bordered resp-img"/>
    </div>
    <div class="clearfix"></div>
    <h4 class="text-info">Geography And Seasons</h4>
    <p>
        Gliding Is A Weather Dependent Sport And The Flying Season Commences From November Through May, The Best Months Being November And December .These Are Excellent And Constant Conditions. The Topography And Climate Also Make It An Ideal Destination For All Levels Of Pilots -They Produce Perfect `Cloud Streets' Ideal For Para gliders, Inviting Them To Fly Along This "Sky Highway".
    </p>
    <p>
        Paragliding Is Adventure Sport And Can Be Dangerous. To Minimize Risks, It Is Highly Recommended That You Book These Activities With <b>Experienced And Qualified Instructors</b>.
    </p>
</div>
