
@{
    Layout = "~/Views/Shared/WestBengalLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Tea Plantation & Factory Tour</b>
</div>
<div class="well hidden-xs" style="padding:10px;">
    <img src="~/Content/img/WestBengal/teagarden.jpg" class="img-bordered resp-img" />
</div>
<div class="col-md-12">
    <p>
        Tea Was First Introduced To This Himalayan City In West Bengal In The Mid-19th Century By The British, And These Sprawling Tea Estates Are Still Reminiscent Of That Culture.
        Besides Its Quaint Eateries, Vibrant Markets Hidden In Busy Lanes And Hilltops That Are Home To Stunning Vistas, There Is A Range Of Charming Tea Estates.
    </p>
    <p>
        Also In Dooars Area Plantation Was Started By The British Tea Company, Duncan Brothers In 1897 As An Out Division Of Newlands Tea Estate. Phaskowa Tea Estate Was Passed Into The Hands Of The Chamarias, The Present Owners In 1967.
        Phaskowa Tea Estate Stretches 650 Acres From Buxa Tiger Reserve To River Rydak. The Unique Experience Of The Wildlife Sanctuaries, Sub-Himalayan Treks, Acres Of Tea Plantations And Your Stay At The Old Colonial Raj Era Bungalow Will Be The Memories To Cherish Lifetime.
    </p>
    <p>
        That Stand Apart In The List Of Places To Visit In West Bengal.
        A Trip To These Vast Stretches Of Tea Plantations Is All About Misty Mornings, Tea Leaves Blooming Under The Sun, And Endless Walks Discovering Various Types Of Tea And Of Course, Sipping Your Favorite Brew. Here's Your Guide To Exploring The Best Tea Gardens.
        Glenburn Tea Estate<br />
        Makaibari Tea Estate<br />
        Lopchu Tea Estate<br />
        Phaskowa Tea Estate & More
    </p>
</div>