
@{
    Layout = "~/Views/Shared/WestBengalLayout.cshtml";
}

<div class="well subheading-well">
    <b class="subheading">Western Dooars</b>
</div>
@Html.Partial("~/Views/Shared/_pvDooars.cshtml")
<div class="well hidden-xs" style="padding:10px;">
    <div class="col-md-3 col-sm-3" style="padding:0px;">
        <img src="~/Content/img/WestBengal/Dooars/Bhutanghat.jpg" class="resp-img img-bordered" />
    </div>
    <div class="col-md-3 col-sm-3" style="padding:0px;">
        <img src="~/Content/img/WestBengal/Dooars/Jaldhaka.jpg" class="resp-img img-bordered" />
    </div>
    <div class="col-md-3 col-sm-3" style="padding:0px;">
        <img src="~/Content/img/WestBengal/Dooars/Gorumara.jpg" class="resp-img img-bordered" />
    </div>
    <div class="col-md-3 col-sm-3" style="padding:0px;">
        <img src="~/Content/img/WestBengal/Dooars/Toto%20Para.jpg" class="resp-img img-bordered" />
    </div>
    <div class="clearfix"></div>
</div>
<div class="col-md-12">
    <p>
        The Western Dooars Is Most Popular Among Tourists. The Gorumara Forests And Its Surrounding Area Brings Hordes Of Tourists To This Part Every Year. The Surrounding Offers A Number Of Tourist Destinations As Samsing, Bindu, Jhalong, Chapramari And Others. A Tour To Eastern Dooars Can Be Easily Combined With Parts Of Kalimpong Especially Lava, Lolegaon,
        Rishap.
    </p>
    <h4 class="text-info">Western Dooars Gorumara Forests (Popular Among Tourists)</h4>
    <b>Location, Approach & Access </b>
    <p>
        Located In The Flood Plains Of Murti And Jaldhaka River Of The Dooars Region In Jalpaiguri. It Is 15 Km From Lataguri, 10 Km From Chalsa And 52 Km From Jalpaiguri. 
    </p>
    <b>Prime Attraction</b>
    <p>
        The Main Attractions Are Rhinoceros, Elephant, Gaur, Leopard, Hornbill Etc.The Scenic Landscapes, Magnificent Forests, Tall Elephant Grasses And Rippling Streams Are Added To The Nature Of This Park. Jeep / Gypsy Safari, Visit To Watch Tower, Elephant Ride And Birding Are Some Of The Adventure Tourist Can Indulge In.
       <br /> *Gorumara N.P. Is Closed During Rainy Season From 16th. June To 15th. Sept.
    </p>
    <h4 class="text-danger">OTHER ACTIVITIES IN THIS AREA</h4>
    <h4 class="text-info">Raas Mela (November - December) </h4>
    <p>
        Raas Mela Is The Most Ancient And Traditional Of All Fairs. The Celebrations Commence From The Auspicious Day Of Purnima In The Month Of Kartik According To Bengali Calendar. This Traditional Fair Goes On For 15 Days.
    </p>
    <h4 class="text-info">Mongpong</h4>
    <p>
        The Journey Starts From Coronation Bridge. The First Stop On The Dooars Express, Mongpong, Is A Destination In Its Own Right. Trek Through The Virgin Forests Or Let The Serpentine Mud Tracks Vanishing Into The Deep Woods Beckon You On A Voyage Of Discovery. And While You Are At It Let The Moisture Laden Cool Breeze With The Fragrance Of The Forest Uplift You.
    </p>
    <h4 class="text-info">Malbazar</h4>
    <p>
        At A Distance Of 40 Km From Siliguri And 65 Km From Jalpaiguri, Malbazar Is One Of The Most Important Towns In Dooars. It Is Famous For Its Tea Gardens And Scenic Spots And As A Base Of Starting Package Tours To The Hills And Other Places Around. The Siliguri-Alipurduar Broad Gauge Intercity Express Passes Through Malbazar. This Is One Of The Most Beautiful Train Rides Anywhere.
    </p>
    <h4 class="text-info">Murti</h4>
    <p>
        Located Beside The Murti River, This Place Has A Lovely Forest Resort. With The Nature's Generosity At Its Best, The Small Village Of Murti, By The Side Of The Rivulet Murti, Is A Desired Winter Picnic Spot For Local Residents.
    </p>
    <h4 class="text-info">Samsing</h4>
    <p>
        At A Distance Of 82 Km From Siliguri, It Takes About 3 Hours To Reach Samsing From Siliguri Through The Most Picturesque Landscape. Beside Jaldhaka River, It Is Famous For Its Scenic Beauty, Orange Plantations And Forest Resort.
    </p>
    <h4 class="text-info">Jaldhaka</h4>
    <p>
        All Around Is A Forest So Deep And So Green, It Radiates An Ethereal Energy. Some Of The Roads Here Are So Quiet That You Can Hear The Crickets And Birds Distinctly Even At 10 In The Morning. Walking Around Here Is A Great Experience As There Is Beauty Hidden Around In Every Corner.
    </p>
    <h4 class="text-info">Toto Para</h4>
    <p>
        A Small Village On The Bank Of The River Torsha Near The Bhutan Border, Famous For The Dooars Aboriginals - The Totos. Totos Are One Of The Most Primitive Tribes In The World. Totopara Is The Only Place Where The Totos Live.
    </p>
    <h4 class="text-info">Bhutanghat</h4>
    <p>
        This Is Famous For Its Scenic Beauty Beside River Raidak Bordering Bhutan.
    </p>
    <h4 class="text-info">Phuntsholling</h4>
    <p>
        It Is The Border And A Major Gateway To Bhutan.
    </p>
</div>
