html {
    font-family: sans-serif;
}
body {
    margin: 0;
}
body.main {
    background-color: #bdc3c7;
    padding: 10px 20px 0;
}
a {
    background: transparent none repeat scroll 0 0;
}

a:active, a:hover {
    outline: 0 none;
    text-decoration: none;
}
hr {
    box-sizing: content-box;
    height: 0;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
body.login {
    background-color: #bdc3c7;
    color: #2c3e50;
}
body.login .wrapper {
    background-color: #ecf0f1;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.04);
    margin: 10% auto;
    padding: 20px;
    width: 300px;
}
body.login .wrapper .brand {
    margin-top: -15px;
}
body.login .wrapper .brand h1 {
    display: block;
    margin-bottom: 20px;
}
body.login .wrapper .brand h1 .logo-icon {
    background: #2c3e50 none repeat scroll 0 0;
    border-radius: 40px;
    height: 75px;
    margin: auto;
    padding: 15px;
    width: 75px;
}
body.login .wrapper .brand h1 .logo-icon i[class*="icon-"] {
    color: #1abc9c;
    font-size: 140%;
    margin-left: -5px;
}
body.login .wrapper .text-center .checkbox {
    text-align: center;
}
body.login .wrapper .text-center legend {
    text-align: center;
}
body.login .wrapper .text-center legend input {
    float: none;
}
body.main {
    background-color: #bdc3c7;
    padding: 10px 20px 0;
}
.sprite-image, #beaker {
    background-image: url("../images/sprite-8460f675.png");
}
form .form-actions {
    background-color: #f5f7f7;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin: 15px -15px -15px;
    padding: 15px;
}
form .form-actions a.btn:hover {
    color: #28e1bd;
}
.text-center {
    text-align: center;
}
.panel .panel-tools {
    float: right;
    margin-right: -8px;
    margin-top: -4px;
}
.panel .panel-tools .btn-group {
    margin-top: -6px;
}
.panel .panel-tools .btn-group, .panel .panel-tools .label, .panel .panel-tools .badge {
    display: inline-block;
    float: right;
}
.panel .panel-tools .btn {
    color: #2c3e50;
    font-size: 1em;
    font-weight: 200;
    padding: 8px 6px;
}
.panel .panel-tools .btn:hover {
    color: #1abc9c;
}
.panel .panel-tools .btn:active, .panel .panel-tools .btn:focus {
    box-shadow: none;
    color: #148f77;
}
.panel .panel-tools .btn span.badge {
    font-size: 0.7em;
    padding: 2px 4px;
}
.panel .panel-tools .label, .panel .panel-tools .badge {
    font-weight: 200;
    margin-right: 5px;
    margin-top: 4px;
    padding-bottom: 4px;
}
.grid .filters {
    background-color: #fbfcfc;
}
.grid .filters .input-group input {
    height: 30px;
}
.grid .filters .input-group button {
    height: 30px;
    padding: 0 10px;
}
.grid table {
    margin-bottom: 0;
}
.grid table th:first-child, .grid table td:first-child {
    padding-left: 15px;
}
.grid table tr.disabled {
    opacity: 0.4;
}
.grid table tr.disabled td {
    text-decoration: line-through;
}
.grid table tr.disabled td.action {
    text-decoration: none !important;
}
.grid table td.action {
    padding: 5px;
    width: 15%;
}
.grid table td.action .btn {
    height: 25px;
    padding: 2px 6px;
}
.grid .panel-footer {
    padding: 10px 10px 5px;
}
.grid .panel-footer .pagination {
    margin: 0;
}
#navbar .navbar-brand {
    font-size: 1.8em;
}
#navbar .nav > li > a {
    padding: 15px 10px;
}
#navbar .navbar-nav > li > .dropdown-menu {
    margin-top: -5px;
}
#navbar li.dropdown.user img {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid;
    height: 20px;
    margin: -2px 5px 0;
    padding: 1px;
    width: 20px;
}
#wrapper {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    bottom: 0;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.04);
    left: 20px;
    overflow: hidden;
    position: absolute;
    right: 20px;
    top: 70px;
}
#content, #sidebar {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
#sidebar {
    background-color: #2c3e50;
    text-align: center;
    width: 80px;
    z-index: 1;
}
#sidebar i#toggle {
    color: #3e5771;
    display: inline-block;
    margin-top: 20px;
}
#sidebar ul#dock {
    border-right: 1px solid #1a242f;
    color: #ecf0f1;
    margin: -15px 0 0;
    padding: 0;
    text-align: center;
    width: 80px;
}
#sidebar ul#dock li.launcher {
    cursor: pointer;
    list-style: outside none none;
    margin-top: 25px;
    padding-bottom: 10px;
}
#sidebar ul#dock li.launcher > i {
    display: block;
    font-size: 1.5em;
    margin-bottom: 4px;
}
#sidebar ul#dock li.launcher > a {
    color: #ecf0f1;
    display: block;
    font-size: 12px;
    height: 36px;
    margin-top: -36px;
    padding-top: 36px;
    position: relative;
    text-decoration: none;
}
#sidebar ul#dock li.launcher ul.dropdown-menu {
    border-left-width: 0;
    margin-left: 85px;
    position: absolute;
    text-align: left;
    top: 8px;
    width: 180px;
}
#sidebar ul#dock li.launcher ul.dropdown-menu > li > a {
    padding: 5px 20px;
}
#sidebar ul#dock li.launcher ul.dropdown-menu a, #sidebar ul#dock li.launcher ul.dropdown-menu li.dropdown-header {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
#sidebar ul#dock li.launcher ul.dropdown-menu li.dropdown-header {
    border-radius: 4px;
    color: #1abc9c;
    margin-top: -5px;
    padding: 5px 20px;
}
#sidebar ul#dock li.launcher ul.dropdown-menu li.dropdown-header::before {
    background-color: #2c3e50;
    content: " ";
    display: inline-block;
    height: 10px;
    margin-left: -25px;
    margin-top: 4px;
    position: absolute;
    transform: rotate(45deg);
    width: 10px;
}
#sidebar ul#dock li.launcher:hover > i, #sidebar ul#dock li.launcher:hover > a, #sidebar ul#dock li.launcher.active > i, #sidebar ul#dock li.launcher.active > a {
    color: #1abc9c;
    transition-duration: 0.4s;
    transition-property: color;
    transition-timing-function: ease-in-out;
}
#sidebar ul#dock li.launcher:hover::before, #sidebar ul#dock li.launcher.active::before {
    background-color: white;
    content: "";
    display: inline-block;
    height: 10px;
    margin-top: 22px;
    position: absolute;
    right: -6px;
    transform: rotate(45deg);
    width: 10px;
}
#content {
    background-color: white;
    left: 80px;
    margin-top: 51px;
    overflow: auto;
    padding: 20px;
}
#tools {
    margin-left: 80px;
}
.breadcrumb
{
    background-color: #DFE0E3;
}

#tools #breadcrumb {
    border-bottom: 1px solid #dddddd;
    border-radius: 0;
    padding: 15px 20px;
}
#tools #breadcrumb .title {
    color: #1abc9c;
    font-weight: 700;
    font-size: 15pt;
}
#tools #breadcrumb a {
    color: #869198;
}
#tools #toolbar {
    border-bottom: 0 none;
    float: right;
    height: 50px;
    margin-right: 10px;
    margin-top: -70px;
    padding: 8px;
}
#tools .btn-group, #tools .label, #tools form {
    display: inline-block;
    float: right;
}
#tools .btn-group .btn span.badge {
    background-color: #2c3e50;
    font-size: 0.7em;
    font-weight: 200;
    padding: 3px 5px;
}
#tools .label {
    font-size: 0.9em;
    font-weight: 200;
    height: 23px;
    margin-right: 5px;
    margin-top: 6px;
    padding: 5px;
}
#beaker {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100px auto;
    bottom: 5px;
    height: 24px;
    margin-left: 33px;
    position: absolute;
    width: 12px;
}

/*.navbar {
    display: none;
}*/

.navbar-default {
    background-color: #bdc3c7 !important;
    border-color: rgba(0, 0, 0, 0);
}
.navbar {
    border-radius: 4px;
}
.navbar {
    border: 1px solid transparent;
    margin-bottom: 20px;
    position: relative;
    max-height: 40px;
}
#navbar .navbar-brand {
    font-size: 1.8em;
    padding-top: 2px;
    padding-bottom: 2px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    border-color: #428bca;
    text-decoration: none;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}
