@{
    ViewBag.Title = "About";
}
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MountPandim.cshtml";
}
<style>
    .header-right {
        margin-top: 0px;
    }
</style>



<div class="main-cont">

    <div class="inner-page">
        <div class="inner-breadcrumbs">
            <div class="content-wrapper">
                <div class="page-title">Mount Pandim Tours &amp; Travel</div>
                <div class="breadcrumbs">
                    <a href="#">About</a> / <a href="#">Mount Pandim</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="content-wrapper">

            <div class="portfolio-full">
                <div class="portfolio-full-img"><img alt="" src="~/MountPandim/img/portfolio-full.jpg" /></div>
            </div>
            <div class="portfolio-full-more">
                <div class="portfolio-full-more-l">
                    <h3>Contact Us</h3>
                    <div class="p-item-details">
                        <div class="p-item-details-i">
                            <div class="p-item-details-il">Phone:</div>
                            <div class="p-item-details-ir">+(91) 700-125-9482</div>
                            <div class="clear"></div>
                        </div>
                        <div class="p-item-details-i">
                            <div class="p-item-details-il">Email:</div>
                            <div class="p-item-details-ir">info@mountpandim.com</div>
                            <div class="clear"></div>
                        </div>
                        <div class="p-item-details-i">
                            <div class="p-item-details-il">Web:</div>
                            <div class="p-item-details-ir">www.mountpandim.com</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="p-item-social">
                        <a href="#" class="team-fb"></a>
                        <a href="#" class="team-tw"></a>
                        <a href="#" class="team-gp"></a>
                        <a href="#" class="team-inst"></a>
                        <a href="#" class="team-pint"></a>
                    </div>
                </div>
                <div class="portfolio-full-more-r">
                    <div class="portfolio-full-more-rb">
                        <div class="portfolio-full-more-p">
                            <h3>About Us</h3>
                            <div class="portfolio-full-more-txt">Established in 2011 with a Vision to become one of the best and renounced travel operator of Sikkim. We are registered under the government of Sikkim. We believe in working together, understanding each and every requirements of our guest and framing it in a best possible way.</div>
                            <div class="portfolio-full-more-txt">Our moto is to serve our guest with full dedication. We not only help gather sweet memories but we make great friends. </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
            

        </div>
    </div>
</div>